-.json
{"data":[{"createdAt":"2025-05-09T16:10:25.273Z","updatedAt":"2025-05-09T16:31:36.000Z","id":"54p5iJOhBMrZ2358","name":"GitHub STORE","active":false,"nodes":[{"parameters":{"includeTime":false,"options":{}},"id":"f0dc818c-7ef5-4866-981d-5e7f690d3280","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[260,420]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"907f1715-e6f7-40ce-8294-a5d8f7fa22e3","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[440,420]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"dd055232-b7f4-4017-874f-1615351700b4","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,420]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"}},"id":"9b12e2a1-560d-445f-92d3-10497129dba4","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[840,420],"alwaysOutputData":true,"webhookId":"846ed0c9-8677-47f0-b62c-46f1d1de87a8","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"f23d87d3-f481-453a-b305-5f781a2de02e","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,420]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.query }}","mode":"id"},"requestOptions":{}},"id":"2ffb70a7-3457-4a18-a515-29cbb584e088","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1240,420],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"42fa8386-ae76-461f-b578-7673b54ec087","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1440,420]},{"parameters":{"batchSize":1,"options":{}},"id":"bf0c8e06-bb37-4856-b5af-ff9723aed5ed","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"aacee694-82cd-47bd-8b26-5079a5b1ccf2","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,340]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"759c3eda-eeed-4a87-83e8-0b17cd56e50d","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,140],"webhookId":"9ba1824c-6bb6-47b9-8007-57ad0a258b25","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"278b38c0-cf6f-4a63-8898-37fdbe26db92","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2160,540],"webhookId":"1ad1f3dc-f98a-4da9-b172-ab092dfabfb9","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"0bcc38af-45e1-4db2-a919-54d413134905","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,260]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"66675f44-a159-4dae-93b0-10a1832c44ca","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,260]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"299bbf54-4e90-41be-b446-bbfe9c2083a2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,260]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"9d89445b-7082-4055-a537-4d1cdc3f7568","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,260]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"6ac36d8d-7e12-4b06-8f36-a4dad0831aa1","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,0]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-40,420],"id":"7a495dad-5514-4697-b8d4-88fdb5c9cc96","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,520],"id":"c446fc95-cc94-4d39-b4ec-4df700373f59","name":"Edit Fields"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ee1ac1f-2f3c-4281-a987-5681aebb83f5","triggerCount":0,"tags":[{"createdAt":"2025-05-09T16:15:57.126Z","updatedAt":"2025-05-09T16:15:57.126Z","id":"gPAtMSxXCGbuEnYD","name":"GITHUB"}]},{"createdAt":"2025-04-28T05:03:38.810Z","updatedAt":"2025-04-30T13:08:41.000Z","id":"5AN9IofnlpHegeMV","name":"Telegram2VectorStore-Agent","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=\n{{ $json.query }}\n\n","hasOutputParser":true,"options":{"systemMessage":"You are an intelligent, concise AI assistant connected to Telegram via n8n. When a user sends a request via Telegram, follow this process:\n    Interpret the message: Understand the information or topic the user is asking about. If the user provides no information or topic ask him to provide one\n\n    Search with SerpAPI: Use SerpAPI to search the web for accurate, up-to-date information related to the request.\n\n    Summarize Clearly: Return a summary of the results (maximum 300 words) to the user on Telegram. Keep it clear, helpful, and easy to understand.\n\n    Ask for Approval: After sending the result, prompt the user:\n\n        “Would you like me to save this in your Pinecone knowledge base? Reply YES to store it.”\n\nAlways respond with a friendly, professional tone. Do not store any data without explicit approval.\n\n{{ $json.message }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-260,-300],"id":"3598d371-68dd-496d-a28c-6fe9bf9d526c","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,-80],"id":"a96c270a-cdc2-4e96-bdb6-7e8fdbfa9820","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.text }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-180,-80],"id":"bdabe97e-5fc5-4dca-a159-192278389eeb","name":"Simple Memory1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[-60,80],"id":"781b0e3b-31f5-4869-8ab1-34e202e34b35","name":"SerpAPI","credentials":{"serpApi":{"id":"NN3JSBSLvg2udMzb","name":"SerpAPI account 4"}}},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"={{ $json.output }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":5,"resumeUnit":"minutes"}}}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[140,-440],"id":"5055a9ce-4508-4dc3-a2b5-4298df706ab4","name":"Telegram1","webhookId":"7e550628-194f-44ca-9c8e-4139dd6f7ffd","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"3f9f0131-bfd1-485f-bf5d-866e789a7b70"}],"combinator":"and"},"renameOutput":true,"outputKey":"store"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[340,-440],"id":"00091dec-3c2b-4bd2-9273-61ae08000b89","name":"Switch"},{"parameters":{"chatId":"7072233806","text":"Saved!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1300,-300],"id":"9cb3c428-f50b-47c5-9835-f0a1577e85eb","name":"Telegram3","webhookId":"392d0eb5-eeab-4295-8f3b-91ea0a94680d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[820,-300],"id":"abb9de09-4e76-405f-a1b0-50a459c0fef4","name":"Pinecone Vector Store","alwaysOutputData":true,"credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[800,-80],"id":"7fb3fb6f-fa29-4c42-9a51-3c342aaed11f","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[920,-80],"id":"c0300bbf-9360-45bd-b480-e4f6eb172b89","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1020,120],"id":"8165a760-56fb-407d-be2a-a6e7b5369ec0","name":"Recursive Character Text Splitter"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $('AI Agent1').first().json;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-300],"id":"b35ca81f-6f6c-4ebc-a5de-19e0802b692f","name":"Code"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-620,-300],"id":"7aef7588-c64c-4362-b540-2e2f3cbeba8e","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Code":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Was ist ein Spatial Shader?"}}]},"versionId":"cc2473c4-39f7-4f78-8f50-133f2da7fc2c","triggerCount":0,"tags":[{"createdAt":"2025-04-11T12:32:26.478Z","updatedAt":"2025-04-11T12:32:26.478Z","id":"4Nmc4u6DVw4kFmGU","name":"AI-Agents"}]},{"createdAt":"2025-05-02T14:42:23.287Z","updatedAt":"2025-05-02T14:49:28.000Z","id":"8rEuz4XaJFTg74Aj","name":"My workflow 51 copy","active":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"4b087d12-422b-4eff-b113-60013a4656ba","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,1140]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"020edf4c-30c6-482b-9bc5-2365b33d05df","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[760,1140],"credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"ada07ab3-f937-475d-b279-cf15ec531e07","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"9e73e101-51f1-446f-a6a3-32b89c758790","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-660,820],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R","mode":"list","cachedResultName":"n8n Docu","cachedResultUrl":"https://drive.google.com/drive/folders/128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R"},"event":"fileCreated","options":{}},"id":"5f5d25c3-b696-4963-9e02-651d578ce0b2","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1720,660],"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R","mode":"list","cachedResultName":"n8n Docu","cachedResultUrl":"https://drive.google.com/drive/folders/128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R"},"event":"fileUpdated","options":{}},"id":"f6484103-e1d5-4ed3-a405-89dc02d9b57f","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1680,920],"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"operation":"text","options":{}},"id":"c5e4a3bc-bfd6-4abc-a34a-8e680ced6460","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,1140],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"b6d15b41-8ec5-43fb-9719-39b04c7a7003","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1140,660],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"67fba06c-127d-4e9c-9bb9-adab582be936","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,820]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"62f58477-dfa3-48db-977d-ac3eebb98e1d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,60]},{"parameters":{"operation":"pdf","options":{}},"id":"165d6be9-ec22-43a4-9f18-4e3aac5d9ecb","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,580]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"3bbfd31b-4ce9-4119-9ec1-e31590da1942","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[240,760]},{"parameters":{},"id":"5c3b4a3a-ff5c-485a-918b-5d30427db1b0","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[900,1260]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"93942eaa-87f8-4dc8-a784-9000b1847a1a","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[440,840]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"6a9d23de-eb3f-4b86-b150-7ba8581673da","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-460,800]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"a03c075d-d460-4702-99ac-d770d68dc8c6","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[920,920],"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"9fe4a206-fb51-4501-a0d4-06a88720bf97","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,760]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,700],"id":"157916b5-b9b5-426f-be21-ad5036dd31de","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,940],"id":"b6a038b1-5140-44f5-9ea8-7e8b3afb0ead","name":"Extract from CSV"},{"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":280,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1740,240],"typeVersion":1,"id":"73ef47c7-18ae-4918-bd1d-7d50062f2433","name":"Sticky Note3"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1500,660],"id":"4bc24cea-14e8-4f63-b015-726c0cc62ce8","name":"Loop Over Items"},{"parameters":{"operation":"delete","tableId":"document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1000,640],"id":"9f552bb8-c697-4a52-8080-e82fa7456d20","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-820,680],"id":"7e89350c-19d2-400b-b3d3-a8ac1ca4bf58","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,940],"id":"a1e09380-0f83-4023-93ac-0c9d66cb84c3","name":"Insert Table Rows","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1320,700],"id":"9e5eff8f-63be-4312-9fe7-a649ab48fdb9","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1320,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2320,80],"typeVersion":1,"id":"438107bb-6f55-48ab-9919-adbf3f1c150b","name":"Sticky Note9"},{"parameters":{"chatId":"7072233806","text":"awdAWDadadrgdg","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,920],"id":"41cbf7e5-4943-4162-95c6-28f2caac8b66","name":"Telegram","webhookId":"089537c8-d728-4ad1-959a-176932a87121","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-05-02T14:47:13Z"},"node:File Updated":{"lastTimeChecked":"2025-05-02T14:46:45Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b95d63d9-f711-418b-a7db-be355229ddf2","triggerCount":2,"tags":[]},{"createdAt":"2025-04-22T04:46:15.314Z","updatedAt":"2025-04-25T12:03:40.000Z","id":"BEhsmahj9wK8fwaV","name":"Wetter_get Schduled","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=Du kannst Termine erstellen in Kalender. Zugreifen. \nDu kannst Telegrammnachrichten versenden.\nDu kannst Emails versenden. \nDu kannst Wetterdaten per Http-Request auslesen.\nDu wirst entweder per Schedule aufgerufen oder von einem anderen Workflow.\nHeute ist der {{ $now }}\n\nAußerdem kannst du mir basierden auf dem Tool eine Wettervorhersage geben.\nWenn die regenwahrscheinlichkeit >20%, dann lösche den Termin \"Einkaufen\" für den enstprechenden (heutigen) Tage und versende email, in der Steht, was die Regenwahrscheinlichkeit ist\n\nVersende immer, unabhängig von der Wahrscheinlichkeit, eine Telegramnachricht mit der Wettervorhersage, inklusive Regenwahrscheinlichkeit.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[220,0],"id":"027113fa-c971-4765-9e09-624e69d3072e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,280],"id":"352bb4f7-55ed-484e-a017-224e26436cf9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"calendar":{"__rl":true,"value":"lukas.lindner01@gmail.com","mode":"id"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[460,360],"id":"d9900184-d360-47d8-9278-61b4cc85031a","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"5u89Eyg7kwTE9SrK","name":"Google Calendar account 10"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"lukas.lindner01@gmail.com","mode":"list","cachedResultName":"lukas.lindner01@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[560,340],"id":"2b54e08f-0db8-4d19-94e8-ff0904ca0f52","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"5u89Eyg7kwTE9SrK","name":"Google Calendar account 10"}}},{"parameters":{"sendTo":"lukas.lindner01@gmail.com","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[680,340],"id":"9d2a8204-8d3e-46be-a86f-54e07d446731","name":"Gmail","webhookId":"b6b3fa7d-6ea4-4fcd-933d-714e199bc40d","credentials":{"gmailOAuth2":{"id":"RQJeKg5hE9vn1Egt","name":"Gmail account 4"}}},{"parameters":{"toolDescription":"get the curretn weather in ansbach prediction","url":"https://www.wetteronline.de/wetter/ansbach"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[720,120],"id":"4fb3d93b-b2f6-4965-a024-bec2153181cf","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,60],"id":"9cebffba-58e6-43d7-9d31-8111f2de1563","name":"Schedule Trigger"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-220,-100],"id":"04dae3cc-ceaa-476d-896c-16a5d5a14a55","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"7072233806","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[320,440],"id":"536659d0-2883-4516-bdf4-61f0d8fa408c","name":"Telegram","webhookId":"50dbda71-8fe4-421d-b9fa-63233ce2aa6c","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[]]},"Google Calendar1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Telegram":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ceb1c3d1-89c6-4634-b6d5-cc48121ffaf4","triggerCount":1,"tags":[]},{"createdAt":"2025-04-04T09:11:07.621Z","updatedAt":"2025-04-11T13:19:01.000Z","id":"CW0ZiDppazhhwCj6","name":"Retreive Data","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-220,-40],"id":"69e23f20-f054-48b7-a0d2-711af3432594","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://docs.n8n.io/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-40],"id":"8c61a7bf-6ba9-43c3-8a0f-9c79697795fd","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"link","cssSelector":".md-sidebar__inner a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[220,-40],"id":"b86e0b56-187c-4cee-b5da-91e9cad34208","name":"HTML"},{"parameters":{"jsCode":"\nreturn [\n  {\nurls: $input.first().json.link.filter(url => !url.startsWith(\"https\") && url != \".\")\n}\n\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,-40],"id":"373f0617-0818-4a6c-8477-6a941638b5ab","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[660,-40],"id":"693f4620-ed9e-46db-955f-f2afd41ee2cf","name":"Remove Duplicates"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1300,-100],"id":"c528aab4-2d24-472a-9637-87860e22fd88","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"url":"=https:/docs.n8n.io/{{ $json.urls }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,-80],"id":"9ba855bd-e9fb-40e8-adef-a777a1f4fee3","name":"HTTP Request1"},{"parameters":{"fieldToSplitOut":"urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,-40],"id":"6e962dac-ddae-4358-8f14-51f858429fe4","name":"Split Out"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":".md-content"}]},"options":{"cleanUpText":false}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1980,-100],"id":"307c3d07-e1fa-4881-a388-b8d1d7581f17","name":"HTML1"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"openn8n","mode":"list","cachedResultName":"openn8n"},"options":{"pineconeNamespace":"n8n"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[2220,-100],"id":"4b8a046a-c519-465a-9991-f5ed8e3c64fb","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2760,400],"id":"38dd5c5f-492a-41ea-91cc-b8420e695219","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2860,620],"id":"30e56f5c-3830-4f61-b8a6-981551850068","name":"Recursive Character Text Splitter"},{"parameters":{"options":{"batchSize":50}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2140,600],"id":"43685728-b1fb-4402-a455-393cf8964f75","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1Kn1CKWwqVBgqHJrhs2He1lNQoYbcvf2u7nMtF-uvIGg/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.Content }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2560,-280],"id":"1dcd380b-47c3-4d94-9a37-a2e918dc255b","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"bXFVi1GD79pFt1lE","name":"Google Docs account 8"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2220,180],"id":"de252041-076d-4dee-94d7-a298c3a4db28","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[]]},"Google Docs":{"main":[[]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e7be895b-f73d-4f38-bd73-e2022fa07be4","triggerCount":0,"tags":[]},{"createdAt":"2025-04-11T13:37:08.335Z","updatedAt":"2025-04-25T10:44:23.000Z","id":"DPxI1WFAyXO0uNTz","name":"Kalender Test","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-460,0],"id":"fe129371-4c78-469b-8581-a6bc017defa0","name":"When chat message received","webhookId":"15396733-8ec9-4c77-9ed3-b24aabfe59fc"},{"parameters":{"promptType":"define","text":"=Du kannst Termine erstellen in Kalender. Zugreifen. Trage den Termin zu der Angegebene Zeit ein.\nHeute ist der {{ $now }}\n\nAußerdem kannst du mir basierden auf dem Tool eine Wettervorhersage geben.\nWenn die regenwahrscheinlichkeit >20%, dann trage das in den kalender ein und versende email\n\n\nWenn du per Chat-Input aktiviert wirst versende KEINE Email\nWenn du per \"Schedule Trigger\"  aktiviert wirst versende EINE Email and die Adresse, in der ich über den Momentanen Wetterbreicht, zusammengefasst, informiert werde!\n\nVerwende DIE \"Simple Memory\"-Node NICHT, wenn du NICHT per Chat aktiviert wirst\n\nAußerdem kannst du per Tools einen anderen n8n Workflow aufrufen.\n\n// (Ignoriere diese Zeile) Wenn Regen sehr wahrscheinlich, dann entferne einen Termin ... \n\ngeneriere zuletzt ein Array von der größe 10, über welches nun Iteriert wird\n{{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[440,0],"id":"e272ac9a-26fe-4b7f-8418-221860d599a5","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[460,340],"id":"eb08c0b5-c6a1-458b-8592-32dd47af1e1b","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,280],"id":"da4cf685-158c-46ec-8685-45ea686f001f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"calendar":{"__rl":true,"value":"lukas.lindner01@gmail.com","mode":"id"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[680,360],"id":"75da0c07-877f-4426-a82f-9080672d7d9b","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"5u89Eyg7kwTE9SrK","name":"Google Calendar account 10"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"lukas.lindner01@gmail.com","mode":"list","cachedResultName":"lukas.lindner01@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[780,340],"id":"316bd4cb-f659-475a-b74a-a49fc6ddc9ac","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"5u89Eyg7kwTE9SrK","name":"Google Calendar account 10"}}},{"parameters":{"sendTo":"lukas.lindner01@gmail.com","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[900,340],"id":"734264dd-7b09-432a-ac05-a9c068cdaa24","name":"Gmail","webhookId":"da97228a-1b87-40e2-be06-b3cdfc7c640f","credentials":{"gmailOAuth2":{"id":"RQJeKg5hE9vn1Egt","name":"Gmail account 4"}}},{"parameters":{"name":"test","workflowId":{"__rl":true,"value":"BEhsmahj9wK8fwaV","mode":"list","cachedResultName":"Kalender Test _ getData"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[840,560],"id":"18440fd4-b7a0-4057-9c48-d229b515a108","name":"Call n8n Workflow Tool"},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"dhdthhrthrzhjzrhrathvhrfhtrfhfhfhfh","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1020,-100],"id":"5645b498-1c50-4b63-a587-39d83d241cb4","name":"Telegram","webhookId":"4f32046f-f14a-4099-8198-834f6f6f717f","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[]]},"Google Calendar1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0496f5c1-f348-48cf-8f3a-bfe1b0484dbb","triggerCount":3,"tags":[]},{"createdAt":"2025-04-30T12:37:27.622Z","updatedAt":"2025-05-02T15:03:33.000Z","id":"GkQTReJdtXWkenJs","name":"Vector2Telegram-Agent","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a helpful assistant\n\nAnswer the questions asked only based on the information you can know about based on the vector store\n\ndo not halluciante if you do not know something say so\n\nONLY ANSWER QUESTIONS BASED O THE DATA RETREIVED FROM THE VECTOR STORE DATABASE \n\nDO NOT HALLUCINATE"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[300,280],"id":"fdc09437-1f6f-4295-b5e3-64ff8c8af4b9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[180,560],"id":"0a17332e-3318-4e3c-a5b0-a308e17031e5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[300,560],"id":"4e5ceecf-d15c-4220-ba89-63c811cc66c4","name":"Simple Memory"},{"parameters":{"name":"text","description":"Rufe dieses Tool auf, um auf die Datenbank zuzugreifen und die\nFragen des Nutzers zu beantworten."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[420,560],"id":"936302f2-4a5a-4d57-84ff-c2cb758fd207","name":"Answer questions with a vector store"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[620,760],"id":"f6c9b968-f635-4d96-8bea-4780af16700f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[420,960],"id":"a1bdc4cd-27cb-48d9-9145-3291e8d4822f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[320,760],"id":"4ce92b0e-7787-4c99-8fe3-692fe2856343","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-120,280],"id":"fd56e7c7-c984-4955-a0b5-bc689091b568","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3890a4be-2a66-4000-a04e-899052b811e7","triggerCount":3,"tags":[{"createdAt":"2025-04-11T12:32:26.478Z","updatedAt":"2025-04-11T12:32:26.478Z","id":"4Nmc4u6DVw4kFmGU","name":"AI-Agents"}]},{"createdAt":"2025-04-30T12:38:16.754Z","updatedAt":"2025-04-30T13:11:59.000Z","id":"Xf31PFfJrUDzp2PY","name":"TelegramVectorStore - Super","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-520,-300],"id":"0e51f604-978b-4c2a-a875-3e26be0c044a","name":"Telegram Trigger","webhookId":"98211803-13bd-41e4-9dd1-6c913c906f8b","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}\n","hasOutputParser":true,"options":{"systemMessage":"You are an intelligent, concise AI assistant connected to Telegram via n8n. When a user sends a request via Telegram use either of the Workflows linked in the Tools section to process the request\n   \nFirst use the \"Get\"-Workflow to check wether the topic is already present in the Database, if this is not the case then use the \"Store\"-Workflow\n{{ $json.message }}\n\nONLY ANSWER QUESTIONS BASED ON THE SerpAPI RESULTS OR ON THE DATA RETREIVED FROM THE VECTOR STORE DATABASE \n\nDO NOT HALLUCINATE"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-260,-300],"id":"84b60ee1-0d97-4901-92e3-1819b16ff9f5","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,-80],"id":"ddada195-9413-4b0d-8a32-0bb6ace8b8ed","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.text }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-180,-20],"id":"9fd2ea63-dffb-4cc8-8703-ab3110c6b102","name":"Simple Memory1"},{"parameters":{"name":"StoreData","description":"Call this tool to anser a question based on a SerpAPI call, then store the answer in a Pinecone Vector Store database","workflowId":{"__rl":true,"value":"5AN9IofnlpHegeMV","mode":"list","cachedResultName":"Telegram2VectorStore-Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-60,40],"id":"23b9b5ba-32c0-43cd-a19b-217608c08897","name":"Store"},{"parameters":{"name":"GetData","description":"Call this tool to receive an answer to a question based on data stored in a Pinecone Vector Store database","workflowId":{"__rl":true,"value":"GkQTReJdtXWkenJs","mode":"list","cachedResultName":"Vector2Telegram-Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[60,40],"id":"ba105325-b69c-4e2b-9607-bbc5217a06f4","name":"Get"},{"parameters":{"chatId":"7072233806","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[100,-300],"id":"3df3ac49-d315-4062-95ea-502c404bcaf0","name":"Telegram","webhookId":"73a643e5-b4e2-4445-8f34-69c72e729d8a","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Store":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Get":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f4506e1-2f10-488a-a4a8-0ff0fdc51386","triggerCount":1,"tags":[{"createdAt":"2025-04-11T12:32:26.478Z","updatedAt":"2025-04-11T12:32:26.478Z","id":"4Nmc4u6DVw4kFmGU","name":"AI-Agents"}]},{"createdAt":"2025-04-22T05:20:28.165Z","updatedAt":"2025-04-28T05:10:49.000Z","id":"ZVgChKHo1urRFpDV","name":"Telegram TesT","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-480,100],"id":"6ea39051-b730-49f0-9bb2-38f54c2f8ac1","name":"Telegram Trigger","webhookId":"3e426361-ea9b-47c9-abee-34d72c9cbf9c","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"operation":"sendAudio","chatId":"7072233806","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1500,-260],"id":"cc00698a-e59f-4512-bb6f-ee2dd170aee6","name":"Telegram1","webhookId":"9c372ce6-b2e2-4cfc-b588-e85246c86a19","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"audio","operator":{"type":"string","operation":"contains"},"id":"1c97709a-c1c8-4ccb-beb4-8835783425b0"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d7c7ba4-5611-43b4-b993-42eb5eee16e3","leftValue":"={{ $json.output }}","rightValue":"Bild","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[880,-20],"id":"a1f043bf-66b8-4784-b643-ebd2f000d558","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.text }}{{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"You are a helpful assistant\n\nYou can answer to the Telegram message you received by utilizing the OpenAI Tool\nSend you answer as a Voice Audio via the proper tool\n\nWhen asked use the SerpeAPI tool to make a request\n\nIf you receive a audio file transcribe it and send it back via text"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[540,-40],"id":"37aaca24-5f32-4cda-8dce-c4a9b316d689","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,280],"id":"8bb9a98f-57fb-4b10-b70a-dd0369ea7662","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message }} {{$('Telegram Trigger').item.json.message }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[660,320],"id":"0aa5db1a-3ef9-44e7-8388-6fd19bae8f4e","name":"Simple Memory"},{"parameters":{"chatId":"7072233806","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[960,520],"id":"256a28d3-cadd-48c3-ae37-1c3bbf7f8998","name":"Telegram","webhookId":"29ee9d65-1ab9-44b2-8641-29d5508026ed","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1220,-140],"id":"ae04e38f-4b92-4c79-bd44-9c8706c102ea","name":"OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"resource":"image","prompt":"={{ $('AI Agent').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1240,80],"id":"32dede75-aa30-474c-aec7-ba6758c87d32","name":"OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"chatId":"7072233806","text":"=Fehler {{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,160],"id":"815e9c20-b17f-4c45-a361-5e20f91638f5","name":"Telegram2","webhookId":"9c372ce6-b2e2-4cfc-b588-e85246c86a19","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"operation":"sendPhoto","chatId":"7072233806","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,100],"id":"7e92ead4-591a-491c-867d-2892626d1064","name":"Telegram3","webhookId":"9c372ce6-b2e2-4cfc-b588-e85246c86a19","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"58ca8aba-21cf-4b32-9958-16b9730cea69"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-260,100],"id":"12dfb7e4-afd7-48db-aeae-29cac7e6a188","name":"Switch1"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,0],"id":"10523c53-f634-4f53-82a6-165e19244450","name":"Telegram4","webhookId":"20c18225-11d0-4625-a100-699a7bee5a70","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,-160],"id":"f253484a-9470-4274-b613-711f11f317c3","name":"OpenAI2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[820,300],"id":"b6201226-f7da-4e41-87f0-e0651e9647e6","name":"SerpAPI","credentials":{"serpApi":{"id":"NN3JSBSLvg2udMzb","name":"SerpAPI account 4"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"OpenAI1","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram":{"ai_tool":[[]]},"OpenAI":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"531aabf5-1af7-43f0-a922-305fafc767c1","triggerCount":1,"tags":[]},{"createdAt":"2025-03-28T14:35:14.422Z","updatedAt":"2025-04-04T20:15:05.000Z","id":"cwau8NoRGvh0bAVc","name":"Demo: My first AI Agent in n8n 2","active":false,"nodes":[{"parameters":{"content":"## 👋 Welcome to n8n!\nThis example shows how to build an AI Agent that interacts with your \ncalendar.\n\n### 1. Connect your accounts\n- Claim your `free` 0 OpenAI calls in the `OpenAI model` node \n- Connect your Google account in the `Google Calendar` node credentials section\n\n### 2. Ready to test it?\nClick Chat below and start asking questions! For example you can try `What meetings do I have today?`","height":389,"width":319,"color":6},"id":"eae35513-07c2-4de2-a795-a153b6934c1b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,20]},{"parameters":{"content":"### Want to learn more?\nWant to learn more about AI and how to apply it best in n8n? Have a look at our [new tutorial series on YouTube](https://www.youtube.com/watch?v=yzvLfHb0nqE&lc).","height":100,"width":317,"color":6},"id":"907552eb-6e0f-472e-9d90-4513a67a31db","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,440]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}                             ","options":{"systemMessage":"=You are a helpful assistant\n\nyou can acess wikipedia\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-80,-160],"id":"76dd46b5-347e-4af0-a92a-ac455d38f090","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-360,140],"id":"76a22803-4255-4ebd-a22c-ed6a2187f261","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"s7EyLSGGLmN5RVTg","name":"Google Gemini(PaLM) Api account 2"}},"notes":"ajo\nacess my gmail\n\n\n"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-300,-160],"id":"a0b4070d-1228-4e84-85e8-d366094e4975","name":"When chat message received","webhookId":"f6cd0075-8a0a-471d-be55-3920c381ff80"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-60,120],"id":"b327b380-ab51-4ca4-a4e0-3d2ae52bb66b","name":"Simple Memory"},{"parameters":{"operation":"getAll","limit":5,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[180,120],"id":"6be0c09c-ef1e-47a4-b7c1-5d96650ceea6","name":"Gmail","webhookId":"96a3fa5f-531a-4d79-b4d3-4df476f77257","credentials":{"gmailOAuth2":{"id":"RQJeKg5hE9vn1Egt","name":"Gmail account 4"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[300,60],"id":"1cb62884-e135-4f7d-a8d2-4377f3b3cc28","name":"Wikipedia"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Gmail":{"ai_tool":[[]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"PT1i+zU92Ii5O2XCObkhfHJR5h9rNJTpiCIkYJk9jHU=","templateCredsSetupCompleted":true},"pinData":{},"versionId":"2797668d-9c87-4a19-9f65-23653c966d87","triggerCount":0,"tags":[]},{"createdAt":"2025-04-04T16:02:35.539Z","updatedAt":"2025-04-25T14:59:02.000Z","id":"i1SMjqO4cHrPt0eD","name":"n8n Docu","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-480,-60],"id":"05fdc615-e78c-4487-80ba-c7d1fd216fcc","name":"When chat message received","webhookId":"daf1fcf9-46ae-4ec2-9a94-32218df6d276"},{"parameters":{"promptType":"define","text":"=Du bist ein KI-Agent, der sachlich und informativ auf Fragen zur n8n Dokumentation antwortet. Beantworte Fragen ausschließlich auf Basis der bereitgestellten Inhalte aus dem Pine Cone Vector Store\n\nRufe das Tool auf, um auf die Datenbank zuzugreifen und die\nFragen des Nutzers zu beantworten.\n\n{{ $json.chatInput }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-260,-60],"id":"b0ee5b13-5ea3-4f92-a0ea-2584237ced7a","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-540,460],"id":"7d5f26c0-6240-4b6c-870c-ceb3513628b4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"s7EyLSGGLmN5RVTg","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-180,160],"id":"c91ae203-3f24-4d1b-b1aa-314b68cce383","name":"Simple Memory"},{"parameters":{"name":"text","description":"Rufe dieses Tool auf, um auf die Datenbank zuzugreifen und die\nFragen des Nutzers zu beantworten."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[80,120],"id":"45788b09-4442-4dc2-b6ef-7fac6bd93344","name":"Answer questions with a vector store"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"smallb2","mode":"list","cachedResultName":"smallb2"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-40,340],"id":"de4bdc5c-5370-4713-bee0-c3bb05904931","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1Kn1CKWwqVBgqHJrhs2He1lNQoYbcvf2u7nMtF-uvIGg/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[400,20],"id":"f4ea22a6-3168-4e32-95d0-f3528c2f995b","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"bXFVi1GD79pFt1lE","name":"Google Docs account 8"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-380,280],"id":"b1ba1ea3-1027-4716-9e0d-183761d78541","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-80,500],"id":"e8ed1e96-3141-4693-95cd-25e7b9282365","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[360,320],"id":"eddf4964-82ac-4a27-a2ed-49b531d57b1f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Google Docs":{"ai_tool":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d9a43556-91f5-4871-b809-64708dc3195d","triggerCount":0,"tags":[]},{"createdAt":"2025-05-08T00:49:32.481Z","updatedAt":"2025-05-09T16:15:59.000Z","id":"pg7jvsYQGhrmSPGe","name":"GitHub","active":false,"nodes":[{"parameters":{"includeTime":false,"options":{}},"id":"a57196b8-ac23-41ba-9be6-5f8f84c23eee","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[240,420]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"70b37c4f-3123-4a7d-bad5-8079350812bc","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[440,420]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"8ca4b71f-b2de-48d7-8d98-85de6214052d","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,420]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"}},"id":"ce516156-d0b1-4443-ba38-f0751839baed","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[840,420],"alwaysOutputData":true,"webhookId":"eba59952-39e8-462f-a6cb-175ecf11a5eb","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"1e54e65c-687e-4ad1-963f-7b6361cacdd0","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,420]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"pg7jvsYQGhrmSPGe","mode":"list","cachedResultName":"GitHub (#pg7jvsYQGhrmSPGe)"},"requestOptions":{}},"id":"9f370032-20e8-4a94-a397-86249a9e3984","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1240,420],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"364c184a-77f2-44f6-9a49-16cbd45e40a6","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1440,420]},{"parameters":{"batchSize":1,"options":{}},"id":"2f94d456-05ef-421a-b319-bff9af33e36b","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"40a22eec-8f67-4d47-b998-3c60dda4f339","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,340]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"419d7395-73ac-40c9-91b7-795972936288","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,140],"webhookId":"320c101c-4e0a-47e4-af64-5af039fd414c","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"20c60e5b-3a35-480a-9413-0d3b954d86c5","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,540],"webhookId":"3b078efd-21f1-4025-8c85-1324dd6a375e","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"9158b4bc-85a4-48ce-827d-5ed8ac656e97","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,260]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"8a738ed6-0fc6-4e20-8c8e-e9b7b4890d28","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,260]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"43c98299-17c8-4202-8d57-d06bd2f5cf32","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,260]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"d4e30021-1ea6-4409-a0d3-190580cc1f75","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,260]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"6f963177-66f3-4752-bf78-5dbec581327a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,0]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0ba27127-01ef-44d8-99cd-e22b10f9f768","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2180,1120]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"cc3e1bfd-015f-4c7f-b935-ac9472f958e9","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[2160,940],"webhookId":"320c101c-4e0a-47e4-af64-5af039fd414c","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"9c7cc4c5-f665-4c84-a8e2-a1ef0b31c3f2","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1940,1520],"webhookId":"3b078efd-21f1-4025-8c85-1324dd6a375e","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"ccf72beb-2797-4204-8964-f339a461953e","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,1060]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"3ee56d59-396b-4c86-8630-595e1cc458d3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,1180]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"3df0b08b-7be0-4f7c-8b0c-9009cafc9cd0","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,1060]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":732,"width":684},"id":"6e78efdc-7334-475c-8ee2-b23150da0ae2","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1660,800]},{"parameters":{"jsCode":"// take the first (and only) incoming item\nconst obj = $input.first().json;   // { data: { … } }\n\n// emit one item whose JSON is the inner data object\nreturn [\n  {\n    json: obj.data          // whatever you actually need\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,940],"id":"5115d334-a49c-4c39-b8ca-90637f67369e","name":"Code"},{"parameters":{"mode":"raw","jsonOutput":"{\"createdAt\":\"2025-05-08T00:49:32.481Z\",\"updatedAt\":\"2025-05-08T01:49:21.000Z\",\"id\":\"pg7jvsYQGhrmSPGe\",\"name\":\"GitHub\",\"active\":false,\"nodes\":[{\"parameters\":{},\"id\":\"0c740298-d05c-44bd-9a29-6c17c087e0fb\",\"name\":\"Execute workflow\",\"type\":\"n8n-nodes-base.manualTrigger\",\"typeVersion\":1,\"position\":[-140,860]},{\"parameters\":{\"includeTime\":false,\"options\":{}},\"id\":\"2a7ab3fd-429c-4d6d-b9db-3b393ac59e78\",\"name\":\"Set date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[240,420]},{\"parameters\":{\"operation\":\"formatDate\",\"date\":\"={{ $json.currentDate }}\",\"format\":\"custom\",\"customFormat\":\"dd-MM-yyyy/H:mm\",\"options\":{}},\"id\":\"3451d533-85ff-45da-b485-0aeeba82509d\",\"name\":\"Format date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[440,420]},{\"parameters\":{\"keepOnlySet\":true,\"values\":{\"string\":[{\"name\":\"commitDate\",\"value\":\"={{ $json.formattedDate }}\"}]},\"options\":{}},\"id\":\"ea53edb4-b63f-4dc4-a083-969ee983e5b0\",\"name\":\"Set commit date\",\"type\":\"n8n-nodes-base.set\",\"typeVersion\":2,\"position\":[640,420]},{\"parameters\":{\"resource\":\"file\",\"operation\":\"list\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"}},\"id\":\"bb87654d-aa45-4516-8447-3351d2e990f2\",\"name\":\"List files from repository [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[840,420],\"alwaysOutputData\":true,\"webhookId\":\"eba59952-39e8-462f-a6cb-175ecf11a5eb\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"operation\":\"aggregateItems\",\"fieldsToAggregate\":{\"fieldToAggregate\":[{\"fieldToAggregate\":\"name\"}]},\"options\":{}},\"id\":\"b5884c99-c7d4-4721-990f-7a15786806b2\",\"name\":\"Combine file names [GITHUB]\",\"type\":\"n8n-nodes-base.itemLists\",\"typeVersion\":2.1,\"position\":[1040,420]},{\"parameters\":{\"operation\":\"get\",\"workflowId\":{\"__rl\":true,\"value\":\"pg7jvsYQGhrmSPGe\",\"mode\":\"list\",\"cachedResultName\":\"GitHub (#pg7jvsYQGhrmSPGe)\"},\"requestOptions\":{}},\"id\":\"1e4c64fc-6310-4009-858f-df699c778a4d\",\"name\":\"Retrieve workflows [N8N]\",\"type\":\"n8n-nodes-base.n8n\",\"typeVersion\":1,\"position\":[1240,420],\"credentials\":{\"n8nApi\":{\"id\":\"SLw17ZObg4LJS4Ti\",\"name\":\"n8n account\"}}},{\"parameters\":{\"mode\":\"jsonToBinary\",\"options\":{\"fileName\":\"={{ $json.name.replace(/\\\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"}},\"id\":\"c5f42cb2-b156-4cb5-99b8-39f5912d9d5f\",\"name\":\"Move JSON to binary\",\"type\":\"n8n-nodes-base.moveBinaryData\",\"typeVersion\":1,\"position\":[1440,420]},{\"parameters\":{\"batchSize\":1,\"options\":{}},\"id\":\"128e8978-1a56-4cfe-bcf0-620c75a82b32\",\"name\":\"Split to single items\",\"type\":\"n8n-nodes-base.splitInBatches\",\"typeVersion\":2,\"position\":[1680,420]},{\"parameters\":{\"conditions\":{\"string\":[{\"value1\":\"={{ $node['Combine file names [GITHUB]'].json.name }}\",\"operation\":\"contains\",\"value2\":\"={{ $binary.data.fileName }}\"}]}},\"id\":\"71963cf4-00a0-4a9e-8964-151262cdd54f\",\"name\":\"Check if file exists in repository\",\"type\":\"n8n-nodes-base.if\",\"typeVersion\":1,\"position\":[1920,340]},{\"parameters\":{\"resource\":\"file\",\"operation\":\"edit\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"={{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"4f3d7381-bc19-4c71-8cb6-d5a8a30b617a\",\"name\":\"Update file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2140,140],\"webhookId\":\"320c101c-4e0a-47e4-af64-5af039fd414c\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"resource\":\"file\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"={{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"0b9865c0-2e69-42dd-a7be-88c23ee97c56\",\"name\":\"Upload file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2140,540],\"webhookId\":\"3b078efd-21f1-4025-8c85-1324dd6a375e\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"content\":\"## Trigger\\nYou can change it to [\\\"Schedule\\\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.\",\"height\":339.51767272727324,\"width\":182.4715262478496},\"id\":\"c5d52447-a7ed-4aa2-9e8c-00aa21d0a25b\",\"name\":\"Sticky Note\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[0,260]},{\"parameters\":{\"content\":\"## Set and format date/time\\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.\",\"height\":339.42690909090965,\"width\":585.4045090909088},\"id\":\"a9322214-8d16-4414-a531-1b6b600820bc\",\"name\":\"Sticky Note1\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[200,260]},{\"parameters\":{\"content\":\"## Make a list of existing files\\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \\\"IF\\\" node (later in workflow) to check whether the backup files should be created or updated.\",\"height\":339.42690909090965,\"width\":389.89265454545443},\"id\":\"5714b94a-7c54-4a35-9631-fad1e195a3a8\",\"name\":\"Sticky Note2\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[800,260]},{\"parameters\":{\"content\":\"## Retrieve workflows\\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\",\"height\":339.42690909090965,\"width\":384.14708363636373},\"id\":\"4414b8ce-7e6e-4bb8-906f-f29e1fb97394\",\"name\":\"Sticky Note3\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1220,260]},{\"parameters\":{\"content\":\"## Upload backup\\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.\",\"height\":731.633426614796,\"width\":703.8733020263451},\"id\":\"f1b13695-c6fe-4079-8695-ee5a76d4f84d\",\"name\":\"Sticky Note4\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1620,0]},{\"parameters\":{\"content\":\"## ⚠️ Note\\n\\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \\n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\\n\\n**Thank you for your support!**\",\"height\":234.82946582693546,\"width\":508.8662091091177},\"id\":\"a949bd2a-c3e5-4245-820a-c968ce4e86c0\",\"name\":\"Sticky Note5\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[0,0]},{\"parameters\":{\"resource\":\"file\",\"operation\":\"get\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"/github-pg7jvsYQGhrmSPGe.json\",\"additionalParameters\":{}},\"id\":\"787f5c80-33d5-49da-8742-6e1e192c6baf\",\"name\":\"List files from repository [GITHUB]1\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[900,1260],\"alwaysOutputData\":true,\"webhookId\":\"eba59952-39e8-462f-a6cb-175ecf11a5eb\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"operation\":\"update\",\"workflowId\":{\"__rl\":true,\"value\":\"pg7jvsYQGhrmSPGe\",\"mode\":\"list\",\"cachedResultName\":\"GitHub (#pg7jvsYQGhrmSPGe)\"},\"requestOptions\":{}},\"id\":\"3f53f34e-9488-422d-a080-dbfb68d2a1a0\",\"name\":\"Retrieve workflows [N8N]1\",\"type\":\"n8n-nodes-base.n8n\",\"typeVersion\":1,\"position\":[1620,1160],\"credentials\":{\"n8nApi\":{\"id\":\"SLw17ZObg4LJS4Ti\",\"name\":\"n8n account\"}}},{\"parameters\":{\"conditions\":{\"string\":[{\"value1\":\"={{ $node['Combine file names [GITHUB]1'].json.name }}\",\"operation\":\"contains\",\"value2\":\"={{ $binary.data.fileName }}\"}]}},\"id\":\"a9513091-e9c5-498c-811b-ea964f56da97\",\"name\":\"Check if file exists in repository1\",\"type\":\"n8n-nodes-base.if\",\"typeVersion\":1,\"position\":[1940,1140]},{\"parameters\":{\"resource\":\"file\",\"operation\":\"edit\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"={{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date1'].json.commitDate }}\"},\"id\":\"20e2103b-91c8-481e-861f-45e28fe869e9\",\"name\":\"Update file [GITHUB]1\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2160,940],\"webhookId\":\"320c101c-4e0a-47e4-af64-5af039fd414c\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"resource\":\"file\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"={{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date1'].json.commitDate }}\"},\"id\":\"1703c998-cb2f-4d15-b2e8-4c4265a548be\",\"name\":\"Upload file [GITHUB]1\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[1940,1520],\"webhookId\":\"3b078efd-21f1-4025-8c85-1324dd6a375e\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"content\":\"## Set and format date/time\\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.\",\"height\":339.42690909090965,\"width\":585.4045090909088},\"id\":\"9dfaf90e-de5f-44d6-9f89-6284e7051ccf\",\"name\":\"Sticky Note7\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[220,1060]},{\"parameters\":{\"content\":\"## Make a list of existing files\\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \\\"IF\\\" node (later in workflow) to check whether the backup files should be created or updated.\",\"height\":339.42690909090965,\"width\":389.89265454545443},\"id\":\"9a93ed46-679f-4068-9975-29ee1291481e\",\"name\":\"Sticky Note8\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[860,1100]},{\"parameters\":{\"content\":\"## Retrieve workflows\\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\",\"height\":339.42690909090965,\"width\":384.14708363636373},\"id\":\"7ea66d1f-d7fe-4c0a-b41f-b3303529f1b9\",\"name\":\"Sticky Note9\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1240,1060]},{\"parameters\":{\"content\":\"## Upload backup\\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.\",\"height\":731.633426614796,\"width\":703.8733020263451},\"id\":\"7421ff0e-3410-4321-a6a5-6a5944fbbf44\",\"name\":\"Sticky Note10\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1640,800]},{\"parameters\":{\"operation\":\"fromJson\",\"options\":{}},\"type\":\"n8n-nodes-base.extractFromFile\",\"typeVersion\":1,\"position\":[1120,1260],\"id\":\"18a01e48-fc72-4d1c-95e3-111b937c2fd2\",\"name\":\"Extract from File2\"},{\"parameters\":{\"jsCode\":\"// Grab the first (and only) element of the incoming array\\nconst firstItem = $input.first().json;   // { data: { … } }\\n\\n// Return it as a single item whose top-level JSON is that data object\\nreturn [\\n  {\\n    json: firstItem.data      // now the workflow sees just `{ … }`, no extra brackets\\n  }\\n];\\n\"},\"type\":\"n8n-nodes-base.code\",\"typeVersion\":2,\"position\":[1340,1260],\"id\":\"6c1352ff-d09d-427f-95c4-7fa58276dd4f\",\"name\":\"Code\"}],\"connections\":{\"Execute workflow\":{\"main\":[[{\"node\":\"Set date\",\"type\":\"main\",\"index\":0}]]},\"Set date\":{\"main\":[[{\"node\":\"Format date\",\"type\":\"main\",\"index\":0}]]},\"Format date\":{\"main\":[[{\"node\":\"Set commit date\",\"type\":\"main\",\"index\":0}]]},\"Set commit date\":{\"main\":[[{\"node\":\"List files from repository [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"List files from repository [GITHUB]\":{\"main\":[[{\"node\":\"Combine file names [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Combine file names [GITHUB]\":{\"main\":[[{\"node\":\"Retrieve workflows [N8N]\",\"type\":\"main\",\"index\":0}]]},\"Retrieve workflows [N8N]\":{\"main\":[[{\"node\":\"Move JSON to binary\",\"type\":\"main\",\"index\":0}]]},\"Move JSON to binary\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"Split to single items\":{\"main\":[[{\"node\":\"Check if file exists in repository\",\"type\":\"main\",\"index\":0}]]},\"Check if file exists in repository\":{\"main\":[[{\"node\":\"Update file [GITHUB]\",\"type\":\"main\",\"index\":0}],[{\"node\":\"Upload file [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Update file [GITHUB]\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"Upload file [GITHUB]\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"List files from repository [GITHUB]1\":{\"main\":[[{\"node\":\"Extract from File2\",\"type\":\"main\",\"index\":0}]]},\"Retrieve workflows [N8N]1\":{\"main\":[[]]},\"Check if file exists in repository1\":{\"main\":[[{\"node\":\"Update file [GITHUB]1\",\"type\":\"main\",\"index\":0}],[{\"node\":\"Upload file [GITHUB]1\",\"type\":\"main\",\"index\":0}]]},\"Update file [GITHUB]1\":{\"main\":[[{\"node\":\"Check if file exists in repository1\",\"type\":\"main\",\"index\":0}]]},\"Upload file [GITHUB]1\":{\"main\":[[{\"node\":\"Check if file exists in repository1\",\"type\":\"main\",\"index\":0}]]},\"Extract from File2\":{\"main\":[[{\"node\":\"Code\",\"type\":\"main\",\"index\":0}]]},\"Code\":{\"main\":[[{\"node\":\"Retrieve workflows [N8N]1\",\"type\":\"main\",\"index\":0}]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{},\"versionId\":\"d83d905e-0955-4d47-9805-80e266161215\",\"triggerCount\":0,\"shared\":[{\"createdAt\":\"2025-05-08T00:49:32.486Z\",\"updatedAt\":\"2025-05-08T00:49:32.486Z\",\"role\":\"workflow:owner\",\"workflowId\":\"pg7jvsYQGhrmSPGe\",\"projectId\":\"NrQd9r8oMpFtZnHg\",\"project\":{\"createdAt\":\"2025-03-27T22:05:44.195Z\",\"updatedAt\":\"2025-03-28T11:50:14.003Z\",\"id\":\"NrQd9r8oMpFtZnHg\",\"name\":\"Lukas Lindner <lindner20356@hs-ansbach.de>\",\"type\":\"personal\",\"icon\":null,\"projectRelations\":[{\"createdAt\":\"2025-03-27T22:05:44.214Z\",\"updatedAt\":\"2025-03-27T22:05:44.214Z\",\"role\":\"project:personalOwner\",\"userId\":\"f0acf7a2-460e-4efb-b44a-32b7a18342d7\",\"projectId\":\"NrQd9r8oMpFtZnHg\",\"user\":{\"createdAt\":\"2025-03-27T22:05:44.182Z\",\"updatedAt\":\"2025-04-25T10:38:49.888Z\",\"id\":\"f0acf7a2-460e-4efb-b44a-32b7a18342d7\",\"email\":\"lindner20356@hs-ansbach.de\",\"firstName\":\"Lukas\",\"lastName\":\"Lindner\",\"personalizationAnswers\":{\"version\":\"v4\",\"personalization_survey_submitted_at\":\"2025-03-28T11:50:51.570Z\",\"personalization_survey_n8n_version\":\"1.82.3\",\"companyType\":\"personal\",\"reportedSource\":\"other\",\"reportedSourceOther\":\"I was invited \"},\"settings\":{\"easyAIWorkflowOnboarded\":true,\"firstSuccessfulWorkflowId\":\"ZVgChKHo1urRFpDV\",\"userActivated\":true,\"userActivatedAt\":1745299771787,\"npsSurvey\":{\"responded\":true,\"lastShownAt\":1745577527257}},\"role\":\"global:member\",\"disabled\":false,\"mfaEnabled\":false,\"isPending\":false,\"isOwner\":false}}]}}],\"tags\":[]}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,820],"id":"d77a52ce-1c1a-48df-9642-d7f266aa9838","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"/github-pg7jvsYQGhrmSPGe.json","additionalParameters":{}},"id":"4733fb98-f9d5-457c-adae-fa1355e546a8","name":"GET REPO [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[260,840],"alwaysOutputData":true,"webhookId":"eba59952-39e8-462f-a6cb-175ecf11a5eb","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[500,840],"id":"766dc27c-c83b-4b93-b574-947f63ae7a16","name":"Convert back to JSON"},{"parameters":{"operation":"update","workflowId":{"__rl":true,"value":"pg7jvsYQGhrmSPGe","mode":"list","cachedResultName":"GitHub (#pg7jvsYQGhrmSPGe)"},"workflowObject":"={{ $json.data.toJsonString() }}","requestOptions":{}},"id":"a5ba2591-be2f-468e-bfce-51440b63a19c","name":"Update workflow [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[760,840],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-500,460],"id":"83c9a859-5c41-4bb0-b536-b2fa10887567","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.chatInput }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-380,460],"id":"4dc07321-d037-4f5a-a725-02ad6e140968","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-980,220],"id":"4617f2b0-2626-4796-b80f-3fbe807c5b39","name":"When chat message received","webhookId":"da432da2-51e6-426c-b4a5-2954a4c6d8d0"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=You are a helpful assistant\n\nYou can use the GitHub tools to retrieve files that end up being converted to workflows. \nYou can also save workflows to GitHub using TOOL 2. \n\nuse TOOL 1 on the first message.\n\nIf asked by the user to STORE a certain workflow check if the workflows you listed are similar to the requested workflows\nthen tell which one you are going to store and if confirmed, do so by using TOOL 2 \"STORE\"\n\n--Tool 1\nVia the \"Call n8n Workflow Tool\" you can get a list of ALL n8n workflows that are currently stored by this user. Print their names first\nALWAYS used the Tool when first executed\n\n\n--Tool 2 \"STORE\"\nThis tool can STORE Workflows\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-500,180],"id":"dcad2b1d-57e2-45c9-ae3d-8a969a1c2b8d","name":"AI Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1df67848-7fb9-4dc9-a5d6-ef06ae7fd751","leftValue":"={{ $json.output }}","rightValue":"STOPSTOPSTOP","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,60],"id":"25974568-d619-4451-b7f0-fbac4a9ca48b","name":"If"},{"parameters":{"description":"Call this tool to get a list of current workflows","workflowId":{"__rl":true,"value":"uxFxrLHfPbXH4Htm","mode":"list","cachedResultName":"GetWorkflows"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-240,460],"id":"9595fcec-162b-428c-b5fd-60fe5b459b4f","name":"Call n8n Workflow Tool"},{"parameters":{"description":"Call this tool to store a worklow to github","workflowId":{"__rl":true,"value":"54p5iJOhBMrZ2358","mode":"list","cachedResultName":"GitHub STORE"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-120,460],"id":"6257c8a1-be70-46f3-a8a0-ae13d0cdd133","name":"STORE"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"GET REPO [GITHUB]1":{"main":[[{"node":"Convert back to JSON","type":"main","index":0}]]},"Convert back to JSON":{"main":[[{"node":"Update workflow [N8N]1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"If":{"main":[[],[]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"STORE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"efec3569-3257-4c04-8277-695336e9873a","triggerCount":0,"tags":[{"createdAt":"2025-05-09T16:15:57.126Z","updatedAt":"2025-05-09T16:15:57.126Z","id":"gPAtMSxXCGbuEnYD","name":"GITHUB"}]},{"createdAt":"2025-05-02T12:52:51.709Z","updatedAt":"2025-05-02T14:49:43.000Z","id":"q4FciU57Pf8RkHHy","name":"My workflow 51","active":false,"nodes":[{"parameters":{"options":{}},"id":"e45275b2-0a4c-4611-bb5e-421d3d39fed7","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-740,360],"credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"e6fd4690-741e-406a-8a05-6955f22bb010","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,1140]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"07e3690d-2dab-4aef-bd78-ad5d619cef68","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[760,1140],"credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"c4c2883b-aa18-4ec0-8b5a-0ebcc8a63f1a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":867,"width":3073,"color":5},"id":"bf9305b3-3c86-4514-bb1b-7d09bfd503fa","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1660,380]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"0d203c0e-5f9d-4b0a-9f6b-8f95b6168e79","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-660,820],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R","mode":"list","cachedResultName":"n8n Docu","cachedResultUrl":"https://drive.google.com/drive/folders/128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R"},"event":"fileCreated","options":{}},"id":"b2a60d0a-e115-45be-850b-67b4fcc511f0","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1720,660],"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R","mode":"list","cachedResultName":"n8n Docu","cachedResultUrl":"https://drive.google.com/drive/folders/128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R"},"event":"fileUpdated","options":{}},"id":"a85197bb-075d-4430-a16c-e63d37a6ae82","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1680,920],"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"operation":"text","options":{}},"id":"670893c8-486b-4881-a98a-5c750c07518f","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,1140],"alwaysOutputData":true},{"parameters":{},"id":"f185d626-d835-43f6-8402-b326c8d0976f","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-600,360],"notesInFlow":false,"credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"19b6cb03-d3d9-4711-9796-4fa8733c84f0","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1140,660],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"0d50a778-3e33-4f00-b79d-e49a6c7209b7","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,820]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"6488ebde-64f1-46f2-95da-8426b75c0132","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,60]},{"parameters":{"options":{}},"id":"9c217b40-f9e1-417b-80e3-02e4c0df6834","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-180,140]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"aaeaaa43-9939-4429-8b27-c32e99cf5a55","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,140]},{"parameters":{"public":true,"options":{}},"id":"45a269df-0b41-419e-be1d-f557a460aba1","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1000,140],"webhookId":"e104e40e-6134-4825-a6f0-8a646d882662"},{"parameters":{"httpMethod":"POST","path":"bf4dd093-bb02-472c-9454-7ab9af97bd1d","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"1e519927-24e6-470e-9db8-2094fe625111","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1000,340],"webhookId":"bf4dd093-bb02-472c-9454-7ab9af97bd1d","credentials":{"httpHeaderAuth":{"id":"6rFhmccickiKpxTZ","name":"Header Auth account 3"}}},{"parameters":{"operation":"pdf","options":{}},"id":"f3883733-4a21-40ed-b8c9-b1d536ff516e","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,580]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"f5ac4060-ddce-4e58-a4d9-ce165b15a4f3","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[240,760]},{"parameters":{},"id":"affc42e3-df0c-4a24-9818-c976204265b2","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[900,1260]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"2c5cd514-aca7-47fb-a4da-252012f3f64a","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[440,840]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."}},"id":"9dd2cfda-795a-40e6-8443-55c7848077c4","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-520,140]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"0b684c38-ef33-4fa4-b8f1-9d1bedb80b09","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-460,800]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"b0a5d974-b44c-409b-81de-2ac7c2dc4d9f","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[920,920],"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"3432ddd4-5bed-4780-b692-766ef6961fdd","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,760]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,700],"id":"77ce7888-9812-465a-8f3a-255f60d36b69","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,940],"id":"ec0d4591-f396-44d9-95f7-d7fa3ffdd05d","name":"Extract from CSV"},{"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":280,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1740,240],"typeVersion":1,"id":"4957f89c-eee0-4006-b443-3b058ca096ab","name":"Sticky Note3"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1480,320],"id":"1cfce858-9e6b-4608-9a90-33a0c4806c5f","name":"Create Document Metadata Table","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1260,320],"id":"85858d27-ac7e-4621-8dee-851349dc84e0","name":"Create Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-460,360],"id":"ba7dd63d-c613-4abd-bf84-68ca7eec68bc","name":"List Documents","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-320,360],"id":"52b129f5-9e29-45c6-ba2c-84c928335354","name":"Get File Contents","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-160,360],"id":"a7ca8dea-f467-4645-9355-73a96a5fb882","name":"Query Document Rows","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[160,140],"id":"ecd3a9a3-5c74-4556-a070-57d44d86f874","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[260,320],"id":"cff97ba1-f87a-4c49-8053-69bc8c74a74a","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1500,660],"id":"c8aedd42-3623-4791-9359-385ecabc4886","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1680,320],"id":"08386e1c-8e8a-4c57-89d5-69ca1407893a","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"operation":"delete","tableId":"document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1000,640],"id":"67562683-9542-4352-9247-216daf1c7f3f","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-820,680],"id":"3e6109d6-8fb2-4691-b776-6bf7bf026cc5","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,940],"id":"f540dd84-a38d-46e5-8bba-81a49956f202","name":"Insert Table Rows","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1320,700],"id":"87bc4981-c73b-4417-aa3b-f8a19bcaeb55","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1320,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2320,80],"typeVersion":1,"id":"10e8ea3e-d79f-480d-8f5a-054c34312db9","name":"Sticky Note9"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[560,-160],"id":"6ca4996f-56a7-4fff-a7f3-c508bdbcc349","name":"When clicking ‘Test workflow’"},{"parameters":{"chatId":"7072233806","text":"awdad","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,920],"id":"902a0872-11a3-4e41-8b0e-8456a82e18bb","name":"Telegram","webhookId":"3be6280d-04cd-4459-8b06-380a5cacb46c","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-05-02T14:49:26Z"},"node:File Updated":{"lastTimeChecked":"2025-05-02T14:49:27Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"File Created":[{"json":{"parents":["128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R"],"lastModifyingUser":{"displayName":"Lukas Lindner","kind":"drive#user","me":true,"permissionId":"00895079236071137052","emailAddress":"lukas.lindner01@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLh-GuqUUM7a683Qx0yKUgh4kohNTWzVcacAl1G-lPvWdmlGw=s64"},"owners":[{"displayName":"Lukas Lindner","kind":"drive#user","me":true,"permissionId":"00895079236071137052","emailAddress":"lukas.lindner01@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLh-GuqUUM7a683Qx0yKUgh4kohNTWzVcacAl1G-lPvWdmlGw=s64"}],"permissions":[{"kind":"drive#permission","id":"00895079236071137052","type":"user","emailAddress":"lukas.lindner01@gmail.com","role":"owner","displayName":"Lukas Lindner","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLh-GuqUUM7a683Qx0yKUgh4kohNTWzVcacAl1G-lPvWdmlGw=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["00895079236071137052"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"kind":"drive#file","id":"1yraI-D4yQYp-4JxLJXfH6eVeK9gJ4V2W","name":"Studienplan-WIF-20220307.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"8","webContentLink":"https://drive.google.com/uc?id=1yraI-D4yQYp-4JxLJXfH6eVeK9gJ4V2W&export=download","webViewLink":"https://drive.google.com/file/d/1yraI-D4yQYp-4JxLJXfH6eVeK9gJ4V2W/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOOlpHFPiqU66ccrmU4T8gshKXSRCMxAkEOaJuWzGzHmGlVGMr6aAx87FeiIriBQCkIcvBckrJKYWn84p-UvIIqM6KdfAClShtWNipPuJ3M7Zs=s220","thumbnailVersion":"3","viewedByMe":true,"viewedByMeTime":"2025-05-02T13:58:05.334Z","createdTime":"2025-05-02T13:51:24.096Z","modifiedTime":"2025-05-02T13:56:23.358Z","modifiedByMeTime":"2025-05-02T13:56:23.358Z","modifiedByMe":true,"shared":false,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"Studienplan-WIF-20220307.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"e3ecbcc2cd4735d2dc2c60c599c22f89","sha1Checksum":"fbdba4dbafa0f69ef3ecbe62f8274acf59a5b6ed","sha256Checksum":"64506de1b358468326469668de2cb5b1e36123d6e208b4516d182b8a3ee92a5a","size":"917899","quotaBytesUsed":"1835798","headRevisionId":"0B2GU_AHHAaIvaHIrRjVkM3lMUnVMSzU2MmdaMDNmVWYvMU9JPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"c19774a7-ddb2-43ac-9c26-3746607e9fb3","triggerCount":4,"tags":[]},{"createdAt":"2025-05-09T15:48:43.742Z","updatedAt":"2025-05-09T16:16:09.000Z","id":"uxFxrLHfPbXH4Htm","name":"GetWorkflows","active":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-700,-40],"id":"0e873d71-e138-4641-a595-8be91f12814b","name":"n8n","credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"jsCode":"const arr1 = [];\n\n\n  arr1.push($input.first().json.name);\n\n\n// Wrap each name in a `{ json: { name } }` object\nreturn arr1.map(name => ({ json: { name } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-120,180],"id":"1bf96498-7220-4946-8bcd-fa6b88be8913","name":"Code1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name","renameField":true,"outputFieldName":"names"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-20,-60],"id":"b151d64a-287e-4039-99ca-6e4ee0a14e01","name":"Aggregate"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-980,160],"id":"752994d1-f8dc-4c28-a074-2174b8df817b","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-440,-60],"id":"40981bc8-a712-41b1-ac5a-98d0c128cb0e","name":"Loop Over Items"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d945a79f-425e-4ec2-9de7-5c136a9a921c","triggerCount":0,"tags":[{"createdAt":"2025-05-09T16:15:57.126Z","updatedAt":"2025-05-09T16:15:57.126Z","id":"gPAtMSxXCGbuEnYD","name":"GITHUB"}]}],"nextCursor":null}