23-mai-updated-key-learning-qEwqF8XZ5TnTiOyz.json
{"createdAt":"2025-05-22T17:52:38.038Z","updatedAt":"2025-05-22T22:13:04.000Z","id":"qEwqF8XZ5TnTiOyz","name":"23 MAI UPDATED Key Learning","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[420,220],"id":"865b8c2f-de66-469a-beb3-fbea4d7df66e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Name des Leads: {{ $json.name}}\nDas Unternehmen des Leads: {{ $json.unternehmen }}\nDie Postleitzahl: {{ $json.postleitzahl }}\nDie Email-Adresse: {{ $json.email }}\nNotizen: {{ $json.notizen }}\n\n\nchatid: {{ $json.chatid }}","options":{"systemMessage":"=Du bist ein Lead Agent und Experte im Erstellen von Rechercheplänen. Es ist wichtig, dass der Rechercheplan ausführlich gestaltet ist und alle Punkte einer Sektion abgedeckt werden, um im Anschluss auf Basis des Rechercheplans alle Informationen über den potenziellen Lead zu sammeln.\n\n<Task>\nErstelle eine Liste von Sektionen, die in der Recherche abgearbeitet werden sollen. Es soll nach allen Informationen recherchiert werden, die nötig sind um die jeweiligen Kapitel vollständig zu beantworten\n\nBevor du den Rechercheplan erstellst, werde dir der Key Learnings bewusst und beziehe diese in den Rechercheplan mit ein. Um die Key Learnings abzurufen, verwende das Tool 'Pinecone Vector Store1'.\nFahre dann mit dem erstellen des Rechercheplans fort.\n\nDas sind die Themen für die eine Recherche durchgeführt werden muss:\n1/ Unternehmensidentifikation\n• Firmenname: {{ $json.unternehmen }}\n• Handelsregisternummer\n• Impressum (Adresse, Sitz etc.)\n• Steuernummer\n• Geschäftsführer / CEO\n\n2/ Das Unternehmen {{ $json.unternehmen }}\n• Gründungsjahr / Alter des Unternehmens\n• Rechtsform (GmbH, UG, AG, Einzelunternehmen, etc.)\n• Muttergesellschaft / Konzernzugehörigkeit\n• Mitarbeiteranzahl des Unternehmens\nÜberlege dir zusätzliche Punkte die für dieses\"{{$json.unternehmen}}\" wichtig sein könnten, um es auf Plausibilität und Bonität zu prüfen.\n\n3/ Lead {{ $json.name }} aus {{$json.postleitzahl}}\n• Position im Unternehmen {{ $json.unternehmen }}\n• LinkedIn Profil, Social Media Profile\n\n4/ Finanzielle Kennzahlen\n• Umsatz (Aktuelles Jahr und Vorjahr)\n• Bonitätsindex\n• Eigenkapitalquote\n• Jahresüberschuss / Verlust\n• Verbindlichkeiten\n\n5/ News (Nachrichten über {{$json.unternehmen}}\")\n• Kooperationen\n• Insolvenzverfahren, Mahnverfahren\n• Betrugsfälle\n\n5/ Reviews & Onlinepräsenz\n• Social Media Profile\n• Google Reviews durchsuchen\n• Trustpilot Bewertungen\n\nJede Sektion sollte so aufgebaut sein:\n**Name**: Name der Sektion\n**Beschreibung**: Kurze Übersicht des Sektionsthemas (1-2 Sätze)\n**Suchanfragen**: Hier befinden sich die 5 Suchanfragen pro Sektion für eine gezielte Recherche. Verwende das Tool 'Query_Writer_Agent', um diese Suchanfragenliste zu generieren {{ $json.output }}. Erstelle KEINE EINGENEN Suchanfragen. Übernehme die Suchanfragen 1 zu 1 aus dem Tool.\n\n\nBevor du diesen Bericht ausgibst, überprüfe ihn auf korrektheit.Halt die Regeln für den Aufbau der Sektion und die Überschriften IMMER ein!\nBeispiel:\n1. Name: Unternehmensidentifikation\n   Beschreibung: Diese Sektion umfasst die grundlegende Identifikation von Porsche als Unternehmen mit Fokus auf rechtliche und regulatorische Informationen.\n   Suchanfragen: - Porsche + Unternehmensidentität OR Markenidentität + Werte OR Vision + Mission\\n - Porsche AG + Geschichte OR Meilensteine + Unternehmensstruktur + 2023\n   \n</Task>\n\nMerke: Führe die Aufgabe IMMER aus OHNE Rückfragen zu stellen"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[420,0],"id":"58b09bce-df4e-4ade-949a-f5bf1082973d","name":"Report_Planer"},{"parameters":{"name":"Query_Writer_Agent","description":"Verwende dieses Tool immer dann wenn du Suchanfragen erstellen musst.","workflowId":{"__rl":true,"value":"yvEQOhT4M4vJQhzS","mode":"list","cachedResultName":"Query Writer"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[620,220],"id":"a2dc5e8c-83cd-45de-8cf4-dd4039b5ef08","name":"Query_Writer_Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2340,360],"id":"869e37ca-2c81-4dc8-b001-804d4370232f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Rechercheplan: {{ $json.output }}\n\nFeedback: {{ $('Text Classifier').item.json.output }}","options":{"systemMessage":"=Du bist ein Revisor Agent. Du bist Experte im verbessern von Rechercheplänen. Deine Aufgabe ist es, den Rechercheplan auf Basis des Feedbacks zu verbessern und korrekt anzupassen.\n\nFÜGEN SIE KEINE FÜLLER EIN, wie z. B. „Hier sind die wichtigsten Daten, die aus den bereitgestellten Informationen extrahiert wurden:“\n\nVerbessere Ausschließlich des Kapitel in dem eine Änderung vorgenommen werden muss.\n\n# Tool\nQuery_Writer_Agent = Verwende dieses Tool immer dann, wenn du Folgesuchanfragen generieren musst.\n\nJede Sektion sollte so aufgebaut sein:\n**Name**: Name der Sektion\n**Beschreibung**: Kurze Übersicht des Sektionsthemas (1-2 Sätze)\n**Suchanfragen**: Hier befinden die Suchanfragen pro Sektion für eine gezielte Recherche. Verwende das Tool 'Query_Writer_Agent1', um die Folgesuchanfrage/-n auf Basis des Feedbacks zu generieren. Erstelle KEINE EIGENEN Suchanfragen. Übernehme die Suchanfragen 1 zu 1 aus dem Tool.\n\n\nBevor du diesen Bericht ausgibst, überprüfe ihn auf korrektheit.Halt die Regeln für den Aufbau der Sektion und die Überschriften IMMER ein!\nBeispiel:\n1. Name: Unternehmensidentifikation\n   Beschreibung: Diese Sektion umfasst die grundlegende Identifikation von Porsche als Unternehmen mit Fokus auf rechtliche und regulatorische Informationen.\n   Suchanfragen: - Porsche + Unternehmensidentität OR Markenidentität + Werte OR Vision + Mission\\n - Porsche AG + Geschichte OR Meilensteine + Unternehmensstruktur + 2023\n\nMerke: Führe die Aufgabe IMMER aus OHNE Rückfragen zu stellen\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2320,120],"id":"6e2e9038-4785-4df5-aea1-df23e475230d","name":"Revisor"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Edit Fields1').item.json.chatid }}","message":"=Hallo,\ndas ist der Rechercheplan für den Lead {{ $('Edit Fields1').item.json.name }}, tätig im Unternehmen {{ $('Edit Fields1').item.json.unternehmen }} mit dem Sitz in {{ $('Edit Fields1').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('Edit Fields1').item.json.notizen }}\nEmail Adresse des Leads: {{ $('Edit Fields1').item.json.email }}\n\n**Rechercheplan**\n{{ $json.output }}\n\nIst er so in Ordnung oder soll noch explizit was anderes in der Recherche recherchiert werden?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[700,-280],"id":"5697ea71-f176-4b46-90c2-96bb7454a1c6","name":"Human_in_the_loop_Report","webhookId":"90778467-2c99-4d1b-aca1-26fe77c22a1d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"inputText":"={{ $json.output }}","categories":{"categories":[{"category":"Angenommen","description":"Der Rechercheplan wurde vom Menschen akzeptiert und es müssen KEINE Änderungen vorgenommen werden. Der Rechercheplan darf so weitergegeben werden.\n\nBeispiel Sätze für das akzeptieren:\n\n\"Sehr gut.\"\n\"Sieht gut aus\"\n\"Weiter\"\n\"Das passt\"\n\"Gut so\"\n\"Keine Änderung nötig\""},{"category":"Abgelehnt","description":"Der Rechercheplan wurde vom Menschen abgelehnt und es müssen Änderungen vorgenommen werden. Der Rechercheplan darf NICHT weitergegeben werden.  Beispiel Sätze für das Ablehnen:\n\n\"Bitte ändere folgendes Kapitel\" \n\"Der Umsatz der letzten 3 Jahre soll auch recherchiert werden\" \n\"Passe das Kapitel an\" \n\"Nehme folgende Änderungen vor\" \n\"Es muss auch nach den Standort gesucht werden\" "}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1560,-280],"id":"aadbb671-da7c-461c-84bb-ef34433a68a0","name":"Text Classifier"},{"parameters":{"name":"Query_Writer_Agent","description":"Verwende dieses Tool immer dann wenn du Suchanfragen erstellen musst.","workflowId":{"__rl":true,"value":"yvEQOhT4M4vJQhzS","mode":"list","cachedResultName":"Query Writer"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2760,360],"id":"bded9eff-cc52-4049-aae9-95160aaebb74","name":"Query_Writer_Agent1"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[4240,140],"id":"8fef3925-0f98-4fe0-ae72-8a5dc76610f0","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4240,340],"id":"c85014f1-0c52-405d-8ea1-93e50fc63f84","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[4360,340],"id":"b8950800-48ab-486b-8f12-e01112529962","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[4380,480],"id":"476f83dd-46a7-45d2-9a93-28e103f99c10","name":"Token Splitter"},{"parameters":{"assignments":{"assignments":[{"id":"6bf6a3df-169c-4743-a831-64584286d8b9","name":"feedback","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3660,140],"id":"3fc673c4-9ffb-46e7-803f-e64e5ccc3199","name":"Edit Fields"},{"parameters":{"mode":"retrieve-as-tool","toolName":"key_learnings_report","toolDescription":"Verwende dieses Tool immer dann, wenn du die Key Learnings abrufen möchtest bevor du den Rechercheplan erstellst","pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"topK":30,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[460,340],"id":"00b25361-516d-4bcb-bef2-b87815a97870","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[480,540],"id":"2051d668-0f27-4de6-bc8c-cff7929cde3e","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Feedback: {{ $json.feedback }}","messages":{"messageValues":[{"message":"Du bist ein Feedback Refine Agent. Deine Aufgabe ist es, Feedback von Menschen in Key Learnings umzuwandeln / umzuformulieren.\nZiel ist es, das Feedback in ein Key Learning in 1-2 Sätzen umzuschreiben.\nDas Key Learning soll Präzise und Prägnant sein.\nEs dürfen dabei keine Wichtigen Learnings verloren gehen.\n\nMerke:\n- Ersetze vollständige Namen z.B. Heinrich Schmidt, durch \"Lead\"\n- Ersetze Unternehmensnamen z.B. \"Porsche AG\", durch \"Unternehmen\"\n- Namen sollen verallgemeinert werden. \n- Gebe einfach das Key Learning aus, OHNE weitere Erklärungen."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[3860,140],"id":"b9575022-4a26-4eaa-8690-b9db07830948","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1460,20],"id":"163591a8-6d59-407a-98e6-8930de354e51","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3880,360],"id":"aa9548c7-4387-4e65-92e9-b2c59036e797","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"name\": \"Max Müller\",\n  \"unternehmen\": \"Siemens\",\n  \"postleitzahl\": \"90402\",\n  \"email\": \"max@mail.com\",\n  \"notizen\": \"adad\",\n  \"chatid\": 7072233806\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,0],"id":"db1d9151-7150-44d3-a0a7-30ed042d69d3","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,0],"id":"a055fcb1-c747-480c-8921-32a8178d6aaf","name":"When clicking ‘Test workflow’"},{"parameters":{"chatId":"={{ $('Edit Fields1').item.json.chatid }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3580,-260],"id":"c30cb8c8-6bfe-48ef-8bd3-c2a82966e072","name":"Telegram","webhookId":"5811018d-1043-4ec9-8893-bc13104bf5df","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 =  $('Edit Fields4').first().json.MERGE;\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Report_Planer').first()?.json?.output;\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,-340],"id":"7ab49481-1f22-4faf-a100-109a66056e5d","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"191d54a7-503c-4b90-a95d-9fc92694693b","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3060,-260],"id":"992f508f-79a8-45cc-aa49-3ad4e430285c","name":"Edit Fields2"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Edit Fields1').item.json.chatid }}","message":"=Hallo,\ndas ist der Rechercheplan für den Lead {{ $('Edit Fields1').item.json.name }}, tätig im Unternehmen {{ $('Edit Fields1').item.json.unternehmen }} mit dem Sitz in {{ $('Edit Fields1').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('Edit Fields1').item.json.notizen }}\nEmail Adresse des Leads: {{ $('Edit Fields1').item.json.email }}\n\n**Rechercheplan**\n{{ $json.MERGE }}\n\nIst er so in Ordnung oder soll noch explizit was anderes in der Recherche recherchiert werden?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2540,740],"id":"e944687c-fa8e-4692-92c3-e20309714dfe","name":"Human_in_the_loop_Report1","webhookId":"90778467-2c99-4d1b-aca1-26fe77c22a1d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"191d54a7-503c-4b90-a95d-9fc92694693b","name":"output_a0","value":"={{ $json.output }}","type":"string"},{"id":"13d91e61-2675-48ad-9e87-c4c8d0f82dd0","name":"output_rev","value":"={{ $('Revisor').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2880,480],"id":"f98ad76d-6ada-4989-abd7-e26a3ebbb7c2","name":"Edit Fields3"},{"parameters":{"jsCode":"let ai1;\n\ntry {\n  ai1 = $('GET_REPORT').first().json.output\n} catch (e) {\n  ai1 = null;\n}\n\nconst chosenOutput = ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2460,480],"id":"80f121d8-7414-4200-9f1c-fbc728d6c1d7","name":"Get inital Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"a1204db8-905f-4b4a-bf35-9dfe3c1c7054","name":"MERGE","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3320,480],"id":"a146fa33-ec31-4ec1-a2d9-a21bba70b7b6","name":"Edit Fields4"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $input.first().json.output_a0 || \"\";\n} catch {\n  ai1 = \"\";\n}\n\ntry {\n  ai2 = $input.first().json.output_rev || \"\";\n} catch {\n  ai2 = \"\";\n}\n\n// If there's nothing new, just return the original\nif (!ai2.trim()) {\n  return [{ json: { output: ai1.trim() } }];\n}\n\n// 1) Figure out ai2’s section number\nconst m = ai2.match(/^\\s*(\\d+)\\./);\nconst ai2Num = m ? parseInt(m[1], 10) : null;\n\n// 2) Split ai1 into chunks at each \"X. **Name**:\"  \n//    Any leading intro text will be chunk[0] without a number\nconst chunks = ai1\n  .split(/(?=\\d+\\. \\*\\*Name\\*\\*: )/g)\n  .map(s => s.trim())\n  .filter(s => s.length);\n\n// 3) Replace matching section or mark for append\nlet replaced = false;\nconst updated = chunks.map(chunk => {\n  const numMatch = chunk.match(/^\\s*(\\d+)\\./);\n  const num = numMatch ? parseInt(numMatch[1], 10) : null;\n\n  if (num !== null && num === ai2Num) {\n    replaced = true;\n    return ai2.trim();\n  }\n  return chunk;\n});\n\n// 4) If no replace happened and ai2Num is valid, append it\nif (!replaced && ai2Num !== null) {\n  updated.push(ai2.trim());\n}\n\n// 5) Sort all numbered chunks by their section number; keep any non-numbered intro at front\nfunction chunkKey(chunk) {\n  const m = chunk.match(/^\\s*(\\d+)\\./);\n  return m ? parseInt(m[1], 10) : -1;  // intro text gets -1 and stays first\n}\n\nupdated.sort((a, b) => chunkKey(a) - chunkKey(b));\n\n// 6) Join with two line breaks\nconst merged = updated.join(\"\\n\\n\").trim();\n\nreturn [\n  {\n    json: {\n      output: merged\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,480],"id":"67b2d9e4-01ca-4b2e-9ee1-6e92af29e0c4","name":"Merger"},{"parameters":{"assignments":{"assignments":[{"id":"e53064c3-93d6-44dc-9329-26d6b55a8e0d","name":"Prompt4revise","value":"={{ $json.data.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,-280],"id":"4fab2a98-045f-466a-8007-f2a2e9030afc","name":"Prompt4revise"},{"parameters":{"assignments":{"assignments":[{"id":"9f398bc6-40bf-457d-a63a-2f4e3dae174a","name":"report_var","value":"={{ $('Report_Planer').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,-280],"id":"0fa8f41c-d664-46ef-8ca1-90291c69344e","name":"Report_VAR"},{"parameters":{"assignments":{"assignments":[{"id":"9f398bc6-40bf-457d-a63a-2f4e3dae174a","name":"report_var","value":"={{ $('Edit Fields4').item.json.MERGE }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2540,1200],"id":"b1d3b466-00bf-4ea6-bc12-2f6eda45cf7a","name":"Report_VAR1"},{"parameters":{"assignments":{"assignments":[{"id":"e53064c3-93d6-44dc-9329-26d6b55a8e0d","name":"Prompt4revise","value":"={{ $json.data.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2540,960],"id":"3fce0a9f-ca55-4cc0-9852-9c296eb6e008","name":"Prompt4revise1"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $('Prompt4revise1').first().json.Prompt4revise\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Prompt4revise').first().json.Prompt4revise;\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,-280],"id":"62f428b7-a000-4fb5-8ad5-79625579943f","name":"PROMPT_GLOBAL"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $('Report_VAR1').first().json.report_var\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Report_Planer').first().json.output\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,120],"id":"9773292c-2d6e-42bb-a503-d197417b3365","name":"GET_REPORT"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Report_Planer","type":"ai_languageModel","index":0}]]},"Report_Planer":{"main":[[{"node":"Human_in_the_loop_Report","type":"main","index":0}]]},"Query_Writer_Agent":{"ai_tool":[[{"node":"Report_Planer","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Revisor","type":"ai_languageModel","index":0}]]},"Revisor":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Get inital Prompt","type":"main","index":0}]]},"Human_in_the_loop_Report":{"main":[[{"node":"Prompt4revise","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"GET_REPORT","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Query_Writer_Agent1":{"ai_tool":[[{"node":"Revisor","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"Report_Planer","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Report_Planer","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Human_in_the_loop_Report1":{"main":[[{"node":"Prompt4revise1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merger","type":"main","index":0}]]},"Get inital Prompt":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Human_in_the_loop_Report1","type":"main","index":0}]]},"Merger":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Prompt4revise":{"main":[[{"node":"Report_VAR","type":"main","index":0}]]},"Report_VAR":{"main":[[{"node":"PROMPT_GLOBAL","type":"main","index":0}]]},"Report_VAR1":{"main":[[{"node":"PROMPT_GLOBAL","type":"main","index":0}]]},"Prompt4revise1":{"main":[[{"node":"Report_VAR1","type":"main","index":0}]]},"PROMPT_GLOBAL":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"GET_REPORT":{"main":[[{"node":"Revisor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4befcf3-1e47-443d-8d7b-6ad2653c817a","triggerCount":0,"shared":[{"createdAt":"2025-05-22T17:52:38.049Z","updatedAt":"2025-05-22T17:52:38.049Z","role":"workflow:owner","workflowId":"qEwqF8XZ5TnTiOyz","projectId":"NrQd9r8oMpFtZnHg","project":{"createdAt":"2025-03-27T22:05:44.195Z","updatedAt":"2025-03-28T11:50:14.003Z","id":"NrQd9r8oMpFtZnHg","name":"Lukas Lindner <lindner20356@hs-ansbach.de>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T22:05:44.214Z","updatedAt":"2025-03-27T22:05:44.214Z","role":"project:personalOwner","userId":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","projectId":"NrQd9r8oMpFtZnHg","user":{"createdAt":"2025-03-27T22:05:44.182Z","updatedAt":"2025-04-25T10:38:49.888Z","id":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","email":"lindner20356@hs-ansbach.de","firstName":"Lukas","lastName":"Lindner","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-28T11:50:51.570Z","personalization_survey_n8n_version":"1.82.3","companyType":"personal","reportedSource":"other","reportedSourceOther":"I was invited "},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZVgChKHo1urRFpDV","userActivated":true,"userActivatedAt":1745299771787,"npsSurvey":{"responded":true,"lastShownAt":1745577527257}},"role":"global:member","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":false}}]}}],"tags":[]}