demo:-my-first-ai-agent-in-n8n-2-cwau8NoRGvh0bAVc.json
{"createdAt":"2025-03-28T14:35:14.422Z","updatedAt":"2025-04-04T20:15:05.000Z","id":"cwau8NoRGvh0bAVc","name":"Demo: My first AI Agent in n8n 2","active":false,"nodes":[{"parameters":{"content":"## 👋 Welcome to n8n!\nThis example shows how to build an AI Agent that interacts with your \ncalendar.\n\n### 1. Connect your accounts\n- Claim your `free` 0 OpenAI calls in the `OpenAI model` node \n- Connect your Google account in the `Google Calendar` node credentials section\n\n### 2. Ready to test it?\nClick Chat below and start asking questions! For example you can try `What meetings do I have today?`","height":389,"width":319,"color":6},"id":"eae35513-07c2-4de2-a795-a153b6934c1b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,20]},{"parameters":{"content":"### Want to learn more?\nWant to learn more about AI and how to apply it best in n8n? Have a look at our [new tutorial series on YouTube](https://www.youtube.com/watch?v=yzvLfHb0nqE&lc).","height":100,"width":317,"color":6},"id":"907552eb-6e0f-472e-9d90-4513a67a31db","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,440]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}                             ","options":{"systemMessage":"=You are a helpful assistant\n\nyou can acess wikipedia\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-80,-160],"id":"76dd46b5-347e-4af0-a92a-ac455d38f090","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-360,140],"id":"76a22803-4255-4ebd-a22c-ed6a2187f261","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"s7EyLSGGLmN5RVTg","name":"Google Gemini(PaLM) Api account 2"}},"notes":"ajo\nacess my gmail\n\n\n"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-300,-160],"id":"a0b4070d-1228-4e84-85e8-d366094e4975","name":"When chat message received","webhookId":"f6cd0075-8a0a-471d-be55-3920c381ff80"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-60,120],"id":"b327b380-ab51-4ca4-a4e0-3d2ae52bb66b","name":"Simple Memory"},{"parameters":{"operation":"getAll","limit":5,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[180,120],"id":"6be0c09c-ef1e-47a4-b7c1-5d96650ceea6","name":"Gmail","webhookId":"96a3fa5f-531a-4d79-b4d3-4df476f77257","credentials":{"gmailOAuth2":{"id":"RQJeKg5hE9vn1Egt","name":"Gmail account 4"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[300,60],"id":"1cb62884-e135-4f7d-a8d2-4377f3b3cc28","name":"Wikipedia"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Gmail":{"ai_tool":[[]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"PT1i+zU92Ii5O2XCObkhfHJR5h9rNJTpiCIkYJk9jHU=","templateCredsSetupCompleted":true},"pinData":{},"versionId":"2797668d-9c87-4a19-9f65-23653c966d87","triggerCount":0,"tags":[],"myNewField":1}