getworkflows-uxFxrLHfPbXH4Htm.json
{"createdAt":"2025-05-09T15:48:43.742Z","updatedAt":"2025-05-09T16:16:09.000Z","id":"uxFxrLHfPbXH4Htm","name":"GetWorkflows","active":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-700,-40],"id":"0e873d71-e138-4641-a595-8be91f12814b","name":"n8n","credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"jsCode":"const arr1 = [];\n\n\n  arr1.push($input.first().json.name);\n\n\n// Wrap each name in a `{ json: { name } }` object\nreturn arr1.map(name => ({ json: { name } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-120,180],"id":"1bf96498-7220-4946-8bcd-fa6b88be8913","name":"Code1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name","renameField":true,"outputFieldName":"names"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-20,-60],"id":"b151d64a-287e-4039-99ca-6e4ee0a14e01","name":"Aggregate"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-980,160],"id":"752994d1-f8dc-4c28-a074-2174b8df817b","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-440,-60],"id":"40981bc8-a712-41b1-ac5a-98d0c128cb0e","name":"Loop Over Items"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d945a79f-425e-4ec2-9de7-5c136a9a921c","triggerCount":0,"tags":[{"createdAt":"2025-05-09T16:15:57.126Z","updatedAt":"2025-05-09T16:15:57.126Z","id":"gPAtMSxXCGbuEnYD","name":"GITHUB"}],"myNewField":1}