github---share-team-pg7jvsYQGhrmSPGe.json
{"createdAt":"2025-05-08T00:49:32.481Z","updatedAt":"2025-05-14T15:31:12.000Z","id":"pg7jvsYQGhrmSPGe","name":"GitHub - share Team","active":false,"nodes":[{"parameters":{"includeTime":false,"options":{}},"id":"c846e25a-9544-4442-b813-4658bfd55cfc","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[260,420]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"9aae7a07-e6cb-4854-899f-f67dfd27e0dd","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[440,420]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"60e80340-3faf-43ec-afaa-74e4a39c0c39","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,420]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"}},"id":"f0862ece-7465-4fc0-922c-efd38c1ab9f2","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[840,420],"alwaysOutputData":true,"webhookId":"c57952e1-4bc0-4949-9daa-edb24bcd7e5f","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"669cca21-a432-43e1-b2b4-4dee0d4380b0","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,420]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"pg7jvsYQGhrmSPGe","mode":"list","cachedResultName":"GitHub - share Team (#pg7jvsYQGhrmSPGe)"},"requestOptions":{}},"id":"31856422-e9a8-48cb-9d4e-4749b0f08286","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1240,420],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"30f6d4a1-a303-4af9-beec-1bd4ff0865b0","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1440,420]},{"parameters":{"batchSize":1,"options":{}},"id":"e401979f-5bc8-4682-a601-98919076b40e","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"c6b33495-25f1-4419-841b-511ebee03a57","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,340]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"6a282351-fb7f-4a39-9958-3ce4297aba34","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,140],"webhookId":"3b292ebd-558c-4979-8c48-349bb0762d6c","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"d9dc3010-ebbe-4f42-9ebf-4abe75db1997","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,540],"webhookId":"743df859-a548-408a-a875-12a647454cd7","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"5ab6ae7b-d277-40e5-a105-3cb5b8f952b3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,260]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"ea9bad7d-cb36-4ccd-ab78-891755d7105a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,260]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"7b44eeb2-796d-466e-80bf-8ca98f2cc49e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,260]},{"parameters":{"content":"## Retrieve workflows\nGet the selected workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"e650c7e2-7e08-48ad-be9d-2227d2a04ec3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,260]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"356b7314-4ff4-491e-bcfe-0f6400c83629","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,0]},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"github---share-team-TCX5XGiR2rz32W1R.json","additionalParameters":{}},"id":"0f80d5a3-be2f-4b9d-8d28-0cbc828ffc81","name":"GET REPO [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[260,840],"alwaysOutputData":true,"webhookId":"f5f2aeee-d521-46b6-ae39-f345784bf939","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[500,840],"id":"885efe0f-39ff-4d1f-ab14-8d116cf18ebd","name":"Convert back to JSON"},{"parameters":{"operation":"update","workflowId":{"__rl":true,"value":"pg7jvsYQGhrmSPGe","mode":"list","cachedResultName":"GitHub - share Team (#pg7jvsYQGhrmSPGe)"},"workflowObject":"={{ $json.data.toJsonString() }}","requestOptions":{}},"id":"67351e9f-df0a-4c9f-b867-125cb0b22b6e","name":"Update workflow [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[760,840],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[20,420],"id":"200efe6c-091b-4729-973f-f564958847c8","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Update Workflow\nthe last node determines where the workflow is saved - make sure that you do not overwrite anything by accident!.","height":339.42690909090965,"width":585.4045090909088},"id":"1377dcfa-5652-4284-950d-275aabc38fe6","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,720]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"GET REPO [GITHUB]1":{"main":[[{"node":"Convert back to JSON","type":"main","index":0}]]},"Convert back to JSON":{"main":[[{"node":"Update workflow [N8N]1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"GET REPO [GITHUB]1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1a2ca068-97af-46c4-ac8d-51de8dae37b3","triggerCount":0,"shared":[{"createdAt":"2025-05-08T00:49:32.486Z","updatedAt":"2025-05-08T00:49:32.486Z","role":"workflow:owner","workflowId":"pg7jvsYQGhrmSPGe","projectId":"NrQd9r8oMpFtZnHg","project":{"createdAt":"2025-03-27T22:05:44.195Z","updatedAt":"2025-03-28T11:50:14.003Z","id":"NrQd9r8oMpFtZnHg","name":"Lukas Lindner <lindner20356@hs-ansbach.de>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T22:05:44.214Z","updatedAt":"2025-03-27T22:05:44.214Z","role":"project:personalOwner","userId":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","projectId":"NrQd9r8oMpFtZnHg","user":{"createdAt":"2025-03-27T22:05:44.182Z","updatedAt":"2025-04-25T10:38:49.888Z","id":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","email":"lindner20356@hs-ansbach.de","firstName":"Lukas","lastName":"Lindner","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-28T11:50:51.570Z","personalization_survey_n8n_version":"1.82.3","companyType":"personal","reportedSource":"other","reportedSourceOther":"I was invited "},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZVgChKHo1urRFpDV","userActivated":true,"userActivatedAt":1745299771787,"npsSurvey":{"responded":true,"lastShownAt":1745577527257}},"role":"global:member","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":false}}]}}],"tags":[{"createdAt":"2025-05-09T16:15:57.126Z","updatedAt":"2025-05-09T16:15:57.126Z","id":"gPAtMSxXCGbuEnYD","name":"GITHUB"}]}