github-pg7jvsYQGhrmSPGe.json
{"createdAt":"2025-05-08T00:49:32.481Z","updatedAt":"2025-05-09T16:15:59.000Z","id":"pg7jvsYQGhrmSPGe","name":"GitHub","active":false,"nodes":[{"parameters":{"includeTime":false,"options":{}},"id":"a57196b8-ac23-41ba-9be6-5f8f84c23eee","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[240,420]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"70b37c4f-3123-4a7d-bad5-8079350812bc","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[440,420]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"8ca4b71f-b2de-48d7-8d98-85de6214052d","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,420]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"}},"id":"ce516156-d0b1-4443-ba38-f0751839baed","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[840,420],"alwaysOutputData":true,"webhookId":"eba59952-39e8-462f-a6cb-175ecf11a5eb","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"1e54e65c-687e-4ad1-963f-7b6361cacdd0","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,420]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"pg7jvsYQGhrmSPGe","mode":"list","cachedResultName":"GitHub (#pg7jvsYQGhrmSPGe)"},"requestOptions":{}},"id":"9f370032-20e8-4a94-a397-86249a9e3984","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1240,420],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"364c184a-77f2-44f6-9a49-16cbd45e40a6","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1440,420]},{"parameters":{"batchSize":1,"options":{}},"id":"2f94d456-05ef-421a-b319-bff9af33e36b","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"40a22eec-8f67-4d47-b998-3c60dda4f339","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,340]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"419d7395-73ac-40c9-91b7-795972936288","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,140],"webhookId":"320c101c-4e0a-47e4-af64-5af039fd414c","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"20c60e5b-3a35-480a-9413-0d3b954d86c5","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,540],"webhookId":"3b078efd-21f1-4025-8c85-1324dd6a375e","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"9158b4bc-85a4-48ce-827d-5ed8ac656e97","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,260]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"8a738ed6-0fc6-4e20-8c8e-e9b7b4890d28","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,260]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"43c98299-17c8-4202-8d57-d06bd2f5cf32","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,260]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"d4e30021-1ea6-4409-a0d3-190580cc1f75","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,260]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"6f963177-66f3-4752-bf78-5dbec581327a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,0]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0ba27127-01ef-44d8-99cd-e22b10f9f768","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2180,1120]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"cc3e1bfd-015f-4c7f-b935-ac9472f958e9","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[2160,940],"webhookId":"320c101c-4e0a-47e4-af64-5af039fd414c","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"9c7cc4c5-f665-4c84-a8e2-a1ef0b31c3f2","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1940,1520],"webhookId":"3b078efd-21f1-4025-8c85-1324dd6a375e","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"ccf72beb-2797-4204-8964-f339a461953e","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,1060]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"3ee56d59-396b-4c86-8630-595e1cc458d3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,1180]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"3df0b08b-7be0-4f7c-8b0c-9009cafc9cd0","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,1060]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":732,"width":684},"id":"6e78efdc-7334-475c-8ee2-b23150da0ae2","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1660,800]},{"parameters":{"jsCode":"// take the first (and only) incoming item\nconst obj = $input.first().json;   // { data: { … } }\n\n// emit one item whose JSON is the inner data object\nreturn [\n  {\n    json: obj.data          // whatever you actually need\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,940],"id":"5115d334-a49c-4c39-b8ca-90637f67369e","name":"Code"},{"parameters":{"mode":"raw","jsonOutput":"{\"createdAt\":\"2025-05-08T00:49:32.481Z\",\"updatedAt\":\"2025-05-08T01:49:21.000Z\",\"id\":\"pg7jvsYQGhrmSPGe\",\"name\":\"GitHub\",\"active\":false,\"nodes\":[{\"parameters\":{},\"id\":\"0c740298-d05c-44bd-9a29-6c17c087e0fb\",\"name\":\"Execute workflow\",\"type\":\"n8n-nodes-base.manualTrigger\",\"typeVersion\":1,\"position\":[-140,860]},{\"parameters\":{\"includeTime\":false,\"options\":{}},\"id\":\"2a7ab3fd-429c-4d6d-b9db-3b393ac59e78\",\"name\":\"Set date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[240,420]},{\"parameters\":{\"operation\":\"formatDate\",\"date\":\"={{ $json.currentDate }}\",\"format\":\"custom\",\"customFormat\":\"dd-MM-yyyy/H:mm\",\"options\":{}},\"id\":\"3451d533-85ff-45da-b485-0aeeba82509d\",\"name\":\"Format date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[440,420]},{\"parameters\":{\"keepOnlySet\":true,\"values\":{\"string\":[{\"name\":\"commitDate\",\"value\":\"={{ $json.formattedDate }}\"}]},\"options\":{}},\"id\":\"ea53edb4-b63f-4dc4-a083-969ee983e5b0\",\"name\":\"Set commit date\",\"type\":\"n8n-nodes-base.set\",\"typeVersion\":2,\"position\":[640,420]},{\"parameters\":{\"resource\":\"file\",\"operation\":\"list\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"}},\"id\":\"bb87654d-aa45-4516-8447-3351d2e990f2\",\"name\":\"List files from repository [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[840,420],\"alwaysOutputData\":true,\"webhookId\":\"eba59952-39e8-462f-a6cb-175ecf11a5eb\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"operation\":\"aggregateItems\",\"fieldsToAggregate\":{\"fieldToAggregate\":[{\"fieldToAggregate\":\"name\"}]},\"options\":{}},\"id\":\"b5884c99-c7d4-4721-990f-7a15786806b2\",\"name\":\"Combine file names [GITHUB]\",\"type\":\"n8n-nodes-base.itemLists\",\"typeVersion\":2.1,\"position\":[1040,420]},{\"parameters\":{\"operation\":\"get\",\"workflowId\":{\"__rl\":true,\"value\":\"pg7jvsYQGhrmSPGe\",\"mode\":\"list\",\"cachedResultName\":\"GitHub (#pg7jvsYQGhrmSPGe)\"},\"requestOptions\":{}},\"id\":\"1e4c64fc-6310-4009-858f-df699c778a4d\",\"name\":\"Retrieve workflows [N8N]\",\"type\":\"n8n-nodes-base.n8n\",\"typeVersion\":1,\"position\":[1240,420],\"credentials\":{\"n8nApi\":{\"id\":\"SLw17ZObg4LJS4Ti\",\"name\":\"n8n account\"}}},{\"parameters\":{\"mode\":\"jsonToBinary\",\"options\":{\"fileName\":\"={{ $json.name.replace(/\\\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"}},\"id\":\"c5f42cb2-b156-4cb5-99b8-39f5912d9d5f\",\"name\":\"Move JSON to binary\",\"type\":\"n8n-nodes-base.moveBinaryData\",\"typeVersion\":1,\"position\":[1440,420]},{\"parameters\":{\"batchSize\":1,\"options\":{}},\"id\":\"128e8978-1a56-4cfe-bcf0-620c75a82b32\",\"name\":\"Split to single items\",\"type\":\"n8n-nodes-base.splitInBatches\",\"typeVersion\":2,\"position\":[1680,420]},{\"parameters\":{\"conditions\":{\"string\":[{\"value1\":\"={{ $node['Combine file names [GITHUB]'].json.name }}\",\"operation\":\"contains\",\"value2\":\"={{ $binary.data.fileName }}\"}]}},\"id\":\"71963cf4-00a0-4a9e-8964-151262cdd54f\",\"name\":\"Check if file exists in repository\",\"type\":\"n8n-nodes-base.if\",\"typeVersion\":1,\"position\":[1920,340]},{\"parameters\":{\"resource\":\"file\",\"operation\":\"edit\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"={{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"4f3d7381-bc19-4c71-8cb6-d5a8a30b617a\",\"name\":\"Update file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2140,140],\"webhookId\":\"320c101c-4e0a-47e4-af64-5af039fd414c\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"resource\":\"file\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"={{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"0b9865c0-2e69-42dd-a7be-88c23ee97c56\",\"name\":\"Upload file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2140,540],\"webhookId\":\"3b078efd-21f1-4025-8c85-1324dd6a375e\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"content\":\"## Trigger\\nYou can change it to [\\\"Schedule\\\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.\",\"height\":339.51767272727324,\"width\":182.4715262478496},\"id\":\"c5d52447-a7ed-4aa2-9e8c-00aa21d0a25b\",\"name\":\"Sticky Note\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[0,260]},{\"parameters\":{\"content\":\"## Set and format date/time\\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.\",\"height\":339.42690909090965,\"width\":585.4045090909088},\"id\":\"a9322214-8d16-4414-a531-1b6b600820bc\",\"name\":\"Sticky Note1\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[200,260]},{\"parameters\":{\"content\":\"## Make a list of existing files\\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \\\"IF\\\" node (later in workflow) to check whether the backup files should be created or updated.\",\"height\":339.42690909090965,\"width\":389.89265454545443},\"id\":\"5714b94a-7c54-4a35-9631-fad1e195a3a8\",\"name\":\"Sticky Note2\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[800,260]},{\"parameters\":{\"content\":\"## Retrieve workflows\\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\",\"height\":339.42690909090965,\"width\":384.14708363636373},\"id\":\"4414b8ce-7e6e-4bb8-906f-f29e1fb97394\",\"name\":\"Sticky Note3\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1220,260]},{\"parameters\":{\"content\":\"## Upload backup\\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.\",\"height\":731.633426614796,\"width\":703.8733020263451},\"id\":\"f1b13695-c6fe-4079-8695-ee5a76d4f84d\",\"name\":\"Sticky Note4\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1620,0]},{\"parameters\":{\"content\":\"## ⚠️ Note\\n\\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \\n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\\n\\n**Thank you for your support!**\",\"height\":234.82946582693546,\"width\":508.8662091091177},\"id\":\"a949bd2a-c3e5-4245-820a-c968ce4e86c0\",\"name\":\"Sticky Note5\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[0,0]},{\"parameters\":{\"resource\":\"file\",\"operation\":\"get\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"/github-pg7jvsYQGhrmSPGe.json\",\"additionalParameters\":{}},\"id\":\"787f5c80-33d5-49da-8742-6e1e192c6baf\",\"name\":\"List files from repository [GITHUB]1\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[900,1260],\"alwaysOutputData\":true,\"webhookId\":\"eba59952-39e8-462f-a6cb-175ecf11a5eb\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"operation\":\"update\",\"workflowId\":{\"__rl\":true,\"value\":\"pg7jvsYQGhrmSPGe\",\"mode\":\"list\",\"cachedResultName\":\"GitHub (#pg7jvsYQGhrmSPGe)\"},\"requestOptions\":{}},\"id\":\"3f53f34e-9488-422d-a080-dbfb68d2a1a0\",\"name\":\"Retrieve workflows [N8N]1\",\"type\":\"n8n-nodes-base.n8n\",\"typeVersion\":1,\"position\":[1620,1160],\"credentials\":{\"n8nApi\":{\"id\":\"SLw17ZObg4LJS4Ti\",\"name\":\"n8n account\"}}},{\"parameters\":{\"conditions\":{\"string\":[{\"value1\":\"={{ $node['Combine file names [GITHUB]1'].json.name }}\",\"operation\":\"contains\",\"value2\":\"={{ $binary.data.fileName }}\"}]}},\"id\":\"a9513091-e9c5-498c-811b-ea964f56da97\",\"name\":\"Check if file exists in repository1\",\"type\":\"n8n-nodes-base.if\",\"typeVersion\":1,\"position\":[1940,1140]},{\"parameters\":{\"resource\":\"file\",\"operation\":\"edit\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"={{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date1'].json.commitDate }}\"},\"id\":\"20e2103b-91c8-481e-861f-45e28fe869e9\",\"name\":\"Update file [GITHUB]1\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2160,940],\"webhookId\":\"320c101c-4e0a-47e4-af64-5af039fd414c\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"resource\":\"file\",\"owner\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"https://github.com/lcsfox337/HSAN_agentic\",\"mode\":\"url\"},\"filePath\":\"={{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date1'].json.commitDate }}\"},\"id\":\"1703c998-cb2f-4d15-b2e8-4c4265a548be\",\"name\":\"Upload file [GITHUB]1\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[1940,1520],\"webhookId\":\"3b078efd-21f1-4025-8c85-1324dd6a375e\",\"credentials\":{\"githubApi\":{\"id\":\"ZUeEMXykAEwNyR7n\",\"name\":\"GitHub account 2\"}}},{\"parameters\":{\"content\":\"## Set and format date/time\\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.\",\"height\":339.42690909090965,\"width\":585.4045090909088},\"id\":\"9dfaf90e-de5f-44d6-9f89-6284e7051ccf\",\"name\":\"Sticky Note7\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[220,1060]},{\"parameters\":{\"content\":\"## Make a list of existing files\\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \\\"IF\\\" node (later in workflow) to check whether the backup files should be created or updated.\",\"height\":339.42690909090965,\"width\":389.89265454545443},\"id\":\"9a93ed46-679f-4068-9975-29ee1291481e\",\"name\":\"Sticky Note8\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[860,1100]},{\"parameters\":{\"content\":\"## Retrieve workflows\\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\",\"height\":339.42690909090965,\"width\":384.14708363636373},\"id\":\"7ea66d1f-d7fe-4c0a-b41f-b3303529f1b9\",\"name\":\"Sticky Note9\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1240,1060]},{\"parameters\":{\"content\":\"## Upload backup\\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.\",\"height\":731.633426614796,\"width\":703.8733020263451},\"id\":\"7421ff0e-3410-4321-a6a5-6a5944fbbf44\",\"name\":\"Sticky Note10\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1640,800]},{\"parameters\":{\"operation\":\"fromJson\",\"options\":{}},\"type\":\"n8n-nodes-base.extractFromFile\",\"typeVersion\":1,\"position\":[1120,1260],\"id\":\"18a01e48-fc72-4d1c-95e3-111b937c2fd2\",\"name\":\"Extract from File2\"},{\"parameters\":{\"jsCode\":\"// Grab the first (and only) element of the incoming array\\nconst firstItem = $input.first().json;   // { data: { … } }\\n\\n// Return it as a single item whose top-level JSON is that data object\\nreturn [\\n  {\\n    json: firstItem.data      // now the workflow sees just `{ … }`, no extra brackets\\n  }\\n];\\n\"},\"type\":\"n8n-nodes-base.code\",\"typeVersion\":2,\"position\":[1340,1260],\"id\":\"6c1352ff-d09d-427f-95c4-7fa58276dd4f\",\"name\":\"Code\"}],\"connections\":{\"Execute workflow\":{\"main\":[[{\"node\":\"Set date\",\"type\":\"main\",\"index\":0}]]},\"Set date\":{\"main\":[[{\"node\":\"Format date\",\"type\":\"main\",\"index\":0}]]},\"Format date\":{\"main\":[[{\"node\":\"Set commit date\",\"type\":\"main\",\"index\":0}]]},\"Set commit date\":{\"main\":[[{\"node\":\"List files from repository [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"List files from repository [GITHUB]\":{\"main\":[[{\"node\":\"Combine file names [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Combine file names [GITHUB]\":{\"main\":[[{\"node\":\"Retrieve workflows [N8N]\",\"type\":\"main\",\"index\":0}]]},\"Retrieve workflows [N8N]\":{\"main\":[[{\"node\":\"Move JSON to binary\",\"type\":\"main\",\"index\":0}]]},\"Move JSON to binary\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"Split to single items\":{\"main\":[[{\"node\":\"Check if file exists in repository\",\"type\":\"main\",\"index\":0}]]},\"Check if file exists in repository\":{\"main\":[[{\"node\":\"Update file [GITHUB]\",\"type\":\"main\",\"index\":0}],[{\"node\":\"Upload file [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Update file [GITHUB]\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"Upload file [GITHUB]\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"List files from repository [GITHUB]1\":{\"main\":[[{\"node\":\"Extract from File2\",\"type\":\"main\",\"index\":0}]]},\"Retrieve workflows [N8N]1\":{\"main\":[[]]},\"Check if file exists in repository1\":{\"main\":[[{\"node\":\"Update file [GITHUB]1\",\"type\":\"main\",\"index\":0}],[{\"node\":\"Upload file [GITHUB]1\",\"type\":\"main\",\"index\":0}]]},\"Update file [GITHUB]1\":{\"main\":[[{\"node\":\"Check if file exists in repository1\",\"type\":\"main\",\"index\":0}]]},\"Upload file [GITHUB]1\":{\"main\":[[{\"node\":\"Check if file exists in repository1\",\"type\":\"main\",\"index\":0}]]},\"Extract from File2\":{\"main\":[[{\"node\":\"Code\",\"type\":\"main\",\"index\":0}]]},\"Code\":{\"main\":[[{\"node\":\"Retrieve workflows [N8N]1\",\"type\":\"main\",\"index\":0}]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{},\"versionId\":\"d83d905e-0955-4d47-9805-80e266161215\",\"triggerCount\":0,\"shared\":[{\"createdAt\":\"2025-05-08T00:49:32.486Z\",\"updatedAt\":\"2025-05-08T00:49:32.486Z\",\"role\":\"workflow:owner\",\"workflowId\":\"pg7jvsYQGhrmSPGe\",\"projectId\":\"NrQd9r8oMpFtZnHg\",\"project\":{\"createdAt\":\"2025-03-27T22:05:44.195Z\",\"updatedAt\":\"2025-03-28T11:50:14.003Z\",\"id\":\"NrQd9r8oMpFtZnHg\",\"name\":\"Lukas Lindner <lindner20356@hs-ansbach.de>\",\"type\":\"personal\",\"icon\":null,\"projectRelations\":[{\"createdAt\":\"2025-03-27T22:05:44.214Z\",\"updatedAt\":\"2025-03-27T22:05:44.214Z\",\"role\":\"project:personalOwner\",\"userId\":\"f0acf7a2-460e-4efb-b44a-32b7a18342d7\",\"projectId\":\"NrQd9r8oMpFtZnHg\",\"user\":{\"createdAt\":\"2025-03-27T22:05:44.182Z\",\"updatedAt\":\"2025-04-25T10:38:49.888Z\",\"id\":\"f0acf7a2-460e-4efb-b44a-32b7a18342d7\",\"email\":\"lindner20356@hs-ansbach.de\",\"firstName\":\"Lukas\",\"lastName\":\"Lindner\",\"personalizationAnswers\":{\"version\":\"v4\",\"personalization_survey_submitted_at\":\"2025-03-28T11:50:51.570Z\",\"personalization_survey_n8n_version\":\"1.82.3\",\"companyType\":\"personal\",\"reportedSource\":\"other\",\"reportedSourceOther\":\"I was invited \"},\"settings\":{\"easyAIWorkflowOnboarded\":true,\"firstSuccessfulWorkflowId\":\"ZVgChKHo1urRFpDV\",\"userActivated\":true,\"userActivatedAt\":1745299771787,\"npsSurvey\":{\"responded\":true,\"lastShownAt\":1745577527257}},\"role\":\"global:member\",\"disabled\":false,\"mfaEnabled\":false,\"isPending\":false,\"isOwner\":false}}]}}],\"tags\":[]}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,820],"id":"d77a52ce-1c1a-48df-9642-d7f266aa9838","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"/github-pg7jvsYQGhrmSPGe.json","additionalParameters":{}},"id":"4733fb98-f9d5-457c-adae-fa1355e546a8","name":"GET REPO [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[260,840],"alwaysOutputData":true,"webhookId":"eba59952-39e8-462f-a6cb-175ecf11a5eb","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[500,840],"id":"766dc27c-c83b-4b93-b574-947f63ae7a16","name":"Convert back to JSON"},{"parameters":{"operation":"update","workflowId":{"__rl":true,"value":"pg7jvsYQGhrmSPGe","mode":"list","cachedResultName":"GitHub (#pg7jvsYQGhrmSPGe)"},"workflowObject":"={{ $json.data.toJsonString() }}","requestOptions":{}},"id":"a5ba2591-be2f-468e-bfce-51440b63a19c","name":"Update workflow [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[760,840],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-500,460],"id":"83c9a859-5c41-4bb0-b536-b2fa10887567","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.chatInput }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-380,460],"id":"4dc07321-d037-4f5a-a725-02ad6e140968","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-980,220],"id":"4617f2b0-2626-4796-b80f-3fbe807c5b39","name":"When chat message received","webhookId":"da432da2-51e6-426c-b4a5-2954a4c6d8d0"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=You are a helpful assistant\n\nYou can use the GitHub tools to retrieve files that end up being converted to workflows. \nYou can also save workflows to GitHub using TOOL 2. \n\nuse TOOL 1 on the first message.\n\nIf asked by the user to STORE a certain workflow check if the workflows you listed are similar to the requested workflows\nthen tell which one you are going to store and if confirmed, do so by using TOOL 2 \"STORE\"\n\n--Tool 1\nVia the \"Call n8n Workflow Tool\" you can get a list of ALL n8n workflows that are currently stored by this user. Print their names first\nALWAYS used the Tool when first executed\n\n\n--Tool 2 \"STORE\"\nThis tool can STORE Workflows\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-500,180],"id":"dcad2b1d-57e2-45c9-ae3d-8a969a1c2b8d","name":"AI Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1df67848-7fb9-4dc9-a5d6-ef06ae7fd751","leftValue":"={{ $json.output }}","rightValue":"STOPSTOPSTOP","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,60],"id":"25974568-d619-4451-b7f0-fbac4a9ca48b","name":"If"},{"parameters":{"description":"Call this tool to get a list of current workflows","workflowId":{"__rl":true,"value":"uxFxrLHfPbXH4Htm","mode":"list","cachedResultName":"GetWorkflows"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-240,460],"id":"9595fcec-162b-428c-b5fd-60fe5b459b4f","name":"Call n8n Workflow Tool"},{"parameters":{"description":"Call this tool to store a worklow to github","workflowId":{"__rl":true,"value":"54p5iJOhBMrZ2358","mode":"list","cachedResultName":"GitHub STORE"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-120,460],"id":"6257c8a1-be70-46f3-a8a0-ae13d0cdd133","name":"STORE"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"GET REPO [GITHUB]1":{"main":[[{"node":"Convert back to JSON","type":"main","index":0}]]},"Convert back to JSON":{"main":[[{"node":"Update workflow [N8N]1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"If":{"main":[[],[]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"STORE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"efec3569-3257-4c04-8277-695336e9873a","triggerCount":0,"shared":[{"createdAt":"2025-05-08T00:49:32.486Z","updatedAt":"2025-05-08T00:49:32.486Z","role":"workflow:owner","workflowId":"pg7jvsYQGhrmSPGe","projectId":"NrQd9r8oMpFtZnHg","project":{"createdAt":"2025-03-27T22:05:44.195Z","updatedAt":"2025-03-28T11:50:14.003Z","id":"NrQd9r8oMpFtZnHg","name":"Lukas Lindner <lindner20356@hs-ansbach.de>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T22:05:44.214Z","updatedAt":"2025-03-27T22:05:44.214Z","role":"project:personalOwner","userId":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","projectId":"NrQd9r8oMpFtZnHg","user":{"createdAt":"2025-03-27T22:05:44.182Z","updatedAt":"2025-04-25T10:38:49.888Z","id":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","email":"lindner20356@hs-ansbach.de","firstName":"Lukas","lastName":"Lindner","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-28T11:50:51.570Z","personalization_survey_n8n_version":"1.82.3","companyType":"personal","reportedSource":"other","reportedSourceOther":"I was invited "},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZVgChKHo1urRFpDV","userActivated":true,"userActivatedAt":1745299771787,"npsSurvey":{"responded":true,"lastShownAt":1745577527257}},"role":"global:member","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":false}}]}}],"tags":[{"createdAt":"2025-05-09T16:15:57.126Z","updatedAt":"2025-05-09T16:15:57.126Z","id":"gPAtMSxXCGbuEnYD","name":"GITHUB"}]}