kalender-test-DPxI1WFAyXO0uNTz.json
{"createdAt":"2025-04-11T13:37:08.335Z","updatedAt":"2025-04-25T10:44:23.000Z","id":"DPxI1WFAyXO0uNTz","name":"Kalender Test","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-460,0],"id":"fe129371-4c78-469b-8581-a6bc017defa0","name":"When chat message received","webhookId":"15396733-8ec9-4c77-9ed3-b24aabfe59fc"},{"parameters":{"promptType":"define","text":"=Du kannst Termine erstellen in Kalender. Zugreifen. Trage den Termin zu der Angegebene Zeit ein.\nHeute ist der {{ $now }}\n\nAußerdem kannst du mir basierden auf dem Tool eine Wettervorhersage geben.\nWenn die regenwahrscheinlichkeit >20%, dann trage das in den kalender ein und versende email\n\n\nWenn du per Chat-Input aktiviert wirst versende KEINE Email\nWenn du per \"Schedule Trigger\"  aktiviert wirst versende EINE Email and die Adresse, in der ich über den Momentanen Wetterbreicht, zusammengefasst, informiert werde!\n\nVerwende DIE \"Simple Memory\"-Node NICHT, wenn du NICHT per Chat aktiviert wirst\n\nAußerdem kannst du per Tools einen anderen n8n Workflow aufrufen.\n\n// (Ignoriere diese Zeile) Wenn Regen sehr wahrscheinlich, dann entferne einen Termin ... \n\ngeneriere zuletzt ein Array von der größe 10, über welches nun Iteriert wird\n{{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[440,0],"id":"e272ac9a-26fe-4b7f-8418-221860d599a5","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[460,340],"id":"eb08c0b5-c6a1-458b-8592-32dd47af1e1b","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,280],"id":"da4cf685-158c-46ec-8685-45ea686f001f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"calendar":{"__rl":true,"value":"lukas.lindner01@gmail.com","mode":"id"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[680,360],"id":"75da0c07-877f-4426-a82f-9080672d7d9b","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"5u89Eyg7kwTE9SrK","name":"Google Calendar account 10"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"lukas.lindner01@gmail.com","mode":"list","cachedResultName":"lukas.lindner01@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[780,340],"id":"316bd4cb-f659-475a-b74a-a49fc6ddc9ac","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"5u89Eyg7kwTE9SrK","name":"Google Calendar account 10"}}},{"parameters":{"sendTo":"lukas.lindner01@gmail.com","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[900,340],"id":"734264dd-7b09-432a-ac05-a9c068cdaa24","name":"Gmail","webhookId":"da97228a-1b87-40e2-be06-b3cdfc7c640f","credentials":{"gmailOAuth2":{"id":"RQJeKg5hE9vn1Egt","name":"Gmail account 4"}}},{"parameters":{"name":"test","workflowId":{"__rl":true,"value":"BEhsmahj9wK8fwaV","mode":"list","cachedResultName":"Kalender Test _ getData"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[840,560],"id":"18440fd4-b7a0-4057-9c48-d229b515a108","name":"Call n8n Workflow Tool"},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"dhdthhrthrzhjzrhrathvhrfhtrfhfhfhfh","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1020,-100],"id":"5645b498-1c50-4b63-a587-39d83d241cb4","name":"Telegram","webhookId":"4f32046f-f14a-4099-8198-834f6f6f717f","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[]]},"Google Calendar1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0496f5c1-f348-48cf-8f3a-bfe1b0484dbb","triggerCount":3,"tags":[]}