key-learning-hitl-copy-37CJ5qWtd2JKypnZ.json
{"createdAt":"2025-05-21T09:54:52.409Z","updatedAt":"2025-05-21T09:55:24.000Z","id":"37CJ5qWtd2JKypnZ","name":"Key Learning HITL copy","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.data[0] }}","options":{"systemMessage":"You are a helpful assistant\n\nYou can analize the data provided\nExtract the important data categories and pass them along\nalso determine which categories are NOT important, pass them along too\nDO NOT INCLUDE FILLER LIKE \"Here is the extracted important data from the provided information:\" - just return the RAW DATA\n\nYOUR OUTPUT:\nImportant Info: list the important info categories here\nNot important info: list the discarded info categories here\n\nYou WILL use the Tools to access PineCone Vector Store Data\nadd the info obtained from the Vector Store to the output string\n\nTools:\nPineCone Vector Store\n(use it to see which data is important and which not)\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1300,-200],"id":"21d8bc50-daf5-44f3-9a8f-29b973464487","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1260,80],"id":"b01b6439-468f-4325-8848-32728228a0a7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"=Hello, \n\ndo you want to save? \n\n{{ $json.output }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1780,-520],"id":"c60fa22d-f97c-48e7-a49b-d0fdb6feca7d","name":"Telegram","webhookId":"90778467-2c99-4d1b-aca1-26fe77c22a1d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f6c0082-ad04-4ef0-bf62-9ca09d9c6871","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2040,-200],"id":"628b11cd-9155-4d51-8085-7d9ee4370d5e","name":"If"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[720,-200],"id":"cd75b3cf-e9be-4b10-9007-2f48d658d519","name":"Telegram Trigger","webhookId":"958290a6-5189-43db-a545-681268090835","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-200],"id":"e673fce8-f033-473d-b102-dc79af1de69a","name":"Telegram1","webhookId":"d7b7cfd3-7e11-4d5d-a2c8-61106a5193c4","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1020,-200],"id":"a28aa03f-3998-4f59-9ec3-ace1c4364d99","name":"Extract from File"},{"parameters":{"promptType":"define","text":"={{ $json.data.text }}","options":{"systemMessage":"=You are a helpful assistant\n\n\n{{ $('AI Agent').item.json.output }} is to be overworked according to the Feedback of the Prompt\n\nDO NOT INCLUDE FILLER LIKE \"Here is the extracted important data from the provided information:\"\n\nYOUR OUTPUT:\nImportant Info: list the important info categories here\nNot important info: list the discarded info categories here\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2880,380],"id":"b6c3dc8b-cd72-4011-8972-f27ec2e6b74c","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2440,300],"id":"e157db5c-d022-4119-967b-ff176a948b20","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"What do you want to change? ","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2220,60],"id":"19272364-40be-4d50-bddd-740652bbcb56","name":"Telegram2","webhookId":"4d650833-58a0-4d04-9eed-3349f7bb0ae9","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"aitrain001","mode":"list","cachedResultName":"aitrain001"},"options":{"pineconeNamespace":"n"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[2740,-980],"id":"588d8080-5713-4c25-be19-a3a284b00170","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2720,-780],"id":"6c5e7cc4-ca2a-4b50-a082-3363a88f3f4c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2840,-800],"id":"60abfd1e-afe6-4939-abce-7b956dd9037b","name":"Default Data Loader"},{"parameters":{"mode":"retrieve-as-tool","toolName":"n","toolDescription":"Data of the previous enquiries ","pineconeIndex":{"__rl":true,"value":"aitrain001","mode":"list","cachedResultName":"aitrain001"},"topK":99,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[1420,100],"id":"b23415e2-4beb-402b-a157-079080ad7481","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1400,300],"id":"08c4552f-60b3-4df8-885d-f9c602ce2458","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[2860,-640],"id":"f9f8f589-88cf-4d9f-bec1-0746acc3b2b7","name":"Token Splitter"},{"parameters":{"assignments":{"assignments":[{"id":"6bf6a3df-169c-4743-a831-64584286d8b9","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2440,-980],"id":"9671c72a-8c85-455c-b488-8322f54230bc","name":"Edit Fields"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $('AI Agent1').first()?.json?.output;\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('AI Agent').first()?.json?.output;\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,-980],"id":"d72bf79f-4345-4d96-b477-3995b7d088e0","name":"Code"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Telegram2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[]],"main":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1ec6e4f-2c6e-458b-a8f9-9a2fe9af3d11","triggerCount":0,"shared":[{"createdAt":"2025-05-21T09:54:52.418Z","updatedAt":"2025-05-21T09:54:52.418Z","role":"workflow:owner","workflowId":"37CJ5qWtd2JKypnZ","projectId":"NrQd9r8oMpFtZnHg","project":{"createdAt":"2025-03-27T22:05:44.195Z","updatedAt":"2025-03-28T11:50:14.003Z","id":"NrQd9r8oMpFtZnHg","name":"Lukas Lindner <lindner20356@hs-ansbach.de>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T22:05:44.214Z","updatedAt":"2025-03-27T22:05:44.214Z","role":"project:personalOwner","userId":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","projectId":"NrQd9r8oMpFtZnHg","user":{"createdAt":"2025-03-27T22:05:44.182Z","updatedAt":"2025-04-25T10:38:49.888Z","id":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","email":"lindner20356@hs-ansbach.de","firstName":"Lukas","lastName":"Lindner","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-28T11:50:51.570Z","personalization_survey_n8n_version":"1.82.3","companyType":"personal","reportedSource":"other","reportedSourceOther":"I was invited "},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZVgChKHo1urRFpDV","userActivated":true,"userActivatedAt":1745299771787,"npsSurvey":{"responded":true,"lastShownAt":1745577527257}},"role":"global:member","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":false}}]}}],"tags":[]}