my-workflow-51-copy-8rEuz4XaJFTg74Aj.json
{"createdAt":"2025-05-02T14:42:23.287Z","updatedAt":"2025-05-02T14:49:28.000Z","id":"8rEuz4XaJFTg74Aj","name":"My workflow 51 copy","active":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"4b087d12-422b-4eff-b113-60013a4656ba","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,1140]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"020edf4c-30c6-482b-9bc5-2365b33d05df","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[760,1140],"credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"ada07ab3-f937-475d-b279-cf15ec531e07","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"9e73e101-51f1-446f-a6a3-32b89c758790","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-660,820],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R","mode":"list","cachedResultName":"n8n Docu","cachedResultUrl":"https://drive.google.com/drive/folders/128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R"},"event":"fileCreated","options":{}},"id":"5f5d25c3-b696-4963-9e02-651d578ce0b2","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1720,660],"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R","mode":"list","cachedResultName":"n8n Docu","cachedResultUrl":"https://drive.google.com/drive/folders/128E3f_C54pc-e_-aiCHMvt1_yHsTTv3R"},"event":"fileUpdated","options":{}},"id":"f6484103-e1d5-4ed3-a405-89dc02d9b57f","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1680,920],"credentials":{"googleDriveOAuth2Api":{"id":"sWhOQhrVLWty34VT","name":"Google Drive account 19"}}},{"parameters":{"operation":"text","options":{}},"id":"c5e4a3bc-bfd6-4abc-a34a-8e680ced6460","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,1140],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"b6d15b41-8ec5-43fb-9719-39b04c7a7003","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1140,660],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"67fba06c-127d-4e9c-9bb9-adab582be936","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,820]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"62f58477-dfa3-48db-977d-ac3eebb98e1d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,60]},{"parameters":{"operation":"pdf","options":{}},"id":"165d6be9-ec22-43a4-9f18-4e3aac5d9ecb","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,580]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"3bbfd31b-4ce9-4119-9ec1-e31590da1942","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[240,760]},{"parameters":{},"id":"5c3b4a3a-ff5c-485a-918b-5d30427db1b0","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[900,1260]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"93942eaa-87f8-4dc8-a784-9000b1847a1a","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[440,840]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"6a9d23de-eb3f-4b86-b150-7ba8581673da","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-460,800]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"a03c075d-d460-4702-99ac-d770d68dc8c6","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[920,920],"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"9fe4a206-fb51-4501-a0d4-06a88720bf97","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,760]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,700],"id":"157916b5-b9b5-426f-be21-ad5036dd31de","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,940],"id":"b6a038b1-5140-44f5-9ea8-7e8b3afb0ead","name":"Extract from CSV"},{"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":280,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1740,240],"typeVersion":1,"id":"73ef47c7-18ae-4918-bd1d-7d50062f2433","name":"Sticky Note3"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1500,660],"id":"4bc24cea-14e8-4f63-b015-726c0cc62ce8","name":"Loop Over Items"},{"parameters":{"operation":"delete","tableId":"document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1000,640],"id":"9f552bb8-c697-4a52-8080-e82fa7456d20","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"qPxSGXXne7nYIkBJ","name":"Supabase account 2"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-820,680],"id":"7e89350c-19d2-400b-b3d3-a8ac1ca4bf58","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,940],"id":"a1e09380-0f83-4023-93ac-0c9d66cb84c3","name":"Insert Table Rows","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1320,700],"id":"9e5eff8f-63be-4312-9fe7-a649ab48fdb9","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1320,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2320,80],"typeVersion":1,"id":"438107bb-6f55-48ab-9919-adbf3f1c150b","name":"Sticky Note9"},{"parameters":{"chatId":"7072233806","text":"awdAWDadadrgdg","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,920],"id":"41cbf7e5-4943-4162-95c6-28f2caac8b66","name":"Telegram","webhookId":"089537c8-d728-4ad1-959a-176932a87121","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-05-02T14:47:13Z"},"node:File Updated":{"lastTimeChecked":"2025-05-02T14:46:45Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b95d63d9-f711-418b-a7db-be355229ddf2","triggerCount":2,"tags":[]}