n8n-docu-i1SMjqO4cHrPt0eD.json
{"createdAt":"2025-04-04T16:02:35.539Z","updatedAt":"2025-04-25T14:59:02.000Z","id":"i1SMjqO4cHrPt0eD","name":"n8n Docu","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-480,-60],"id":"05fdc615-e78c-4487-80ba-c7d1fd216fcc","name":"When chat message received","webhookId":"daf1fcf9-46ae-4ec2-9a94-32218df6d276"},{"parameters":{"promptType":"define","text":"=Du bist ein KI-Agent, der sachlich und informativ auf Fragen zur n8n Dokumentation antwortet. Beantworte Fragen ausschließlich auf Basis der bereitgestellten Inhalte aus dem Pine Cone Vector Store\n\nRufe das Tool auf, um auf die Datenbank zuzugreifen und die\nFragen des Nutzers zu beantworten.\n\n{{ $json.chatInput }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-260,-60],"id":"b0ee5b13-5ea3-4f92-a0ea-2584237ced7a","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-540,460],"id":"7d5f26c0-6240-4b6c-870c-ceb3513628b4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"s7EyLSGGLmN5RVTg","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-180,160],"id":"c91ae203-3f24-4d1b-b1aa-314b68cce383","name":"Simple Memory"},{"parameters":{"name":"text","description":"Rufe dieses Tool auf, um auf die Datenbank zuzugreifen und die\nFragen des Nutzers zu beantworten."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[80,120],"id":"45788b09-4442-4dc2-b6ef-7fac6bd93344","name":"Answer questions with a vector store"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"smallb2","mode":"list","cachedResultName":"smallb2"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-40,340],"id":"de4bdc5c-5370-4713-bee0-c3bb05904931","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1Kn1CKWwqVBgqHJrhs2He1lNQoYbcvf2u7nMtF-uvIGg/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[400,20],"id":"f4ea22a6-3168-4e32-95d0-f3528c2f995b","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"bXFVi1GD79pFt1lE","name":"Google Docs account 8"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-380,280],"id":"b1ba1ea3-1027-4716-9e0d-183761d78541","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-80,500],"id":"e8ed1e96-3141-4693-95cd-25e7b9282365","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[360,320],"id":"eddf4964-82ac-4a27-a2ed-49b531d57b1f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Google Docs":{"ai_tool":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d9a43556-91f5-4871-b809-64708dc3195d","triggerCount":0,"tags":[]}