report-planer-TuRIr0aOI1NEwzjx.json
{"createdAt":"2025-05-26T14:48:43.871Z","updatedAt":"2025-05-29T09:56:49.000Z","id":"TuRIr0aOI1NEwzjx","name":"Report Planer","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2640,1000],"id":"9cd4e3a3-8361-4e66-8eb1-ed665ee0ad72","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Name des Leads: {{ $json.name}}\nDas Unternehmen des Leads: {{ $json.unternehmen }}\nDie Postleitzahl: {{ $json.postleitzahl }}\nDie Email-Adresse: {{ $json.email }}\nNotizen: {{ $json.notizen }}\n\n\nchatid: {{ $json.chatid }}","options":{"systemMessage":"=Du bist ein Lead Agent und Experte im Erstellen von Rechercheplänen. Es ist wichtig, dass der Rechercheplan ausführlich gestaltet ist und alle Punkte einer Sektion abgedeckt werden, um im Anschluss auf Basis des Rechercheplans alle Informationen über den potenziellen Lead zu sammeln.\n\n<Task>\nErstelle eine Liste von Sektionen, die in der Recherche abgearbeitet werden sollen. Es soll nach allen Informationen recherchiert werden, die nötig sind um die jeweiligen Kapitel vollständig zu beantworten\n\nBevor du den Rechercheplan erstellst, werde dir der Key Learnings bewusst und beziehe diese in den Rechercheplan mit ein. Um die Key Learnings abzurufen, verwende das Tool 'Pinecone Vector Store1'. VERWENDE DIESES TOOL UND ZIEHE DIE KEY LEARNINGS MIT EIN!\nFahre dann mit dem erstellen des Rechercheplans fort.\n\nDas sind die Themen für die eine Recherche durchgeführt werden muss:\n1/ Unternehmensidentifikation\n• Handelsregisternummer\n• Impressum (Adresse, Sitz etc.)\n• Steuernummer\n• Geschäftsführer / CEO\n\n2/ Das Unternehmen {{ $json.unternehmen }}\n• Unternehmenswebsite\n• Gründungsjahr / Alter des Unternehmens\n• Rechtsform (GmbH, UG, AG, Einzelunternehmen, etc.)\n• Muttergesellschaft / Konzernzugehörigkeit\n• Mitarbeiteranzahl des Unternehmens\nÜberlege dir zusätzliche Punkte die für dieses\"{{$json.unternehmen}}\" wichtig sein könnten, um es auf Plausibilität und Bonität zu prüfen.\n\n3/ Lead {{ $json.name }} aus {{$json.postleitzahl}}\n• Position im Unternehmen {{ $json.unternehmen }}\n• LinkedIn Profil, Social Media Profile\n\n4/ Finanzielle Kennzahlen\n• Umsatz (Aktuelles Jahr und Vorjahr)\n• Bonitätsindex\n• Eigenkapitalquote\n• Jahresüberschuss / Verlust\n• Verbindlichkeiten\n\nJede Sektion sollte so aufgebaut sein:\n**Name**: Name der Sektion\n**Beschreibung**: Kurze Übersicht des Sektionsthemas (1-2 Sätze)\n**Suchanfragen**: Hier befinden sich die 5 Suchanfragen pro Sektion für eine gezielte Recherche. Verwende das Tool 'Query_Writer_Agent', um diese Suchanfragenliste zu generieren {{ $json.output }}. Erstelle KEINE EINGENEN Suchanfragen. Übernehme die Suchanfragen 1 zu 1 aus dem Tool.\n\n\nBevor du diesen Bericht ausgibst, überprüfe ihn auf korrektheit.Halt die Regeln für den Aufbau der Sektion und die Überschriften IMMER ein!\nBeispiel:\n1. Name: Unternehmensidentifikation\n   Beschreibung: Diese Sektion umfasst die grundlegende Identifikation von Porsche als Unternehmen mit Fokus auf rechtliche und regulatorische Informationen.\n   Suchanfragen: - Porsche + Unternehmensidentität OR Markenidentität + Werte OR Vision + Mission\\n - Porsche AG + Geschichte OR Meilensteine + Unternehmensstruktur + 2023\n   \n</Task>\n\nMerke: Führe die Aufgabe IMMER aus OHNE Rückfragen zu stellen"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2620,820],"id":"88e6f323-81b1-423b-aced-1b7f06f9a202","name":"Report_Planer"},{"parameters":{"name":"Query_Writer_Agent","description":"Verwende dieses Tool immer dann wenn du Suchanfragen erstellen musst.","workflowId":{"__rl":true,"value":"QHtMu9wW9uNsNyBX","mode":"list","cachedResultName":"Query Writer1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2980,1020],"id":"ca8c0e72-b23e-448b-8a44-a829604ad327","name":"Query_Writer_Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4280,920],"id":"2e774edf-0cc6-4c05-a62b-6ec3510abb70","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Rechercheplan: {{ $json.output }}\n\nFeedback: {{ $('Text Classifier').item.json.output }}","options":{"systemMessage":"=Du bist ein Revisor Agent. Du bist Experte im verbessern von Rechercheplänen. Deine Aufgabe ist es, den Rechercheplan auf Basis des Feedbacks zu verbessern und korrekt anzupassen.\n\nFÜGEN SIE KEINE FÜLLER EIN, wie z. B. „Hier sind die wichtigsten Daten, die aus den bereitgestellten Informationen extrahiert wurden:“\n\nVerbessere Ausschließlich des Kapitel in dem eine Änderung vorgenommen werden muss.\n\n# Tool\nQuery_Writer_Agent = Verwende dieses Tool immer dann, wenn du Folgesuchanfragen generieren musst.\n\nJede Sektion sollte so aufgebaut sein:\n**Name**: Name der Sektion\n**Beschreibung**: Kurze Übersicht des Sektionsthemas (1-2 Sätze)\n**Suchanfragen**: Hier befinden die Suchanfragen pro Sektion für eine gezielte Recherche. Verwende das Tool 'Query_Writer_Agent1', um die Folgesuchanfrage/-n auf Basis des Feedbacks zu generieren. Erstelle KEINE EIGENEN Suchanfragen. Übernehme die Suchanfragen 1 zu 1 aus dem Tool.\n\n\nBevor du diesen Bericht ausgibst, überprüfe ihn auf korrektheit.Halt die Regeln für den Aufbau der Sektion und die Überschriften IMMER ein!\nBeispiel:\n1. Name: Unternehmensidentifikation\n   Beschreibung: Diese Sektion umfasst die grundlegende Identifikation von Porsche als Unternehmen mit Fokus auf rechtliche und regulatorische Informationen.\n   Suchanfragen: - Porsche + Unternehmensidentität OR Markenidentität + Werte OR Vision + Mission\\n - Porsche AG + Geschichte OR Meilensteine + Unternehmensstruktur + 2023\n\nMerke: Führe die Aufgabe IMMER aus OHNE Rückfragen zu stellen\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4300,720],"id":"9d70d2dc-4ffb-4688-9521-f07a60b177da","name":"Revisor"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Hallo,\ndas ist der Rechercheplan für den Lead {{ $('APPLICANT').item.json.name }}, tätig im Unternehmen {{ $('APPLICANT').item.json.unternehmen }} mit dem Sitz in {{ $('APPLICANT').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('APPLICANT').item.json.notizen }}\nEmail Adresse des Leads: {{ $('APPLICANT').item.json.email }}\n\n**Rechercheplan**\n{{ $json.output }}\n\nIst er so in Ordnung oder soll noch explizit was anderes in der Recherche recherchiert werden?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2920,540],"id":"04769010-3c7e-4c9c-901e-b17f2ac047f6","name":"Human_in_the_loop_Report","webhookId":"90778467-2c99-4d1b-aca1-26fe77c22a1d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"inputText":"={{ $json.output }}","categories":{"categories":[{"category":"Angenommen","description":"Der Rechercheplan wurde vom Menschen akzeptiert und es müssen KEINE Änderungen vorgenommen werden. Der Rechercheplan darf so weitergegeben werden.\n\nBeispiel Sätze für das akzeptieren:\n\n\"Sehr gut.\"\n\"Sieht gut aus\"\n\"Weiter\"\n\"Das passt\"\n\"Gut so\"\n\"Keine Änderung nötig\""},{"category":"Abgelehnt","description":"Der Rechercheplan wurde vom Menschen abgelehnt und es müssen Änderungen vorgenommen werden. Der Rechercheplan darf NICHT weitergegeben werden.  Beispiel Sätze für das Ablehnen:\n\n\"Bitte ändere folgendes Kapitel\" \n\"Der Umsatz der letzten 3 Jahre soll auch recherchiert werden\" \n\"Passe das Kapitel an\" \n\"Nehme folgende Änderungen vor\" \n\"Es muss auch nach den Standort gesucht werden\" "}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[3680,540],"id":"ae105b15-eb2f-4299-b35b-12418cce6fdb","name":"Text Classifier"},{"parameters":{"name":"Query_Writer_Agent","description":"Verwende dieses Tool immer dann wenn du Suchanfragen erstellen musst.","workflowId":{"__rl":true,"value":"QHtMu9wW9uNsNyBX","mode":"list","cachedResultName":"Query Writer1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[4440,920],"id":"ce7fed93-5c93-4787-82f9-776d9630181b","name":"Query_Writer_Agent1"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[5260,720],"id":"97488169-335a-4218-b7e3-115955cf23be","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[5260,920],"id":"5a9c8cdd-3407-4206-bf02-e5a7740ea9e9","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[5380,920],"id":"eb9e4be3-4e59-4b1f-af1e-efc3a58a6c20","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[5400,1060],"id":"2cf210e7-9eb7-44b1-8a6b-649b9cfd0adc","name":"Token Splitter"},{"parameters":{"assignments":{"assignments":[{"id":"6bf6a3df-169c-4743-a831-64584286d8b9","name":"feedback","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4680,720],"id":"2b5da567-fb3f-463a-b0b0-ef767c546e5b","name":"Edit Fields"},{"parameters":{"mode":"retrieve-as-tool","toolName":"key_learnings_report","toolDescription":"Verwende dieses Tool immer dann, wenn du die Key Learnings abrufen möchtest bevor du den Rechercheplan erstellst","pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"topK":30,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[2680,1160],"id":"fd846a4e-06ec-42bf-b689-40db31ed09a0","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2700,1360],"id":"84741e27-a606-4640-bc42-b930ea45968e","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Feedback: {{ $json.feedback }}","messages":{"messageValues":[{"message":"Du bist ein Feedback Refine Agent. Deine Aufgabe ist es, Feedback von Menschen in Key Learnings umzuwandeln / umzuformulieren.\nZiel ist es, das Feedback in ein Key Learning in 1-3 Sätzen umzuschreiben.\nDas Key Learning soll Präzise und Prägnant sein.\nEs dürfen dabei keine Wichtigen Learnings verloren gehen.\n\nMerkliste:\n- Ersetze vollständige Namen z.B. Heinrich Schmidt, durch \"Lead\"\n- Ersetze Unternehmensnamen z.B. \"Porsche AG\", durch \"Unternehmen\"\n- Namen sollen verallgemeinert werden. \n- Gebe einfach das Key Learning aus, OHNE weitere Erklärungen.\n- Behalte Jahreszahlen, Maße, Mengeneinheiten immer bei! Beispiel: \"Es soll auch nach dem Umsatz der letzten 3 Jahre gesucht werden\" -> \"Key Learning: Es ist wichtig, nach dem Umsatz der letzten 3 Jahre zu suchen\"\n\nWichtig: Halte dich an die Merkliste! "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[4880,720],"id":"ecb61672-a309-4e89-b98f-6b8582387ddf","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3700,760],"id":"906a5f78-6a37-46cf-94f6-0a5f9f306bd2","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4900,940],"id":"65e29788-e686-452b-90a4-eb6fe15465c2","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 =  $('revReport').first().json.report_var;\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Report_Planer').first()?.json?.output;\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,520],"id":"766f02ad-64e0-438a-9b29-ac539bb434f1","name":"Code"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Hallo,\ndas ist der Rechercheplan für den Lead {{ $('APPLICANT').item.json.name }}, tätig im Unternehmen {{ $('APPLICANT').item.json.unternehmen }} mit dem Sitz in {{ $('APPLICANT').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('APPLICANT').item.json.notizen }}\nEmail Adresse des Leads: {{ $('APPLICANT').item.json.email }}\n\n**Rechercheplan**\n{{ $json.report_var }}\n\nIst er so in Ordnung oder soll noch explizit was anderes in der Recherche recherchiert werden?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5220,1240],"id":"5ad8f535-daf1-4aeb-a13b-6663fdecb302","name":"Human_in_the_loop_Report1","webhookId":"90778467-2c99-4d1b-aca1-26fe77c22a1d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"jsCode":"let ai1;\n\ntry {\n  ai1 = $('GET_REPORT').first().json.output\n} catch (e) {\n  ai1 = null;\n}\n\nconst chosenOutput = ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4580,1240],"id":"0eec2230-7d3e-4d93-9ab2-024a80eaf5a4","name":"Get inital Prompt"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $input.first().json.output_a0 || \"\";\n} catch {\n  ai1 = \"\";\n}\n\ntry {\n  ai2 = $input.first().json.output_rev || \"\";\n} catch {\n  ai2 = \"\";\n}\n\n// If there's nothing new, just return the original\nif (!ai2.trim()) {\n  return [{ json: { output: ai1.trim() } }];\n}\n\n// 1) Figure out ai2’s section number\nconst m = ai2.match(/^\\s*(\\d+)\\./);\nconst ai2Num = m ? parseInt(m[1], 10) : null;\n\n// 2) Split ai1 into chunks at each \"X. **Name**:\"  \n//    Any leading intro text will be chunk[0] without a number\nconst chunks = ai1\n  .split(/(?=\\d+\\. \\*\\*Name\\*\\*: )/g)\n  .map(s => s.trim())\n  .filter(s => s.length);\n\n// 3) Replace matching section or mark for append\nlet replaced = false;\nconst updated = chunks.map(chunk => {\n  const numMatch = chunk.match(/^\\s*(\\d+)\\./);\n  const num = numMatch ? parseInt(numMatch[1], 10) : null;\n\n  if (num !== null && num === ai2Num) {\n    replaced = true;\n    return ai2.trim();\n  }\n  return chunk;\n});\n\n// 4) If no replace happened and ai2Num is valid, append it\nif (!replaced && ai2Num !== null) {\n  updated.push(ai2.trim());\n}\n\n// 5) Sort all numbered chunks by their section number; keep any non-numbered intro at front\nfunction chunkKey(chunk) {\n  const m = chunk.match(/^\\s*(\\d+)\\./);\n  return m ? parseInt(m[1], 10) : -1;  // intro text gets -1 and stays first\n}\n\nupdated.sort((a, b) => chunkKey(a) - chunkKey(b));\n\n// 6) Join with two line breaks\nconst merged = updated.join(\"\\n\\n\").trim();\n\nreturn [\n  {\n    json: {\n      output: merged\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4900,1240],"id":"7a6d3c53-9b39-4e34-8fb5-19f131906fe9","name":"Merger"},{"parameters":{"assignments":{"assignments":[{"id":"e53064c3-93d6-44dc-9329-26d6b55a8e0d","name":"Prompt4revise","value":"={{ $json.data.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3120,540],"id":"6e240cae-8980-43b1-bff8-c7c33c4042f5","name":"Prompt4revise"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 =  $input.first().json.data.text;//('Prompt4revise1').first().json.Prompt4revise\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Prompt4revise').first().json.Prompt4revise;\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,540],"id":"eaf5cd8e-78da-4e17-b484-89608ea6dfa1","name":"PROMPT_GLOBAL"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $('revReport').first().json.report_var\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Report_Planer').first().json.output\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,600],"id":"cbe8ab14-fa84-41fa-8edc-9cc96fac1585","name":"GET_REPORT"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-580,820],"id":"f97180f7-da54-47c4-88e5-a665f9a62483","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-360,840],"id":"e89489f5-7d3a-45b2-9190-ee01676520e1","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"http://37.27.214.147:5001/emailCheck","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,840],"id":"9d6ee231-35fc-45b0-a7a1-4939b80b3431","name":"emailCheck"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"name\": \"Müller\",\n  \"vorname\": \"Max\",\n  \"unternehmen\": \"Siemens\",\n  \"postleitzahl\": \"90402\",\n  \"email\": \"max@mail.com\",\n  \"notizen\": \"adad\",\n  \"phone\": 99999,\n  \"chatid\": 7072233806\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,840],"id":"4e67dee7-a1cc-446c-8c17-5544af9d7bec","name":"APPLICANT"},{"parameters":{"assignments":{"assignments":[{"id":"9f398bc6-40bf-457d-a63a-2f4e3dae174a","name":"report_var","value":"={{ $('Report_Planer').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3260,540],"id":"8897482a-308e-4cbe-a625-d1d4a96bb775","name":"initalReport"},{"parameters":{"assignments":{"assignments":[{"id":"9f398bc6-40bf-457d-a63a-2f4e3dae174a","name":"report_var","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5060,1240],"id":"2b62f267-7030-4188-a176-8ef8447def1d","name":"revReport"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Sorry but I didn't quite get that\n-------------------------\nDies ist der Rechercheplan für den Lead {{ $('APPLICANT').item.json.name }}, tätig im Unternehmen {{ $('APPLICANT').item.json.unternehmen }} mit dem Sitz in {{ $('APPLICANT').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('APPLICANT').item.json.notizen }}\nEmail Adresse des Leads: {{ $('APPLICANT').item.json.email }}\n\n**Rechercheplan**\n{{ $json.output }}\n\nIst er so in Ordnung oder soll noch explizit was anderes in der Rechercherecherchiert werden?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4020,800],"id":"91f60815-cf0b-41fd-bfb1-c422975a26bb","name":"nonsensicalInput","webhookId":"b1d2890b-e852-43e4-ab71-be6e914d1742","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"191d54a7-503c-4b90-a95d-9fc92694693b","name":"output_a0","value":"={{ $json.output }}","type":"string"},{"id":"13d91e61-2675-48ad-9e87-c4c8d0f82dd0","name":"output_rev","value":"={{ $('Revisor').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4760,1240],"id":"a3fd7ab3-1aed-4c4c-a2d0-4b0ec3661eca","name":"getReports"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $('revReport').first().json.report_var\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Report_Planer').first().json.output\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3860,800],"id":"efd27bfb-e9d7-45cb-b270-231e79973a21","name":"GET_REPORT1"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"bewerber","mode":"list","cachedResultName":"bewerber"},"columns":{"mappingMode":"defineBelow","value":{"leadnr":"={{ $json.myNewField }}","vorname":"={{ $('APPLICANT').item.json.vorname }}","name":"={{ $('APPLICANT').item.json.name }}","firma":"={{ $('APPLICANT').item.json.unternehmen }}","email":"={{ $('APPLICANT').item.json.email }}","plz":"={{ $('APPLICANT').item.json.postleitzahl }}","phone":"={{ $('APPLICANT').item.json.phone }}","score":"=000"},"matchingColumns":["leadnr"],"schema":[{"id":"leadnr","displayName":"leadnr","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"vorname","displayName":"vorname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"firma","displayName":"firma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"plz","displayName":"plz","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"score","displayName":"score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2380,820],"id":"d66f32da-cbfe-458d-81c1-96164448a77a","name":"Postgres","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96067c14-2680-4c00-bcda-3df26d2f7ffc","leftValue":"={{ $json.valid }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,840],"id":"82c21fdb-52f5-4045-bf48-7c6fcba3c7d2","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ca4bc5f-5fd3-43d1-842e-313686de0960","leftValue":"={{ $json.data.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,1160],"id":"56269946-c272-497d-816d-f18c845e8770","name":"If1"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Email is likely Spam:\n\n {{ $('APPLICANT').item.json.email }}\n\nDo you want to continue?","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3120,160],"id":"00b25405-a8dd-4085-b030-81a4612faf43","name":"Telegram1","webhookId":"d0d8c5db-cd7b-4f04-8c2e-69df3338fe1a","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Email is likely Spam:\n\n {{ $('APPLICANT').item.json.email }}\n\nDo you want to continue?","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3200,240],"id":"7561060a-7c7c-4f48-9b47-d50fab763724","name":"Telegram2","webhookId":"d0d8c5db-cd7b-4f04-8c2e-69df3338fe1a","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1340,1360],"id":"a6359caa-fd9c-4b19-a649-763c09f019fa","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1460,1400],"id":"83c06543-4b1d-4bb6-b300-06b069685ada","name":"Default Data Loader1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1500,1600],"id":"87faa573-67e2-4e66-9649-9fa9d9121150","name":"Recursive Character Text Splitter"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"susapplicant","mode":"list","cachedResultName":"susapplicant"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[1420,1160],"id":"620a9a97-97fe-4d9d-ac14-7456f3513692","name":"susApplicant","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"jsCode":"return {\n  json: {\n    name: $('APPLICANT').first().json.name,\n    vorname: $('APPLICANT').first().json.vorname,\n    unternehmen: $('APPLICANT').first().json.unternehmen,\n    postleitzahl: $('APPLICANT').first().json.postleitzahl,\n    email: $('APPLICANT').first().json.email,\n    phone: $('APPLICANT').first().json.phone\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,1160],"id":"1f82c0ee-6ec3-49d5-8742-9240180ffdf2","name":"dataAssemble"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*)\nFROM bewerber;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[640,820],"id":"50b8d740-3c45-41be-8b90-7d125988900b","name":"Postgres1","alwaysOutputData":true,"credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"var anzahl = parseInt($input.first().json.count);\n\nif (isNaN(anzahl)) {\n  anzahl = 0;\n}\n\nfor (const item of $input.all()) {\n  item.json.myNewField = anzahl + 1;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,820],"id":"41b4bc53-0524-499e-b72d-ba3f0ccc1798","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"8162f374-553e-49f1-b276-c7e7c954415b","name":"myNewField","value":"={{ $json.myNewField }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,820],"id":"ce571c9a-24c6-4bc0-a2cf-75f93f058cf6","name":"Edit Fields1"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Email is likely Spam:\n\n {{ $('APPLICANT').item.json.email }}\n\nDo you want to continue?","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,1160],"id":"9fdc9b40-cac6-4cde-80ae-553e6e9afd89","name":"Telegram","webhookId":"d0d8c5db-cd7b-4f04-8c2e-69df3338fe1a","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Report_Planer","type":"ai_languageModel","index":0}]]},"Report_Planer":{"main":[[{"node":"Human_in_the_loop_Report","type":"main","index":0}]]},"Query_Writer_Agent":{"ai_tool":[[{"node":"Report_Planer","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Revisor","type":"ai_languageModel","index":0}]]},"Revisor":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Get inital Prompt","type":"main","index":0}]]},"Human_in_the_loop_Report":{"main":[[{"node":"Prompt4revise","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"GET_REPORT","type":"main","index":0}],[{"node":"GET_REPORT1","type":"main","index":0}]]},"Query_Writer_Agent1":{"ai_tool":[[{"node":"Revisor","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"Report_Planer","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code":{"main":[[]]},"Human_in_the_loop_Report1":{"main":[[{"node":"PROMPT_GLOBAL","type":"main","index":0}]]},"Get inital Prompt":{"main":[[{"node":"getReports","type":"main","index":0}]]},"Merger":{"main":[[{"node":"revReport","type":"main","index":0}]]},"Prompt4revise":{"main":[[{"node":"initalReport","type":"main","index":0}]]},"PROMPT_GLOBAL":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"GET_REPORT":{"main":[[{"node":"Revisor","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"APPLICANT","type":"main","index":0}]]},"emailCheck":{"main":[[{"node":"If","type":"main","index":0}]]},"APPLICANT":{"main":[[{"node":"emailCheck","type":"main","index":0}]]},"initalReport":{"main":[[{"node":"PROMPT_GLOBAL","type":"main","index":0}]]},"revReport":{"main":[[{"node":"Human_in_the_loop_Report1","type":"main","index":0}]]},"nonsensicalInput":{"main":[[{"node":"PROMPT_GLOBAL","type":"main","index":0}]]},"getReports":{"main":[[{"node":"Merger","type":"main","index":0}]]},"GET_REPORT1":{"main":[[{"node":"nonsensicalInput","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Report_Planer","type":"main","index":0}]]},"If":{"main":[[{"node":"Postgres1","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"If1":{"main":[[{"node":"Postgres1","type":"main","index":0}],[{"node":"dataAssemble","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"susApplicant","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"susApplicant","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"dataAssemble":{"main":[[{"node":"susApplicant","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a209110e-5714-481c-afdf-27b2139d2ec9","triggerCount":0,"shared":[{"createdAt":"2025-05-26T14:48:43.879Z","updatedAt":"2025-05-26T14:48:43.879Z","role":"workflow:owner","workflowId":"TuRIr0aOI1NEwzjx","projectId":"NrQd9r8oMpFtZnHg","project":{"createdAt":"2025-03-27T22:05:44.195Z","updatedAt":"2025-03-28T11:50:14.003Z","id":"NrQd9r8oMpFtZnHg","name":"Lukas Lindner <lindner20356@hs-ansbach.de>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T22:05:44.214Z","updatedAt":"2025-03-27T22:05:44.214Z","role":"project:personalOwner","userId":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","projectId":"NrQd9r8oMpFtZnHg","user":{"createdAt":"2025-03-27T22:05:44.182Z","updatedAt":"2025-04-25T10:38:49.888Z","id":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","email":"lindner20356@hs-ansbach.de","firstName":"Lukas","lastName":"Lindner","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-28T11:50:51.570Z","personalization_survey_n8n_version":"1.82.3","companyType":"personal","reportedSource":"other","reportedSourceOther":"I was invited "},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZVgChKHo1urRFpDV","userActivated":true,"userActivatedAt":1745299771787,"npsSurvey":{"responded":true,"lastShownAt":1745577527257}},"role":"global:member","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":false}}]}}],"tags":[{"createdAt":"2025-05-26T14:49:19.860Z","updatedAt":"2025-05-26T14:49:19.860Z","id":"eWj7CxPYDLbyRWwy","name":"GrenkeWeek2"}]}