retreive-data-CW0ZiDppazhhwCj6.json
{"createdAt":"2025-04-04T09:11:07.621Z","updatedAt":"2025-04-11T13:19:01.000Z","id":"CW0ZiDppazhhwCj6","name":"Retreive Data","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-220,-40],"id":"69e23f20-f054-48b7-a0d2-711af3432594","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://docs.n8n.io/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-40],"id":"8c61a7bf-6ba9-43c3-8a0f-9c79697795fd","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"link","cssSelector":".md-sidebar__inner a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[220,-40],"id":"b86e0b56-187c-4cee-b5da-91e9cad34208","name":"HTML"},{"parameters":{"jsCode":"\nreturn [\n  {\nurls: $input.first().json.link.filter(url => !url.startsWith(\"https\") && url != \".\")\n}\n\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,-40],"id":"373f0617-0818-4a6c-8477-6a941638b5ab","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[660,-40],"id":"693f4620-ed9e-46db-955f-f2afd41ee2cf","name":"Remove Duplicates"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1300,-100],"id":"c528aab4-2d24-472a-9637-87860e22fd88","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"url":"=https:/docs.n8n.io/{{ $json.urls }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,-80],"id":"9ba855bd-e9fb-40e8-adef-a777a1f4fee3","name":"HTTP Request1"},{"parameters":{"fieldToSplitOut":"urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,-40],"id":"6e962dac-ddae-4358-8f14-51f858429fe4","name":"Split Out"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":".md-content"}]},"options":{"cleanUpText":false}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1980,-100],"id":"307c3d07-e1fa-4881-a388-b8d1d7581f17","name":"HTML1"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"openn8n","mode":"list","cachedResultName":"openn8n"},"options":{"pineconeNamespace":"n8n"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[2220,-100],"id":"4b8a046a-c519-465a-9991-f5ed8e3c64fb","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2760,400],"id":"38dd5c5f-492a-41ea-91cc-b8420e695219","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2860,620],"id":"30e56f5c-3830-4f61-b8a6-981551850068","name":"Recursive Character Text Splitter"},{"parameters":{"options":{"batchSize":50}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2140,600],"id":"43685728-b1fb-4402-a455-393cf8964f75","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1Kn1CKWwqVBgqHJrhs2He1lNQoYbcvf2u7nMtF-uvIGg/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.Content }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2560,-280],"id":"1dcd380b-47c3-4d94-9a37-a2e918dc255b","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"bXFVi1GD79pFt1lE","name":"Google Docs account 8"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2220,180],"id":"de252041-076d-4dee-94d7-a298c3a4db28","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[]]},"Google Docs":{"main":[[]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e7be895b-f73d-4f38-bd73-e2022fa07be4","triggerCount":0,"tags":[]}