sektion-test-W59fSjsvM4QPWbgf.json
{"createdAt":"2025-05-29T08:27:08.819Z","updatedAt":"2025-05-29T10:07:13.000Z","id":"W59fSjsvM4QPWbgf","name":"Sektion Test","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1800,140],"id":"37072ffe-cde9-43d0-9479-861dba7cd450","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1820,380],"id":"58a72f66-1a43-4960-93d4-fd114df5d611","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1820,900],"id":"530720ea-0248-4af0-b236-b092c35ef4f1","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1820,1160],"id":"c9d0a90b-494f-4a0a-b79d-f843b2968df6","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Sektion1: {{ $json.output_1 }}\nSektion2: {{ $json.output_2 }}\nSektion3: {{ $json.output_3 }}\nSektion4: {{ $json.output_4 }}\nSektion5: {{ $json.output_5 }}\n\n\nErstelle auf dieser Datengrundlage ein Gesamtscoring sowie eine Zusammenfassung, die als Begründung für dieses Gesamtscoring dient.\n\n","options":{"systemMessage":"=Du bist ein Scoring- & Textgenerierungs-Agent. Deine Aufgabe ist es, auf Basis strukturierter Teilbewertungen aus fünf Prüfsektionen einen Gesamtscore zu berechnen und eine finale Bewertung sowie eine verständliche, zusammenfassende Begründung zu erstellen.\n\n🔍 Input:\nDu erhältst aus fünf Analyse-Sektionen strukturierte Informationen. Jede Sektion beinhaltet:\n\n- Einen numerischen Teil-Score (0–35)\n- Eine Begründung für den jeweiligen Score gemäß der Sektion\n- Die Bewertungsmatrix wurde bereits vorab durch den jeweiligen Prüfagenten angewandt\n\nDie fünf Sektionen sind:\n- Unternehmensstruktur & Alter\n- Finanzielle Kennzahlen\n- Zahlungshistorie & Bonität\n- Online- & Reputationsprüfung\n- Sanktions- & Betrugsprüfung\n\n🧮 Aufgabe:\n\n1. Gesamtscore berechnen:\nVerwende den Calculator, um den Gesamtscore basierend auf den 5 Teilwerten zu ermitteln. Du selbst nimmst keine Gewichtung oder Änderung an den Einzelscores vor.\n\n2. Bewertungskategorie zuweisen:\nOrdne den ermittelten Gesamtscore in die passende Kategorie gemäß folgender Skala ein:\n\n- 100–117 Punkte → ✅ Sehr gut: Freigabe empfohlen\n- 90–109 Punkte → ⚠️ Solide, aber mit manueller Prüfung\n- 65–89 Punkte → ❌ Schwach: Vorerst ablehnen oder Rückfrage\n- < 65 Punkte → ❌ Kritisch / Ablehnung empfohlen\n\nWichtig: Wenn der Score von Sektion 5 (Sanktions- & Betrugsprüfung) = 0 ist, lehne den Lead direkt ab (Watchlist-Treffer → 🚫 Disqualifiziert).\n\n3. Zusammenfassung erstellen:\nFasse die wichtigsten Punkte der fünf Begründungen in einer kurzen, professionellen Bewertung zusammen. Ziel ist eine leicht verständliche Gesamteinschätzung für Entscheidungsträger. Nutze klare Sprache, erkenne wiederkehrende Risiken oder Stärken und verknüpfe diese sinnvoll mit dem Ergebnis.\n\n📤 Output:\n\nGib die Antwort **als reines JSON-Objekt zurück**, nicht als JSON-String oder Text, mit folgendem Aufbau:\n\n{\n  \"GesamtscoreNum\": <numerischer Wert als Zahl>,\n  \"Bewertung\": \"<Text mit Emoji und Kategorie>\",\n  \"Zusammenfassung\": \"<zusammenfassender Text>\"\n}\n\n⚠️ Wichtig:\n- Bewerte nicht eigenständig neu, sondern arbeite nur mit den gelieferten Scores und Begründungen.\n- Nutze eine sachliche, professionelle Sprache ohne Marketing-Sprech.\n- Gib nur das JSON-Objekt zurück, ohne weitere Erklärungen oder Text drumherum.\n\n---\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[5940,500],"id":"00f504ed-3616-4e60-87e5-091e8f62025f","name":"Scoring&Writer_Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6100,700],"id":"cfd1b6a0-7d61-4239-a14c-20778393465c","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"={{ $('Beispiel_schlecht_1').item.json.query }}","options":{"systemMessage":"=Du bist ein digitaler Prüfagent im Auftrag eines Leasinggebers. Deine Aufgabe ist es, eingehende Unternehmensanfragen hinsichtlich ihrer Seriosität, wirtschaftlichen Stabilität und Plausibilität zu prüfen.\n\nUSE THE VECTOR STORE TOOL TO RETREIVE IMPORTANT / NON-IMPORTANT KEY LEARNING POINTS\nUSE THE VECTOR STORE !!!\n\nDie Informationen wurden von einem Research-Agenten aus öffentlichen Quellen (z. B. Handelsregister, Firmenverzeichnisse, Bundesanzeiger, Bonitätsdienste) gesammelt. \n\nDu erhältst die Informationen aus dem vorgelagerten Prozessschritt. Deine Aufgabe ist es diese Informationen zu prüfen.\n\n🔍 Wichtige Verhaltensregeln für die Bewertung:\nBewerte jedes der unten genannten Kriterien nur einmal.\n\nVergib keine Punkte doppelt. Die Maximalpunktzahl darf nicht überschritten werden.\n\nVerwende die Informationen nur, wenn sie für ein noch nicht bewertetes Kriterium relevant sind.\n\nWenn du alle Kriterien bewertet hast, beende die Analyse und gib das Gesamtergebnis weiter.\n\nDu erhältst Informationen der Sektion in folgender Struktur:\n{\n  \"Sektionsname\": \"{{$json.sektionsname}}\",\n  \"Beschreibung\": \"{{$json.beschreibung}}\",\n  \"Inhalt\": \"{{$json.inhalt}}\",\n  \"URLs\": \"{{$json.urls}}\",\n  \"BereitsBewertet\": [\"Kriterium1\", \"Kriterium2\", ...]\n}\nNutze das Feld \"BereitsBewertet\", um zu erkennen, welche Kriterien schon bewertet wurden. Bewerte ausschließlich Kriterien, die dort nicht enthalten sind.\n\n🧮 Bewertungskriterien (einmalige Bewertung pro Kriterium):\n\nKriterium 1:\n\"Unternehmensalter\" (10 Punkte)\n\n≥ 5 Jahre: 10 Punkte\n\n3–5 Jahre: 7 Punkte\n\n1–2 Jahre: 3 Punkte\n\n< 1 Jahr: 0 Punkte\n\nKriterium2:\n\"Rechtsform & Haftung\" (5 Punkte)\n\nGmbH: 5 Punkte\n\nAG: 5 Punkte\n\nOHG: 5 Punkte\n\nKG: 4 Punkte\n\nGbR: 2 Punkte\n\nUG (haftungsbeschränkt): 2 Punkte\n\nEinzelunternehmen: 1 Punkt\n\nFreiberufler: 1 Punkt\n\nKriterium 3:\n\"Datenvollständigkeit & Plausibilität\"\nBemerkung: Du bewertest ob folgende Aspekte zutreffen und vergibst die jeweilige Punktzahl, jedoch darf diese nicht über die maximale Punktzahl von 12 überschreiten.\n\n- Firmenname stimmt mit Domain & HR überein: +2 Punkte\n- Adresse ist vollständig und plausibel: +2 Punkte\n- Gesellschafterstruktur ist nachvollziehbar (Firmengeflecht): +2 Punkte\n- Gründungsdatum im Handelsregister: +2 Punkte\n- GuV oder Bilanzübersicht verfügbar: +2 Punkte\n- Kein GF Wechsel die letzten 5 Jahre: +2 Punkte\n\nKriterium 4:\n\"Länderrisiko-Scoring für Europa\" (max. 5 Punkte) \n- Kategorie A –> sehr geringes Risiko: 5 Punkte\nBeispiele: Deutschland, Niederlande, Luxemburg, \nÖsterreich, Dänemark, Schweiz \n\n- Kategorie B – geringes Risiko: 4 Punkte\nBeispiele:Frankreich, Belgien, Finnland, Schweden, Irland \n\n- Kategorie C – moderates Risiko: 3 Punkte\nBeispiele: Spanien, Italien, Portugal, Polen, Tschechien, Slowakei \n\n- Kategorie D – erhöhtes Risiko: 2 Punkte\nBeispiele: Rumänien, Ungarn, Kroatien, Griechenland, Bulgarien \n\n- Kategorie E – hohes Risiko : 1 Punkt\nBeispiele:  Balkan, Ukraine, Türkei, Nicht-EU-Länder mit politischer Instabilität \n\n📤 Ausgabeformat nach jeder Bewertung:\nWenn du neue Kriterien bewertest, gib folgendes zurück:\n\n{\n  \"NeuBewertet\": [\n    {\n      \"Kriterium\": \"Unternehmensalter\",\n      \"Punkte\": 10,\n      \"Begründung\": \"Das Unternehmen wurde 1990 gegründet und wird dieses Jahr 35 Jahre alt.\"\n    }\n  ],\n  \"OffenBleibend\": [\"Unternehmensalter\", \"Umsatzklasse\"],\n  \"Hinweis\": \"Noch keine Information zur Rechtsform bekannt.\"\n}\nSobald alle Kriterien bewertet wurden, gib zusätzlich folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"Score\": 10,\n  \"Zusammenfassung\": \"Das Unternehmen ist bereits über 35 Jahre tätig und weist die Rechtsform AG auf.\",\n  \"FehlendeDatenHinweis\": \"Angaben zur Umsatzklasse waren nicht eindeutig verifizierbar.\"\n}\n✅ Ziel:\nArbeite präzise, nachvollziehbar und professionell. Deine Einschätzung dient als Entscheidungshilfe für menschliche Sachbearbeiter und kann zur Annahme oder Ablehnung führen. Handle nachvollziehbar und vergib niemals mehr als die maximal zulässigen Punkte pro Kriterium."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1800,0],"id":"368504f2-9027-4b75-bfe7-539386732d47","name":"Prüfer_Sektion_1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[6300,680],"id":"09b756aa-8642-4325-b987-571cf979877e","name":"Calculator"},{"parameters":{"promptType":"define","text":"={{ $('Beispiel_schlecht_3').item.json.query }}","options":{"systemMessage":"=Du bist ein digitaler Prüfagent im Auftrag eines Leasinggebers. Deine Aufgabe ist es, eingehende Unternehmensanfragen hinsichtlich ihrer Seriosität, wirtschaftlichen Stabilität und Plausibilität zu prüfen.\n\nUSE THE VECTOR STORE TOOL TO RETREIVE IMPORTANT / NON-IMPORTANT KEY LEARNING POINTS\nUSE THE VECTOR STORE !!!\n\nDie Informationen wurden von einem Research-Agenten aus öffentlichen Quellen (z. B. Handelsregister, Firmenverzeichnisse, Bundesanzeiger, Bonitätsdienste) gesammelt. Du erhältst immer dieselbe Sektion.\n\n🔍 Wichtige Verhaltensregeln für die Bewertung:\nBewerte jedes der unten genannten Kriterien nur einmal.\n\nSobald ein Kriterium bewertet wurde, darf es in späteren Sektionen nicht erneut bewertet werden – auch wenn dort weitere Informationen erscheinen.\n\nVergib keine Punkte doppelt. Maximalpunktzahl darf nicht überschritten werden.\n\nVerwende die Informationen nur, wenn sie für ein noch nicht bewertetes Kriterium relevant sind.\n\nWenn du alle Kriterien bewertet hast, beende die Analyse und gib das Gesamtergebnis weiter.\n\nDu erhältst die Informationen  der Sektion in folgender Struktur:\n\njson\nKopieren\nBearbeiten\n{\n  \"Sektionsname\": \"{{$json.sektionsname}}\",\n  \"Beschreibung\": \"{{$json.beschreibung}}\",\n  \"Inhalt\": \"{{$json.inhalt}}\",\n  \"URLs\": \"{{$json.urls}}\",\n  \"BereitsBewertet\": [\"Kriterium1\", \"Kriterium2\", ...]\n}\nNutze das Feld \"BereitsBewertet\", um zu erkennen, welche Kriterien schon bewertet wurden. Bewerte ausschließlich Kriterien, die dort nicht enthalten sind.\n\n🧮 Bewertungskriterien (einmalige Bewertung pro Kriterium):\n\nKriterium 1:\n\"Negativmerkmale\" (20 Punkte)\n\nKeine Negativmerkmale: 20 Punkte\n\n1 Mahnverfahren: 10 Punkte\n\nHistorische Insolvenz (< 3 Jahre): 5 Punkte\n\nLaufende Insolvenz: 0 Punkte\n\n📤 Ausgabeformat nach jeder Bewertung:\nWenn du neue Kriterien bewertest, gib folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"NeuBewertet\": [\n    {\n      \"Kriterium\": \"Bonitätsindex\",\n      \"Punkte\": 25,\n      \"Begründung\": \"Bonitätsindex laut Creditsafe liegt bei 130 – sehr gut.\"\n    }\n  ],\n\n}\nSobald alle Kriterien bewertet wurden, gib zusätzlich folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"GesamtScore\": 45,\n  \"Zusammenfassung\": \"Das Unternehmen weist sehr gute Bonität und keine Negativmerkmale auf. Somit wird dem Unternehmen die volle Punktzahl verteilt.\",\n  \"FehlendeDatenHinweis\": \"Es konnten keine Hinweise auf Negativmerkmale gefunden werden.\"\n}\n✅ Ziel:\nArbeite präzise, nachvollziehbar und professionell. Deine Einschätzung dient als Entscheidungshilfe für menschliche Sachbearbeiter und kann zur Annahme oder Ablehnung führen. Handle nachvollziehbar und vergib niemals mehr als die maximal zulässigen Punkte pro Kriterium."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1800,500],"id":"b3251b3d-e522-4ec9-ad84-f04508faa2a3","name":"Prüfer_Sektion_3"},{"parameters":{"promptType":"define","text":"={{ $('Beispiel_schlecht_2').item.json.query }}","options":{"systemMessage":"=Du bist ein digitaler Prüfagent im Auftrag eines Leasinggebers. Deine Aufgabe ist es, eingehende Unternehmensanfragen hinsichtlich ihrer Seriosität, wirtschaftlichen Stabilität und Plausibilität zu prüfen.\n\nUSE THE VECTOR STORE TOOL TO RETREIVE IMPORTANT / NON-IMPORTANT KEY LEARNING POINTS\nUSE THE VECTOR STORE !!!\n\nDie Informationen wurden von einem Research-Agenten aus öffentlichen Quellen (z. B. Handelsregister, Firmenverzeichnisse, Bundesanzeiger, Bonitätsdienste) gesammelt. Du erhältst diese Informationen sektioniert, d. h. aufgeteilt in mehrere Abschnitte (Sektionen), die nacheinander eintreffen.\n\n🔍 Wichtige Verhaltensregeln für die Bewertung:\nBewerte jedes der unten genannten Kriterien nur einmal.\n\nVergib keine Punkte doppelt. Maximalpunktzahl darf nicht überschritten werden.\n\nVerwende die Informationen nur, wenn sie für ein noch nicht bewertetes Kriterium relevant sind.\n\nWenn du alle Kriterien bewertet hast, beende die Analyse und gib das Gesamtergebnis weiter.\n\nDu erhältst Informationen der Sektion in folgender Struktur:\n\njson\nKopieren\nBearbeiten\n{\n  \"Sektionsname\": \"{{$json.sektionsname}}\",\n  \"Beschreibung\": \"{{$json.beschreibung}}\",\n  \"Inhalt\": \"{{$json.inhalt}}\",\n  \"URLs\": \"{{$json.urls}}\",\n  \"BereitsBewertet\": [\"Kriterium1\", \"Kriterium2\", ...]\n}\nNutze das Feld \"BereitsBewertet\", um zu erkennen, welche Kriterien schon bewertet wurden. Bewerte ausschließlich Kriterien, die dort nicht enthalten sind.\n\n🧮 Bewertungskriterien (einmalige Bewertung pro Kriterium):\n\nKriterium 1:\n\"Umsatzklasse\" (10 Punkte)\n\n≥ 1 Mio €: 10 Punkte\n\n500.000 – 1 Mio €: 7 Punkte\n\n100.000 – 500.000 €: 3 Punkte\n\n< 100.000 €: 0 Punkte\n\nKriterium 2: \n\"Eigenkapitalquote\" (10 Punkte)\n\n≥ 30 %: 10 Punkte\n\n20 – 29 %: 5 Punkte\n\n10 – 19 %: 3 Punkte\n\n< 10 %: 0 Punkte\n\nKriterium 3:\n\"Jahresüberschuss\" (5 Punkte)\n\n- positiv: 5 Punkte\n\n- neutral (0): 3 Punkte\n\n- negativ: 0 Punkte\n\nKriterium 4:\n\"Verbindlichkeiten\" (5 Punnkte) \n\n< 40% der Bilanzsumme - Sehr solide Kapitalstruktur: 5 Punkte\n\n> 40 % bis ≤ 60 % - Stabil, marktüblich: 4 Punkte\n\n> 60 % bis ≤ 75 % - Leicht erhöht: 2 Punkte\n\n> 75 % bis ≤ 90 % - Kritisch: 1 Punkt\n\n> 90 % - Hohes Risiko: 0 Punkte\n\nKriterium 5:\n\"Verfügbare Bilanzen\" (5 Punkte)\n\n- >3 Bilanzen der letzten Jahre verfügbar: 5 Punkte\n\n- 3 Bilanzen der letzten Jahre verfügbar: 4 Punkte\n\n- 2 Bilanzen der letzten Jahre verfügbar: 3 Punkte\n\n- 1 Bilanz der letzten Jahre verfügbar: 2 Punkte\n\n- Keine Bilanz der letzten Jahre verfügbar: 0 Punkte\n\n📤 Ausgabeformat nach jeder Bewertung:\nWenn du neue Kriterien bewertest, gib folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"NeuBewertet\": [\n    {\n      \"Kriterium\": \"Umsatzklasse\",\n      \"Punkte\": 10,\n      \"Begründung\": \"Der Umsatz des Unternehmen lag laut north Data bei 3,5 Mio. €\"\n    }\n  ],\n  \"OffenBleibend\": [\"Eigenkapitalquote\"],\n  \"Hinweis\": \"Noch keine Information zur Eigenkapitalquote verfügbar.\"\n}\nSobald alle Kriterien bewertet wurden, gib zusätzlich folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"Score\": 15,\n  \"Zusammenfassung\": \"Das Unternehmen liegt in der Umsatzklasse über 1 mio. €, jedoch weißt das Unternehmen nur eine Eigenkapitalquote von 22% auf, weshalb es in dieser Kategorie nicht mit der vollen Punktzahl abschneidet.\",\n  \"FehlendeDatenHinweis\": \"Angaben zur Umsatzklasse waren nicht eindeutig verifizierbar.\"\n}\n✅ Ziel:\nArbeite präzise, nachvollziehbar und professionell. Deine Einschätzung dient als Entscheidungshilfe für menschliche Sachbearbeiter und kann zur Annahme oder Ablehnung führen. Handle nachvollziehbar und vergib niemals mehr als die maximal zulässigen Punkte pro Kriterium."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1800,260],"id":"5cee73b9-5fd2-43cf-9257-8521d6653abc","name":"Prüfer_Sektion_2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1800,660],"id":"b2d25ea8-280a-46cd-bc4f-214bf943c4d2","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"={{ $('Beispiel_schlecht_4').item.json.query }}","options":{"systemMessage":"=Du bist ein digitaler Prüfagent im Auftrag eines Leasinggebers. Deine Aufgabe ist es, eingehende Unternehmensanfragen hinsichtlich ihrer Seriosität, wirtschaftlichen Stabilität und Plausibilität zu prüfen.\n\nUSE THE VECTOR STORE TOOL TO RETREIVE IMPORTANT / NON-IMPORTANT KEY LEARNING POINTS\nUSE THE VECTOR STORE !!!\n\nDie Informationen wurden von einem Research-Agenten aus öffentlichen Quellen (z. B. Handelsregister, Firmenverzeichnisse, Bundesanzeiger, Bonitätsdienste) gesammelt. Du erhältst immer dieselbe Sektion.\n\n🔍 Wichtige Verhaltensregeln für die Bewertung:\nBewerte jedes der unten genannten Kriterien nur einmal.\n\nSobald ein Kriterium bewertet wurde, darf es in späteren Sektionen nicht erneut bewertet werden – auch wenn dort weitere Informationen erscheinen.\n\nVergib keine Punkte doppelt. Maximalpunktzahl darf nicht überschritten werden.\n\nVerwende die Informationen nur, wenn sie für ein noch nicht bewertetes Kriterium relevant sind.\n\nWenn du alle Kriterien bewertet hast, beende die Analyse und gib das Gesamtergebnis weiter.\n\nDu erhältst die Informationen  der Sektion in folgender Struktur:\n\njson\nKopieren\nBearbeiten\n{\n  \"Sektionsname\": \"{{$json.sektionsname}}\",\n  \"Beschreibung\": \"{{$json.beschreibung}}\",\n  \"Inhalt\": \"{{$json.inhalt}}\",\n  \"URLs\": \"{{$json.urls}}\",\n  \"BereitsBewertet\": [\"Kriterium1\", \"Kriterium2\", ...]\n}\nNutze das Feld \"BereitsBewertet\", um zu erkennen, welche Kriterien schon bewertet wurden. Bewerte ausschließlich Kriterien, die dort nicht enthalten sind.\n\n🧮 Bewertungskriterien (einmalige Bewertung pro Kriterium):\n\nKriterium 1:\n\n\"Online- & Reputationsprüfung\" (10 Punkte)\n\nWebsite + Social Media + Google-Treffer: 10 Punkte\n\nNur Website oder Google-Eintrag : 5 Punkte\n\nKeine Website: 0 Punkte\n\nKriterium 2: \n\"Mitarbeiterzahl\" (10 Punkte)\n\n> 100 Mitarbeiter (10 Punkte)\n\n> 50 Mitarbeiter (7 Punkte)\n\n> 10 Mitarbeiter (5 Punkte)\n\n2-10 Mitarbeiter (3 Punkte)\n\nKeine Angabe / < 2 (0 Punkte)\n\n📤 Ausgabeformat nach jeder Bewertung:\nWenn du neue Kriterien bewertest, gib folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"NeuBewertet\": [\n    {\n      \"Kriterium\": \"Online- & Reputationsprüfung\",\n      \"Punkte\": 5,\n      \"Begründung\": \"Viele positive Google Rezessionen.\"\n    }\n  ],\n  \"OffenBleibend\": [\"Unternehmensalter\", \"Umsatzklasse\"],\n  \"Hinweis\": \"Noch keine Information zur Umsatzklasse verfügbar.\"\n}\nSobald alle Kriterien bewertet wurden, gib zusätzlich folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"GesamtScore\": 5,\n  \"Zusammenfassung\": \"Das Unternehmen weist sehr gute Rezessionen im Internet auf.\",\n  \"FehlendeDatenHinweis\": \"Angaben zur Online-Präsenz waren nicht eindeutig verifizierbar.\"\n}\n✅ Ziel:\nArbeite präzise, nachvollziehbar und professionell. Deine Einschätzung dient als Entscheidungshilfe für menschliche Sachbearbeiter und kann zur Annahme oder Ablehnung führen. Handle nachvollziehbar und vergib niemals mehr als die maximal zulässigen Punkte pro Kriterium."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1800,780],"id":"96151180-e870-4720-a59d-ffc80a998942","name":"Prüfer_Sektion_4"},{"parameters":{"promptType":"define","text":"={{ $('Beispiel_schlecht_5').item.json.query }}","options":{"systemMessage":"=Du bist ein digitaler Prüfagent im Auftrag eines Leasinggebers. Deine Aufgabe ist es, eingehende Unternehmensanfragen hinsichtlich ihrer Seriosität, wirtschaftlichen Stabilität und Plausibilität zu prüfen.\n\nUSE THE VECTOR STORE TOOL TO RETREIVE IMPORTANT / NON-IMPORTANT KEY LEARNING POINTS\nUSE THE VECTOR STORE !!!\n\nDie Informationen wurden von einem Research-Agenten aus öffentlichen Quellen (z. B. Handelsregister, Firmenverzeichnisse, Bundesanzeiger, Bonitätsdienste) gesammelt. Du erhältst immer dieselbe Sektion.\n\n🔍 Wichtige Verhaltensregeln für die Bewertung:\nBewerte jedes der unten genannten Kriterien nur einmal.\n\nSobald ein Kriterium bewertet wurde, darf es in späteren Sektionen nicht erneut bewertet werden – auch wenn dort weitere Informationen erscheinen.\n\nVergib keine Punkte doppelt. Maximalpunktzahl darf nicht überschritten werden.\n\nVerwende die Informationen nur, wenn sie für ein noch nicht bewertetes Kriterium relevant sind.\n\nWenn du alle Kriterien bewertet hast, beende die Analyse und gib das Gesamtergebnis weiter.\n\nDu erhältst die Informationen  der Sektion in folgender Struktur:\n\njson\nKopieren\nBearbeiten\n{\n  \"Sektionsname\": \"{{$json.sektionsname}}\",\n  \"Beschreibung\": \"{{$json.beschreibung}}\",\n  \"Inhalt\": \"{{$json.inhalt}}\",\n  \"URLs\": \"{{$json.urls}}\",\n  \"BereitsBewertet\": [\"Kriterium1\", \"Kriterium2\", ...]\n}\nNutze das Feld \"BereitsBewertet\", um zu erkennen, welche Kriterien schon bewertet wurden. Bewerte ausschließlich Kriterien, die dort nicht enthalten sind.\n\n🧮 Bewertungskriterien (einmalige Bewertung pro Kriterium):\n\nKriterium 1:\n\"Betrugs-/Sanktionsprüfung\" (10 Punkte)\n\n- Kein Treffer auf Watchlists: 10 Punkte\n\n- Treffer auf Sanktionslisten: 0 Punkte\n-> ablehnen des Antragstellers\n\n\n📤 Ausgabeformat nach jeder Bewertung:\nWenn du neue Kriterien bewertest, gib folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"NeuBewertet\": [\n    {\n      \"Kriterium\": \"Betrugs-/Sanktionsprüfung\",\n      \"Punkte\": 10,\n      \"Begründung\": \"Das Unternehmen war auf keiner Sanktionsliste zu finden.\"\n    }\n  ],\n  \"OffenBleibend\": [\"Unternehmensalter\", \"Umsatzklasse\"],\n  \"Hinweis\": \"Noch keine Information zur Umsatzklasse verfügbar.\"\n}\nSobald alle Kriterien bewertet wurden, gib zusätzlich folgendes zurück:\n\njson\nKopieren\nBearbeiten\n{\n  \"GesamtScore\": 10,\n  \"Zusammenfassung\": \"Aufgrund dessen, dass das Unternehemn auf keiner Sanktionsliste gefunden wurde, kann dem Unternehmen die volle Punktzahl zugeschrieben werden.\",\n  \"FehlendeDatenHinweis\": \"Angaben zur Sanktionsprüfung waren nicht eindeutig verifizierbar.\"\n}\n✅ Ziel:\nArbeite präzise, nachvollziehbar und professionell. Deine Einschätzung dient als Entscheidungshilfe für menschliche Sachbearbeiter und kann zur Annahme oder Ablehnung führen. Handle nachvollziehbar und vergib niemals mehr als die maximal zulässigen Punkte pro Kriterium."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1800,1040],"id":"bf39aab6-d0e9-4635-a784-46feb5ef5660","name":"Prüfer_Sektion_5"},{"parameters":{"assignments":{"assignments":[{"id":"695d28d9-d843-42cb-bd39-7b8974a9c7df","name":"query","value":"=Sektionsname: \"Unternehmensstruktur & Alter\",\nBeschreibung: \"Bewertet die Unternehmensform, Konzernstruktur und das Alter des Unternehmens als Indikator für Stabilität und Erfahrung.\", Inhalt: \"Beim Unternehmen handelt es sich um eine Aktiengesellschafft. Das Unternehmen wurde 1916 gegründet und gehört zu eines der ältesten Unternehmen in Deutschland. \", \nURLs: \"https://www.bmwgroup.com\", \"https://www.northdata.de/BMW+AG,+M%C3%BCnchen/HRB+42243\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,0],"id":"5d7aef5d-c194-4b20-b7c5-ec3b499b351d","name":"Sektion_1"},{"parameters":{"assignments":{"assignments":[{"id":"951ea1a6-1a48-42f7-9083-5e76def3baa9","name":"query","value":"=Sektionsname: \"Finanzielle Kennzahlen\", \nBeschreibung: \"Bewertet Umsatz, Eigenkapitalquote und andere relevante Bilanzkennzahlen zur wirtschaftlichen Lage des Unternehmens.\", \nInhalt: { \"Umsatz 2023\": \"155,5 Mrd. €\", \"Umsatz 2022\": \"142,6 Mrd. €\", \"Eigenkapitalquote\": \"29,5 %\", \"Jahresüberschuss 2023\": \"14,2 Mrd. €\", \"Quelle\": \"BMW Geschäftsbericht 2023\" }, \nURLs: [ \"https://www.bmwgroup.com/de/investor-relations.html\", \"https://www.bundesanzeiger.de\" ] }","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,260],"id":"fb099f0d-1401-449a-be68-b487782792b9","name":"Sektion_2"},{"parameters":{"assignments":{"assignments":[{"id":"951ea1a6-1a48-42f7-9083-5e76def3baa9","name":"query","value":"={ \"Sektionsname\": \"Zahlungshistorie & Bonität\", \"Beschreibung\": \"Bewertet die Kreditwürdigkeit und historische Zahlungssicherheit basierend auf Auskunfteien und Insolvenzmeldungen.\", \"Inhalt\": { \"Bonitätsindex (geschätzt)\": \"110 (sehr gut, lt. Creditreform-Kategorie)\", \"Insolvenzen\": \"Keine\", \"Negative Einträge\": \"Keine öffentlich bekannten\", \"Letzte bekannte Auskunftei-Einstufung\": \"Bonitätsstark / Investment Grade\" }, \"URLs\": [ \"https://www.creditreform.de\", \"https://www.northdata.de\" ] }","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,500],"id":"29530acd-1926-40c9-a7b8-a8e1bdd38185","name":"Sektion_3"},{"parameters":{"assignments":{"assignments":[{"id":"951ea1a6-1a48-42f7-9083-5e76def3baa9","name":"query","value":"=Sektionsname: \"Online- & Reputationsprüfung\", Beschreibung: \"Bewertet die Online-Präsenz des Unternehmens sowie öffentliche Bewertungen und Reputationssignale.\", Inhalt: { \"Website\": \"https://www.bmw.de\", \"Google-Bewertungen (BMW München NL)\": \"4,5 Sterne bei >2.000 Bewertungen\", \"Social Media\": [\"LinkedIn\", \"Instagram\", \"Twitter\", \"YouTube\"], \"Medienpräsenz\": \"Stark – internationale Berichterstattung, meist positiv\" }, URLs: [ \"https://www.bmw.de\", \"https://www.google.com/maps/place/BMW+Niederlassung+München\" ] }","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,780],"id":"303b8aac-9df3-4c38-9d24-06af7d51494e","name":"Sektion_4"},{"parameters":{"assignments":{"assignments":[{"id":"951ea1a6-1a48-42f7-9083-5e76def3baa9","name":"query","value":"=Sektionsname\"+: \"Sanktions-/Betrugsprüfung\", Beschreibung: \"Bewertet, ob das Unternehmen oder Personen in führender Position auf internationalen Sanktionslisten oder mit Betrugsfällen in Verbindung stehen.\", Inhalt: { \"EU-Sanktionsliste\": \"Kein Treffer\", \"UN-Sanktionsliste\": \"Kein Treffer\", \"OFAC (USA)\": \"Kein Treffer\", \"Verbindung zu gesperrten Kunden\": \"Nicht bekannt\", \"Bisherige Betrugsfälle\": \"Keine öffentlich belegten Fälle\" }, URLs: [ \"https://webgate.ec.europa.eu/fsd/fsf\", \"https://www.un.org/securitycouncil/sanctions/un-sc-consolidated-list\", \"https://sanctionssearch.ofac.treas.gov\" ] } ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,1040],"id":"ae735e48-017b-4934-b8aa-c26a6d46c666","name":"Sektion_5"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{"clashHandling":{"values":{"resolveClash":"addSuffix"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2240,460],"id":"f580dd33-9cfa-4fc3-9b5c-29657b4ea7b7","name":"Merge","alwaysOutputData":true},{"parameters":{"jsCode":"// 1. Rohtext laden\nconst raw = $json[\"query\"];\n\n// 2. In einzelne nummerierte Blöcke zerteilen\nconst blocks = raw\n  .split(/(?=\\d+\\.\\s\\\\Name\\\\)/) // Split vor \"1.Name\", \"2. Name\" etc.\n  .map(b => b.trim())\n  .filter(Boolean);\n\n// 3. Aus jedem Block die Felder extrahieren\nconst result = blocks\n  .map(block => {\n    const section = {};\n    \n    // Sektionnummer extrahieren\n    const numMatch = block.match(/^(\\d+)\\./);\n    section.Sektionnr = numMatch ? numMatch[1] : null;\n    \n    // Name extrahieren: von \"Name:\" bis \"Beschreibung\"\n    const nameMatch = block.match(/\\\\Name\\\\:\\s([^]?)(?=\\\\Beschreibung\\\\)/);\n    section.Name = nameMatch ? nameMatch[1].trim() : null;\n    \n    // Beschreibung extrahieren: von \"Beschreibung:\" bis \"Inhalt\"\n    const descMatch = block.match(/\\\\Beschreibung\\\\:\\s([^]?)(?=\\\\Inhalt\\\\)/);\n    section.Beschreibung = descMatch ? descMatch[1].trim() : null;\n\n    // Inhalt extrahieren: von \"Inhalt:\" bis \"URLs\"\n    const inhaltMatch = block.match(/\\\\Inhalt\\\\:\\s([^]?)(?=\\\\URLs\\\\)/);\n    section.Inhalt = inhaltMatch ? descMatch[1].trim() : null;\n    \n    // Suchanfragen extrahieren: von \"URLs:\" bis Ende des Blocks\n    const urlsMatch = block.match(/\\\\URLs\\\\:\\s([^]?)(?=\\n\\n\\d+\\.\\s|\\n$)/);\n    section.URLs = urlsMatch ? urlsMatch[1].trim() : null;\n    \n    return section;\n  })\n  .filter(sec => sec.Sektionnr !== null);\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,0],"id":"8c368228-9c30-49de-9f0b-9838bb382444","name":"Code_1","alwaysOutputData":true},{"parameters":{"jsCode":"// 1. Rohtext laden\nconst raw = $json[\"query\"];\n\n// 2. In einzelne nummerierte Blöcke zerteilen\nconst blocks = raw\n  .split(/(?=\\d+\\.\\s\\\\Name\\\\)/) // Split vor \"1.Name\", \"2. Name\" etc.\n  .map(b => b.trim())\n  .filter(Boolean);\n\n// 3. Aus jedem Block die Felder extrahieren\nconst result = blocks\n  .map(block => {\n    const section = {};\n    \n    // Sektionnummer extrahieren\n    const numMatch = block.match(/^(\\d+)\\./);\n    section.Sektionnr = numMatch ? numMatch[1] : null;\n    \n    // Name extrahieren: von \"Name:\" bis \"Beschreibung\"\n    const nameMatch = block.match(/\\\\Name\\\\:\\s([^]?)(?=\\\\Beschreibung\\\\)/);\n    section.Name = nameMatch ? nameMatch[1].trim() : null;\n    \n    // Beschreibung extrahieren: von \"Beschreibung:\" bis \"Inhalt\"\n    const descMatch = block.match(/\\\\Beschreibung\\\\:\\s([^]?)(?=\\\\Inhalt\\\\)/);\n    section.Beschreibung = descMatch ? descMatch[1].trim() : null;\n\n    // Inhalt extrahieren: von \"Inhalt:\" bis \"URLs\"\n    const inhaltMatch = block.match(/\\\\Inhalt\\\\:\\s([^]?)(?=\\\\URLs\\\\)/);\n    section.Inhalt = inhaltMatch ? descMatch[1].trim() : null;\n    \n    // Suchanfragen extrahieren: von \"URLs:\" bis Ende des Blocks\n    const urlsMatch = block.match(/\\\\URLs\\\\:\\s([^]?)(?=\\n\\n\\d+\\.\\s|\\n$)/);\n    section.URLs = urlsMatch ? urlsMatch[1].trim() : null;\n    \n    return section;\n  })\n  .filter(sec => sec.Sektionnr !== null);\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,260],"id":"c4a5e9b9-5134-4039-9592-b87c83afaf0f","name":"Code_2","alwaysOutputData":true},{"parameters":{"jsCode":"// 1. Rohtext laden\nconst raw = $json[\"query\"];\n\n// 2. In einzelne nummerierte Blöcke zerteilen\nconst blocks = raw\n  .split(/(?=\\d+\\.\\s\\\\Name\\\\)/) // Split vor \"1.Name\", \"2. Name\" etc.\n  .map(b => b.trim())\n  .filter(Boolean);\n\n// 3. Aus jedem Block die Felder extrahieren\nconst result = blocks\n  .map(block => {\n    const section = {};\n    \n    // Sektionnummer extrahieren\n    const numMatch = block.match(/^(\\d+)\\./);\n    section.Sektionnr = numMatch ? numMatch[1] : null;\n    \n    // Name extrahieren: von \"Name:\" bis \"Beschreibung\"\n    const nameMatch = block.match(/\\\\Name\\\\:\\s([^]?)(?=\\\\Beschreibung\\\\)/);\n    section.Name = nameMatch ? nameMatch[1].trim() : null;\n    \n    // Beschreibung extrahieren: von \"Beschreibung:\" bis \"Inhalt\"\n    const descMatch = block.match(/\\\\Beschreibung\\\\:\\s([^]?)(?=\\\\Inhalt\\\\)/);\n    section.Beschreibung = descMatch ? descMatch[1].trim() : null;\n\n    // Inhalt extrahieren: von \"Inhalt:\" bis \"URLs\"\n    const inhaltMatch = block.match(/\\\\Inhalt\\\\:\\s([^]?)(?=\\\\URLs\\\\)/);\n    section.Inhalt = inhaltMatch ? descMatch[1].trim() : null;\n    \n    // Suchanfragen extrahieren: von \"URLs:\" bis Ende des Blocks\n    const urlsMatch = block.match(/\\\\URLs\\\\:\\s([^]?)(?=\\n\\n\\d+\\.\\s|\\n$)/);\n    section.URLs = urlsMatch ? urlsMatch[1].trim() : null;\n    \n    return section;\n  })\n  .filter(sec => sec.Sektionnr !== null);\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,500],"id":"40286308-3b26-46a3-8e31-c0a3e6726f4d","name":"Code_3","alwaysOutputData":true},{"parameters":{"jsCode":"// 1. Rohtext laden\nconst raw = $json[\"query\"];\n\n// 2. In einzelne nummerierte Blöcke zerteilen\nconst blocks = raw\n  .split(/(?=\\d+\\.\\s\\\\Name\\\\)/) // Split vor \"1.Name\", \"2. Name\" etc.\n  .map(b => b.trim())\n  .filter(Boolean);\n\n// 3. Aus jedem Block die Felder extrahieren\nconst result = blocks\n  .map(block => {\n    const section = {};\n    \n    // Sektionnummer extrahieren\n    const numMatch = block.match(/^(\\d+)\\./);\n    section.Sektionnr = numMatch ? numMatch[1] : null;\n    \n    // Name extrahieren: von \"Name:\" bis \"Beschreibung\"\n    const nameMatch = block.match(/\\\\Name\\\\:\\s([^]?)(?=\\\\Beschreibung\\\\)/);\n    section.Name = nameMatch ? nameMatch[1].trim() : null;\n    \n    // Beschreibung extrahieren: von \"Beschreibung:\" bis \"Inhalt\"\n    const descMatch = block.match(/\\\\Beschreibung\\\\:\\s([^]?)(?=\\\\Inhalt\\\\)/);\n    section.Beschreibung = descMatch ? descMatch[1].trim() : null;\n\n    // Inhalt extrahieren: von \"Inhalt:\" bis \"URLs\"\n    const inhaltMatch = block.match(/\\\\Inhalt\\\\:\\s([^]?)(?=\\\\URLs\\\\)/);\n    section.Inhalt = inhaltMatch ? descMatch[1].trim() : null;\n    \n    // Suchanfragen extrahieren: von \"URLs:\" bis Ende des Blocks\n    const urlsMatch = block.match(/\\\\URLs\\\\:\\s([^]?)(?=\\n\\n\\d+\\.\\s|\\n$)/);\n    section.URLs = urlsMatch ? urlsMatch[1].trim() : null;\n    \n    return section;\n  })\n  .filter(sec => sec.Sektionnr !== null);\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,780],"id":"8965587e-4a2e-4d2b-85c4-fe2e14759efe","name":"Code_4","alwaysOutputData":true},{"parameters":{"jsCode":"// 1. Rohtext laden\nconst raw = $json[\"query\"];\n\n// 2. In einzelne nummerierte Blöcke zerteilen\nconst blocks = raw\n  .split(/(?=\\d+\\.\\s\\\\Name\\\\)/) // Split vor \"1.Name\", \"2. Name\" etc.\n  .map(b => b.trim())\n  .filter(Boolean);\n\n// 3. Aus jedem Block die Felder extrahieren\nconst result = blocks\n  .map(block => {\n    const section = {};\n    \n    // Sektionnummer extrahieren\n    const numMatch = block.match(/^(\\d+)\\./);\n    section.Sektionnr = numMatch ? numMatch[1] : null;\n    \n    // Name extrahieren: von \"Name:\" bis \"Beschreibung\"\n    const nameMatch = block.match(/\\\\Name\\\\:\\s([^]?)(?=\\\\Beschreibung\\\\)/);\n    section.Name = nameMatch ? nameMatch[1].trim() : null;\n    \n    // Beschreibung extrahieren: von \"Beschreibung:\" bis \"Inhalt\"\n    const descMatch = block.match(/\\\\Beschreibung\\\\:\\s([^]?)(?=\\\\Inhalt\\\\)/);\n    section.Beschreibung = descMatch ? descMatch[1].trim() : null;\n\n    // Inhalt extrahieren: von \"Inhalt:\" bis \"URLs\"\n    const inhaltMatch = block.match(/\\\\Inhalt\\\\:\\s([^]?)(?=\\\\URLs\\\\)/);\n    section.Inhalt = inhaltMatch ? descMatch[1].trim() : null;\n    \n    // Suchanfragen extrahieren: von \"URLs:\" bis Ende des Blocks\n    const urlsMatch = block.match(/\\\\URLs\\\\:\\s([^]?)(?=\\n\\n\\d+\\.\\s|\\n$)/);\n    section.URLs = urlsMatch ? urlsMatch[1].trim() : null;\n    \n    return section;\n  })\n  .filter(sec => sec.Sektionnr !== null);\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,1040],"id":"e8166cc6-d67c-4214-93d2-0c4f1302d376","name":"Code_5","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"5aca6194-6683-46c4-9e4f-7cfbd0a5cb43","name":"=query","value":"={\n  \"Sektionsname\": \"Unternehmensstruktur & Alter\",\n  \"Beschreibung\": \"Bewertet Rechtsform, Unternehmensalter und Datenvollständigkeit\",\n  \"Inhalt\": {\n    \"Rechtsform\": \"UG (haftungsbeschränkt)\",\n    \"Gründungsjahr\": 2024,\n    \"Alter\": \"1 Jahr\",\n    \"Muttergesellschaft\": \"Keine\",\n    \"Hauptsitz\": \"Beispielfeld 7, 99999 Musterstadt, Deutschland\",\n    \"Handelsregisterdaten\": {\n      \"Firmenname-Übereinstimmung\": \"Abweichungen zwischen Handelsregister und Domain\",\n      \"Adressvollständigkeit\": \"Unvollständig, keine Etagen-/Raumangabe, Postfachadresse\",\n      \"Gesellschafterstruktur\": \"Nicht nachvollziehbar, wechselnde Gesellschafter\",\n      \"Gründungsdatum im HR\": \"Nicht eindeutig dokumentiert\"\n    },\n    \"Finanzberichte\": {\n      \"GuV/Bilanzverfügbarkeit\": \"Keine veröffentlichten Abschlüsse\",\n      \"GF-Stabilität\": \"Bereits 2 Geschäftsführer-Wechsel seit Gründung\"\n    }\n  },\n  \"URLs\": [\n    \"https://www.northdata.de\",\n    \"https://www.unternehmensregister.de\"\n  ]\n}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,0],"id":"49006c95-7357-4b2c-be14-802fe53e791c","name":"Beispiel_schlecht_1"},{"parameters":{"assignments":{"assignments":[{"id":"5aca6194-6683-46c4-9e4f-7cfbd0a5cb43","name":"query","value":"={\n  \"Sektionsname\": \"Finanzielle Kennzahlen\",\n  \"Beschreibung\": \"Analyse der Bilanzkennzahlen und Wirtschaftlichkeit\",\n  \"Inhalt\": {\n    \"Umsatzentwicklung\": {\n      \"2024\": \"ca. 30.000 €\",\n      \"2023\": \"Keine Angaben\"\n    },\n    \"Eigenkapitalquote\": \"< 10 % (geschätzt)\",\n    \"Jahresüberschuss\": {\n      \"2024\": \"-8.000 €\",\n      \"2023\": \"Keine Angaben\"\n    },\n    \"Verbindlichkeitsstruktur\": {\n      \"Gesamtverbindlichkeiten\": \"ca. 40.000 €\",\n      \"Anteil an Bilanzsumme\": \"geschätzt > 90 %\"\n    },\n    \"Bilanzhistorie\": \"Keine Bilanzen verfügbar\"\n  },\n  \"URLs\": [\n    \"https://www.bundesanzeiger.de\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,260],"id":"c0c20f98-c26a-4723-aef4-9eb033b3f23d","name":"Beispiel_schlecht_2"},{"parameters":{"assignments":{"assignments":[{"id":"5aca6194-6683-46c4-9e4f-7cfbd0a5cb43","name":"query","value":"={\n  \"Sektionsname\": \"Zahlungshistorie & Bonität\",\n  \"Beschreibung\": \"Prüfung von Negativmerkmalen und Zahlungsdisziplin\",\n  \"Inhalt\": {\n    \"Bonitätsindikatoren\": {\n      \"Schufa-Einstufung\": \"Negativ\",\n      \"Inkasso-Verfahren\": \"Mehrere laufende Inkassoverfahren\"\n    },\n    \"Historische Risiken\": \"Insolvenzanmeldung im Vorjahr, Verfahren läuft\",\n    \"Liquiditätskennziffern\": {\n      \"Cashflow aus Operationen\": \"Negativ\",\n      \"Liquidität 1. Grades\": \"0,2 (geschätzt)\"\n    }\n  },\n  \"URLs\": [\n    \"https://www.creditreform.de\",\n    \"https://www.northdata.de\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,500],"id":"2236afaa-7c99-46a1-b5bb-8c8b5f803b0e","name":"Beispiel_schlecht_3"},{"parameters":{"assignments":{"assignments":[{"id":"5aca6194-6683-46c4-9e4f-7cfbd0a5cb43","name":"query","value":"={\n  \"Sektionsname\": \"Online- & Reputationsprüfung\",\n  \"Beschreibung\": \"Bewertung der digitalen Präsenz und Markenwahrnehmung\",\n  \"Inhalt\": {\n    \"Webpräsenz\": {\n      \"Offizielle Website\": \"Nicht vorhanden\",\n      \"Social-Media-Aktivität\": \"Keine Profile gefunden\",\n      \"Google-Treffer\": \"Nur Handelsregistereintrag, keine eigenen Inhalte\"\n    },\n    \"Mitarbeiterzahlen\": \"Keine Angaben / vermutlich Einzelperson\",\n    \"Markenwahrnehmung\": {\n      \"Trustpilot-Bewertung\": \"Nicht gelistet\",\n      \"Auszeichnungen\": \"Keine\"\n    }\n  },\n  \"URLs\": [\n    \"https://www.google.com\",\n    \"https://www.northdata.de\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,780],"id":"01858801-65b7-441b-aada-2543afe4dc30","name":"Beispiel_schlecht_4"},{"parameters":{"assignments":{"assignments":[{"id":"5aca6194-6683-46c4-9e4f-7cfbd0a5cb43","name":"query","value":"={\n  \"Sektionsname\": \"Sanktions-/Betrugsprüfung\",\n  \"Beschreibung\": \"Überprüfung auf Betrugsvorwürfe und Sanktionslisteneinträge\",\n  \"Inhalt\": {\n    \"Sanktionslistenabgleich\": {\n      \"EU-Sanktionen\": \"Kein Treffer\",\n      \"OFAC-Liste\": \"Kein Treffer\"\n    },\n    \"Betrugsvorwürfe\": {\n      \"Bekannte Vorfälle\": \"Mehrere Forenberichte über nicht gelieferte Waren, Verdacht auf Fake-Shop, Warnungen der Verbraucherzentrale\"\n    }\n  },\n  \"URLs\": [\n    \"https://www.verbraucherzentrale.de/wissen/digitale-welt/online-shopping/fake-shops-woran-erkenne-ich-sie-13205\",\n    \"https://www.watchlist-internet.at/\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,1040],"id":"9e01ad1f-ae94-4585-abf2-6976398956b2","name":"Beispiel_schlecht_5"},{"parameters":{"assignments":{"assignments":[{"id":"695d28d9-d843-42cb-bd39-7b8974a9c7df","name":"query","value":"={\n  \"Sektionsname\": \"Unternehmensstruktur & Alter\",\n  \"Beschreibung\": \"Bewertet Rechtsform, Unternehmensalter und Datenvollständigkeit\",\n  \"Inhalt\": {\n    \"Rechtsform\": \"Aktiengesellschaft (AG)\",\n    \"Gründungsjahr\": 1847,\n    \"Alter\": \"178 Jahre\",\n    \"Muttergesellschaft\": \"Siemens AG\",\n    \"Hauptsitz\": \"München und Berlin, Deutschland\",\n    \"Handelsregisterdaten\": {\n      \"Firmenname-Übereinstimmung\": \"Siemens AG\",\n      \"Adressvollständigkeit\": \"Vollständige Adressangaben in Unternehmenspublikationen\",\n      \"Gesellschafterstruktur\": \"Institutionelle Investoren, Streubesitz\",\n      \"Gründungsdatum im HR\": \"1. Oktober 1847 dokumentiert\"\n    },\n    \"Finanzberichte\": {\n      \"GuV/Bilanzverfügbarkeit\": \"Jahresabschluss 2023 öffentlich einsehbar\",\n      \"GF-Stabilität\": \"Kein Vorstandswechsel in den letzten 5 Jahren\"\n    }\n  },\n  \"URLs\": [\n    \"https://de.wikipedia.org/wiki/Siemens\",\n    \"https://new.siemens.com/global/en/company/investor-relations/financial-reports.html\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,0],"id":"b78ae600-e0fd-4f63-9023-d92b325890de","name":"Sektion_3_1"},{"parameters":{"assignments":{"assignments":[{"id":"951ea1a6-1a48-42f7-9083-5e76def3baa9","name":"query","value":"={\n  \"Sektionsname\": \"Finanzielle Kennzahlen\",\n  \"Beschreibung\": \"Analyse der Bilanzkennzahlen und Wirtschaftlichkeit\",\n  \"Inhalt\": {\n    \"Umsatzentwicklung\": {\n      \"2023\": \"72.000.000.000 €\",\n      \"2022\": \"62.000.000.000 €\"\n    },\n    \"Eigenkapitalquote\": \"28 %\",\n    \"Jahresüberschuss\": {\n      \"2023\": \"+5.000.000.000 €\",\n      \"2022\": \"+4.500.000.000 €\"\n    },\n    \"Verbindlichkeitsstruktur\": {\n      \"Gesamtverbindlichkeiten\": \"40.000.000.000 €\",\n      \"Anteil an Bilanzsumme\": \"50 %\"\n    },\n    \"Bilanzhistorie\": \"Öffentlich verfügbare Berichte ab 2020 nachweisbar\"\n  },\n  \"URLs\": [\n    \"https://new.siemens.com/global/en/company/investor-relations/financial-reports.html\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,260],"id":"cf3f94d4-d86d-4dfb-928b-c2780a0edcd2","name":"Sektion_3_2"},{"parameters":{"assignments":{"assignments":[{"id":"951ea1a6-1a48-42f7-9083-5e76def3baa9","name":"query","value":"={\n  \"Sektionsname\": \"Zahlungshistorie & Bonität\",\n  \"Beschreibung\": \"Prüfung von Negativmerkmalen und Zahlungsdisziplin\",\n  \"Inhalt\": {\n    \"Bonitätsindikatoren\": {\n      \"Schufa-Einstufung\": \"Keine öffentlichen Einträge\",\n      \"Inkasso-Verfahren\": \"Keine gerichtlichen Vollstreckungsmaßnahmen dokumentiert\"\n    },\n    \"Historische Risiken\": \"Keine Insolvenzen in der Unternehmensgeschichte\",\n    \"Liquiditätskennziffern\": {\n      \"Cashflow aus Operationen\": \"4.000 Mio. € (2023)\"\n    }\n  },\n  \"URLs\": [\n    \"https://www.bonitaetspruefung.com/moegliche-negativmerkmale-bei-einer-bonitaetsauskunft/\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,500],"id":"22388bc6-a67e-44bb-bb33-36881de7716f","name":"Sektion_3_3"},{"parameters":{"assignments":{"assignments":[{"id":"951ea1a6-1a48-42f7-9083-5e76def3baa9","name":"query","value":"={\n  \"Sektionsname\": \"Online- & Reputationsprüfung\",\n  \"Beschreibung\": \"Bewertung der digitalen Präsenz und Markenwahrnehmung\",\n  \"Inhalt\": {\n    \"Webpräsenz\": {\n      \"Offizielle Website\": \"https://new.siemens.com/global/en.html\",\n      \"Social-Media-Aktivität\": \"Aktiv auf allen relevanten Plattformen\",\n      \"Google-Treffer\": \"10 Mio. Ergebnisse\"\n    },\n    \"Mitarbeiterzahlen\": \"295.000 weltweit (2024)\",\n    \"Markenwahrnehmung\": {\n      \"Trustpilot-Bewertung\": \"4,3/5 Sternen\",\n      \"Auszeichnungen\": \"Mehrfacher Industriepreis-Gewinner\"\n    }\n  },\n  \"URLs\": [\n    \"https://new.siemens.com/global/en.html\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,780],"id":"80afe85a-9f18-4243-a853-110d26b5569b","name":"Sektion_3_4"},{"parameters":{"assignments":{"assignments":[{"id":"a525042a-7713-41e8-a2dc-5a2b623fb0e5","name":"=query","value":"={\n  \"Sektionsname\": \"Unternehmensstruktur & Alter\",\n  \"Beschreibung\": \"Bewertet Rechtsform, Unternehmensalter und Datenvollständigkeit\",\n  \"Inhalt\": {\n    \"Rechtsform\": \"Aktiengesellschaft (AG)\",\n    \"Gründungsjahr\": 1916,\n    \"Alter\": \"109 Jahre\",\n    \"Muttergesellschaft\": \"BMW Group\",\n    \"Hauptsitz\": \"München, Deutschland\",\n    \"Handelsregisterdaten\": {\n      \"Firmenname-Übereinstimmung\": \"Bayerische Motoren Werke AG\",\n      \"Adressvollständigkeit\": \"Vollständige Adressangaben in Unternehmenspublikationen\",\n      \"Gesellschafterstruktur\": \"Susanne Klatten & Stefan Quandt (48,5%)\",\n      \"Gründungsdatum im HR\": \"7. März 1916 dokumentiert\"\n    },\n    \"Finanzberichte\": {\n      \"GuV/Bilanzverfügbarkeit\": \"Jahresabschluss 2023 öffentlich einsehbar\",\n      \"GF-Stabilität\": \"Kein Vorstandswechsel in den letzten 5 Jahren\"\n    }\n  },\n  \"URLs\": [\n    \"https://de.wikipedia.org/wiki/BMW\",\n    \"https://www.bmwgroup.com/de/bericht/2023/downloads/BMW-AG-Jahresabschluss-2023-de.pdf\",\n    \"https://www.bmwgroup.com/de/unternehmen/historie.html\"\n  ]\n}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"1359a474-f8c6-46ce-82d2-0eafaff5939a","name":"Beispiel"},{"parameters":{"assignments":{"assignments":[{"id":"95ae5307-d28b-4932-bf49-a3491a87f59d","name":"query","value":"={   \"Sektionsname\": \"Finanzielle Kennzahlen\",   \"Beschreibung\": \"Analyse der Bilanzkennzahlen und Wirtschaftlichkeit\",   \"Inhalt\": {     \"Umsatzentwicklung\": {       \"2023\": \"107.874 Mio. €\",       \"2022\": \"98.807 Mio. €\"     },     \"Eigenkapitalquote\": \"26,4% (17.932 Mio. € von 67.824 Mio. € Bilanzsumme)\",     \"Jahresüberschuss\": {       \"2023\": \"+4.366 Mio. €\",       \"2022\": \"+6.311 Mio. €\"     },     \"Verbindlichkeitsstruktur\": {       \"Gesamtverbindlichkeiten\": \"31.599 Mio. €\",       \"Anteil an Bilanzsumme\": \"46,6%\"     },     \"Bilanzhistorie\": \"Öffentlich verfügbare Berichte ab 2020 nachweisbar\"   },   \"URLs\": [     \"https://www.bmwgroup.com/de/bericht/2023/downloads/BMW-AG-Jahresabschluss-2023-de.pdf\"   ] }","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,260],"id":"19818660-78f7-42ff-b271-fb7e2a626daa","name":"Beispiel2"},{"parameters":{"assignments":{"assignments":[{"id":"aa0019c7-e768-4613-8531-8c2280afbb57","name":"query","value":"={   \"Sektionsname\": \"Zahlungshistorie & Bonität\",   \"Beschreibung\": \"Prüfung von Negativmerkmalen und Zahlungsdisziplin\",   \"Inhalt\": {     \"Bonitätsindikatoren\": {       \"Schufa-Einstufung\": \"Keine öffentlichen Einträge\",       \"Inkasso-Verfahren\": \"Keine gerichtlichen Vollstreckungsmaßnahmen dokumentiert\"     },     \"Historische Risiken\": \"Keine Insolvenzen in der Unternehmensgeschichte\",     \"Liquiditätskennziffern\": {       \"Cashflow aus Operationen\": \"12.337 Mio. € (2023)\"     }   },   \"URLs\": [     \"https://www.bonitaetspruefung.com/moegliche-negativmerkmale-bei-einer-bonitaetsauskunft/\"   ] }","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,500],"id":"bcc770fb-e0b7-4349-a19b-306c149f7f4d","name":"Beispiel3"},{"parameters":{"assignments":{"assignments":[{"id":"aa0019c7-e768-4613-8531-8c2280afbb57","name":"query","value":"={\n  \"Sektionsname\": \"Online- & Reputationsprüfung\",\n  \"Beschreibung\": \"Bewertung der digitalen Präsenz und Markenwahrnehmung\",\n  \"Inhalt\": {\n    \"Webpräsenz\": {\n      \"Offizielle Website\": \"https://www.bmw.de\",\n      \"Social-Media-Aktivität\": \"Aktiv auf allen relevanten Plattformen\",\n      \"Google-Treffer\": \"25,8 Mio. Ergebnisse\"\n    },\n    \"Mitarbeiterzahlen\": \"159.000 weltweit (2024)\",\n    \"Markenwahrnehmung\": {\n      \"Trustpilot-Bewertung\": \"4,5/5 Sternen\",\n      \"Auszeichnungen\": \"Mehrfacher „Best Global Brands“-Preisträger\"\n    }\n  },\n  \"URLs\": [\n    \"https://groupofpeople.de/case-bmw-m/\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,780],"id":"e865b626-1196-4fff-bf04-bae67ab2b578","name":"Beispiel4"},{"parameters":{"assignments":{"assignments":[{"id":"aa0019c7-e768-4613-8531-8c2280afbb57","name":"query","value":"={\n  \"Sektionsname\": \"Sanktions-/Betrugsprüfung\",\n  \"Beschreibung\": \"Überprüfung auf Betrugsvorwürfe und Sanktionslisteneinträge\",\n  \"Inhalt\": {\n    \"Sanktionslistenabgleich\": {\n      \"EU-Sanktionen\": \"Keine Einträge\",\n      \"OFAC-Liste\": \"Keine Treffer\"\n    },\n    \"Betrugsvorwürfe\": {\n      \"Fake-Shop-Vorfall\": \"Hinweis auf Kopie-Shop (bmwvip-eu.com)\",\n      \"Echte BMW-Webpräsenz\": \"Keine direkten Betrugsvorwürfe\"\n    }\n  },\n  \"URLs\": [\n    \"https://www.watchlist-internet.at/liste-betruegerischer-shops/shop/bmwvip-eucom/\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1040],"id":"a1037679-1b6a-4710-9e50-5b4cd30545e3","name":"Beispiel5"},{"parameters":{"assignments":{"assignments":[{"id":"951ea1a6-1a48-42f7-9083-5e76def3baa9","name":"query","value":"={\n  \"Sektionsname\": \"Sanktions-/Betrugsprüfung\",\n  \"Beschreibung\": \"Überprüfung auf Betrugsvorwürfe und Sanktionslisteneinträge\",\n  \"Inhalt\": {\n    \"Sanktionslistenabgleich\": {\n      \"EU-Sanktionen\": \"Keine Einträge\",\n      \"OFAC-Liste\": \"Keine Treffer\"\n    },\n    \"Betrugsvorwürfe\": {\n      \"Bekannte Vorfälle\": \"Keine bekannten Betrugsvorwürfe\"\n    }\n  },\n  \"URLs\": [\n    \"https://www.watchlist-internet.at/\"\n  ]\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,1040],"id":"a4b6a430-00ba-4bf8-b4a1-995c94597908","name":"Sektion_3_5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.category }}","rightValue":"sehr_gut","operator":{"type":"string","operation":"equals"},"id":"db219461-5d2d-48f6-8de8-d449869ba346"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"762f91cf-891e-4615-96e7-a527abe3dd33","leftValue":"={{ $json.category }}","rightValue":"solide","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0608864e-111a-485f-9966-e7cb6290a227","leftValue":"={{ $json.category }}","rightValue":"schwach","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6afb46ac-9029-4877-a788-df9cf980632f","leftValue":"={{ $json.category }}","rightValue":"kritisch","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[6780,500],"id":"6a7f70e8-8c89-4494-8b58-73963d674ef9","name":"Switch"},{"parameters":{"jsCode":"return items.map(item => {\n  const score = item.json.GesamtscoreNum;\n  let category;\n\n  // Falls du die Kategorie nicht nochmal brauchst, kannst du diesen Teil weglassen,\n  // da 'Bewertung' ja schon als Text da ist.\n  if (score >= 100 && score <= 117) {\n    category = 'sehr_gut';\n  } else if (score >= 90 && score <= 109) {\n    category = 'solide';\n  } else if (score >= 65 && score <= 89) {\n    category = 'schwach';\n  } else {\n    category = 'kritisch';\n  }\n\n  return {\n    json: {\n      ...item.json,\n      Bewertung: item.json.Bewertung,\n      Zusammenfassung: item.json.Zusammenfassung,\n      GesamtscoreNum: score,\n      category,  // Optional, falls du es brauchst\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6580,520],"id":"c4d30e7d-3360-4c8e-bb29-71a2816dcd2a","name":"Kategorien"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[560,660],"id":"1412eec6-564c-4a72-a3f9-258a47bf01cc","name":"When clicking ‘Test workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f87affe1-4315-43c6-a3ac-c91c33eabbf5","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3620,500],"id":"d717cd63-c54d-48fa-9fbd-92e3d9c99171","name":"If"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"sektiontst","mode":"list","cachedResultName":"sektiontst"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[4540,720],"id":"45991ab6-6b80-4691-855e-6eea32809ee8","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4520,920],"id":"c499cac0-01e5-4b3e-be5c-e0e78cee65f5","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[4740,860],"id":"0fcd1243-d836-484f-ab88-1f4f450ec4b8","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[4720,1060],"id":"fa156c91-a85c-438f-a0f2-88969b177179","name":"Token Splitter"},{"parameters":{"assignments":{"assignments":[{"id":"4d7e0f16-c6a3-49f2-9a3f-f534d9c64938","name":"cleaned","value":"={{ $('cleanUp').item.json.cleaned }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3740,720],"id":"6f2216fa-083e-4be8-9f1c-29e558da0d58","name":"Edit Fields"},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"=Bist du mit der Bewertung so einverstanden?\n\n{{ $json.finaloutput }}\n\n","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3340,500],"id":"f5929b9f-5a99-4629-88dc-9a21a6e14d8a","name":"Telegram","webhookId":"996f9348-e143-48cf-9624-b7e7eb8cb2df","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4e35f80e-cc6f-43d1-8962-e1c69b9506cd","name":"finaloutput","value":"={{ $json.cleaned }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3060,500],"id":"dd669041-4170-4a26-b01d-6d6c46cebb04","name":"Edit Fields1"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      result: items[0].json.output_1 + items[0].json.output_2 + items[0].json.output_3 + items[0].json.output_4 + items[0].json.output_5 + items[0].json.output\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,500],"id":"2c83e663-db1b-42ea-b409-a65ea09cbf71","name":"merge"},{"parameters":{"jsCode":"// Get the raw string from the first item\nlet raw = items[0].json.result;\n\n// 1. Remove all ```json or ``` markers\nraw = raw.replace(/```json|```/g, '');\n\n// 2. Remove standalone \"json\" lines (not inside values)\nraw = raw.replace(/\\bjson\\b/g, '');\n\n// 3. Trim outer whitespace\nraw = raw.trim();\n\n// Optional: remove leading/trailing curly braces IF you really want that\n// WARNING: This may break JSON structure if used improperly.\nraw = raw.replace(/^\\{+|\\}+$/g, '');\n\n// Return cleaned version\nreturn [\n  {\n    json: {\n      cleaned: raw\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,500],"id":"31f7c603-0b7f-4db3-9474-ee325e1e6a60","name":"cleanUp"},{"parameters":{"promptType":"define","text":"={{ $json.data.text }}{{ $('cleanUp').item.json.cleaned }}","messages":{"messageValues":[{"message":"Du bist ein Feedback Refine Agent. Deine Aufgabe ist es, das POSITIVE Feedback von Menschen in Key Learnings umzuwandeln / umzuformulieren.|Ziel ist es, das Feedback in ein Key Learning in 1-3 Sätzen umzuschreiben.Das Key Learning soll Präzise und Prägnant sein.Es dürfen dabei keine Wichtigen Learnings verloren gehen.Merkliste:- Ersetze vollständige Namen z.B. Heinrich Schmidt, durch \"Lead\"- Ersetze Unternehmensnamen z.B. \"Porsche AG\", durch \"Unternehmen\"- Namen sollen verallgemeinert werden. - Gebe einfach das Key Learning aus, OHNE weitere Erklärungen.- Behalte Jahreszahlen, Maße, Mengeneinheiten immer bei! Beispiel: \"Es soll auch nach dem Umsatz der letzten 3 Jahre gesucht werden\" -> \"Key Learning: Es ist wichtig, nach dem Umsatz der letzten 3 Jahre zu suchen\"Wichtig: Halte dich an die Merkliste! "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[4160,720],"id":"78668b2f-a5be-476d-a4ad-5002089716b4","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4180,940],"id":"69d73da3-7c56-496a-b6eb-b22feeae8cbc","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"assignments":{"assignments":[{"id":"bb1eafb4-ba22-48e7-89ee-63eb0c0ea208","name":"output_1","value":"={{ $json.output_1 }}","type":"string"},{"id":"314545ee-0e38-4506-a488-d9bd6eb55b35","name":"output_2","value":"={{ $json.output_2 }}","type":"string"},{"id":"dd931e87-488a-49c8-b043-aa9c0f502b34","name":"output_3","value":"={{ $json.output_3 }}","type":"string"},{"id":"1905dcc7-4f76-414d-8b30-68d52023078c","name":"output_4","value":"={{ $json.output_4 }}","type":"string"},{"id":"538df65e-1b78-4251-8daa-7840e54bf203","name":"output_5","value":"={{ $json.output_5 }}","type":"string"},{"id":"bd9e2736-bb76-4053-9300-108ad49a06a5","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2500,500],"id":"110ef5ce-8b91-4627-b669-76d80759e04e","name":"STORAGE"},{"parameters":{"assignments":{"assignments":[{"id":"1244d5a8-6043-45e4-a646-c478a0b31040","name":"output","value":"={{ $('cleanUp').item.json.cleaned }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3760,20],"id":"a42fd22b-714f-4317-8ba2-a68c28b391ab","name":"Edit Fields2"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"sektiontst","mode":"list","cachedResultName":"sektiontst"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[4740,20],"id":"a31b8327-a9c2-48f7-b51d-f9061d74a214","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4740,220],"id":"e10b336b-8119-41a4-afe0-1c4820850c9d","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[4800,500],"id":"07b61ff2-a35a-487b-ad27-4dad3f906811","name":"Token Splitter1"},{"parameters":{"promptType":"define","text":"={{ $json.data.text }}","messages":{"messageValues":[{"message":"Du bist ein Feedback Refine Agent. Deine Aufgabe ist es, das NEGATIVE Feedback von Menschen in Key Learnings umzuwandeln / umzuformulieren.|Ziel ist es, das Feedback in ein Key Learning in 1-3 Sätzen umzuschreiben.Das Key Learning soll Präzise und Prägnant sein.Es dürfen dabei keine Wichtigen Learnings verloren gehen.Merkliste:- Ersetze vollständige Namen z.B. Heinrich Schmidt, durch \"Lead\"- Ersetze Unternehmensnamen z.B. \"Porsche AG\", durch \"Unternehmen\"- Namen sollen verallgemeinert werden. - Gebe einfach das Key Learning aus, OHNE weitere Erklärungen.- Behalte Jahreszahlen, Maße, Mengeneinheiten immer bei! Beispiel: \"Es soll auch nach dem Umsatz der letzten 3 Jahre gesucht werden\" -> \"Key Learning: Es ist wichtig, nach dem Umsatz der letzten 3 Jahre zu suchen\"Wichtig: Halte dich an die Merkliste! "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[4380,20],"id":"ef5ad6d9-6c92-40ed-aa04-4b298fa43654","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4400,240],"id":"25c9fa86-321f-41fb-abcf-0022361dd0e5","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[4860,240],"id":"b70d84bb-efcb-47e0-a5ba-809c70e6bafd","name":"Default Data Loader1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[860,660],"id":"0427248b-192c-4601-8bb7-58157143546e","name":"usedBecauseCanNotDragIntoPrev","webhookId":"f7d24794-0ecb-451b-8781-654c558d43d7"},{"parameters":{"mode":"retrieve-as-tool","toolName":"text","toolDescription":"this data is sued to determine what KeyLearning Points should be focused on ","pineconeIndex":{"__rl":true,"value":"sektiontst","mode":"list","cachedResultName":"sektiontst"},"topK":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[2300,-280],"id":"93e08512-26ab-40a5-b743-98f628a74b44","name":"Pinecone Vector Store2","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2300,-40],"id":"7970990f-4ae0-47e5-82b1-0b84c2359e43","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"Hallo,\n\nwas hat dir nicht gefalllen?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3980,20],"id":"1aa3cd1a-308e-422b-8ac7-a2fd9db82dbc","name":"Telegram1","webhookId":"54dd9fc7-f70e-4a01-bdbe-240d42ed674b","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"Hallo,\n\nwas hat dir gefalllen?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3920,700],"id":"9dc1023c-9c4f-472c-92be-eff00a94c0a4","name":"Telegram2","webhookId":"54dd9fc7-f70e-4a01-bdbe-240d42ed674b","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Prüfer_Sektion_1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Prüfer_Sektion_2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Prüfer_Sektion_4","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Prüfer_Sektion_5","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Scoring&Writer_Agent","type":"ai_languageModel","index":0}]]},"Prüfer_Sektion_1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Scoring&Writer_Agent","type":"ai_tool","index":0}]]},"Prüfer_Sektion_3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Prüfer_Sektion_2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Prüfer_Sektion_3","type":"ai_languageModel","index":0}]]},"Prüfer_Sektion_4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Prüfer_Sektion_5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Merge":{"main":[[{"node":"STORAGE","type":"main","index":0}]]},"Code_2":{"main":[[{"node":"Prüfer_Sektion_2","type":"main","index":0}]]},"Code_3":{"main":[[{"node":"Prüfer_Sektion_3","type":"main","index":0}]]},"Code_4":{"main":[[{"node":"Prüfer_Sektion_4","type":"main","index":0}]]},"Code_5":{"main":[[{"node":"Prüfer_Sektion_5","type":"main","index":0}]]},"Code_1":{"main":[[{"node":"Prüfer_Sektion_1","type":"main","index":0}]]},"Beispiel_schlecht_1":{"main":[[{"node":"Code_1","type":"main","index":0}]]},"Beispiel_schlecht_2":{"main":[[{"node":"Code_2","type":"main","index":0}]]},"Beispiel_schlecht_5":{"main":[[{"node":"Code_5","type":"main","index":0}]]},"Beispiel_schlecht_4":{"main":[[{"node":"Code_4","type":"main","index":0}]]},"Beispiel_schlecht_3":{"main":[[{"node":"Code_3","type":"main","index":0}]]},"Switch":{"main":[[],[],[],[]]},"Scoring&Writer_Agent":{"main":[[{"node":"Kategorien","type":"main","index":0}]]},"Kategorien":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"usedBecauseCanNotDragIntoPrev","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Scoring&Writer_Agent","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"merge":{"main":[[{"node":"cleanUp","type":"main","index":0}]]},"cleanUp":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"STORAGE":{"main":[[{"node":"merge","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"usedBecauseCanNotDragIntoPrev":{"main":[[{"node":"Beispiel_schlecht_1","type":"main","index":0},{"node":"Beispiel_schlecht_2","type":"main","index":0},{"node":"Beispiel_schlecht_3","type":"main","index":0},{"node":"Beispiel_schlecht_4","type":"main","index":0},{"node":"Beispiel_schlecht_5","type":"main","index":0}]]},"Pinecone Vector Store1":{"main":[[{"node":"usedBecauseCanNotDragIntoPrev","type":"main","index":0}]]},"Pinecone Vector Store2":{"ai_tool":[[{"node":"Prüfer_Sektion_1","type":"ai_tool","index":0},{"node":"Prüfer_Sektion_2","type":"ai_tool","index":0},{"node":"Prüfer_Sektion_3","type":"ai_tool","index":0},{"node":"Prüfer_Sektion_4","type":"ai_tool","index":0},{"node":"Prüfer_Sektion_5","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"Telegram1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dab0175f-9452-4f68-bb03-bc55b7d9e8cd","triggerCount":0,"shared":[{"createdAt":"2025-05-29T08:27:08.826Z","updatedAt":"2025-05-29T08:27:08.826Z","role":"workflow:owner","workflowId":"W59fSjsvM4QPWbgf","projectId":"NrQd9r8oMpFtZnHg","project":{"createdAt":"2025-03-27T22:05:44.195Z","updatedAt":"2025-03-28T11:50:14.003Z","id":"NrQd9r8oMpFtZnHg","name":"Lukas Lindner <lindner20356@hs-ansbach.de>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T22:05:44.214Z","updatedAt":"2025-03-27T22:05:44.214Z","role":"project:personalOwner","userId":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","projectId":"NrQd9r8oMpFtZnHg","user":{"createdAt":"2025-03-27T22:05:44.182Z","updatedAt":"2025-04-25T10:38:49.888Z","id":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","email":"lindner20356@hs-ansbach.de","firstName":"Lukas","lastName":"Lindner","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-28T11:50:51.570Z","personalization_survey_n8n_version":"1.82.3","companyType":"personal","reportedSource":"other","reportedSourceOther":"I was invited "},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZVgChKHo1urRFpDV","userActivated":true,"userActivatedAt":1745299771787,"npsSurvey":{"responded":true,"lastShownAt":1745577527257}},"role":"global:member","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":false}}]}}],"tags":[]}