telegram2vectorstore-agent-5AN9IofnlpHegeMV.json
{"createdAt":"2025-04-28T05:03:38.810Z","updatedAt":"2025-04-30T13:08:41.000Z","id":"5AN9IofnlpHegeMV","name":"Telegram2VectorStore-Agent","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=\n{{ $json.query }}\n\n","hasOutputParser":true,"options":{"systemMessage":"You are an intelligent, concise AI assistant connected to Telegram via n8n. When a user sends a request via Telegram, follow this process:\n    Interpret the message: Understand the information or topic the user is asking about. If the user provides no information or topic ask him to provide one\n\n    Search with SerpAPI: Use SerpAPI to search the web for accurate, up-to-date information related to the request.\n\n    Summarize Clearly: Return a summary of the results (maximum 300 words) to the user on Telegram. Keep it clear, helpful, and easy to understand.\n\n    Ask for Approval: After sending the result, prompt the user:\n\n        “Would you like me to save this in your Pinecone knowledge base? Reply YES to store it.”\n\nAlways respond with a friendly, professional tone. Do not store any data without explicit approval.\n\n{{ $json.message }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-260,-300],"id":"3598d371-68dd-496d-a28c-6fe9bf9d526c","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,-80],"id":"a96c270a-cdc2-4e96-bdb6-7e8fdbfa9820","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.text }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-180,-80],"id":"bdabe97e-5fc5-4dca-a159-192278389eeb","name":"Simple Memory1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[-60,80],"id":"781b0e3b-31f5-4869-8ab1-34e202e34b35","name":"SerpAPI","credentials":{"serpApi":{"id":"NN3JSBSLvg2udMzb","name":"SerpAPI account 4"}}},{"parameters":{"operation":"sendAndWait","chatId":"7072233806","message":"={{ $json.output }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":5,"resumeUnit":"minutes"}}}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[140,-440],"id":"5055a9ce-4508-4dc3-a2b5-4298df706ab4","name":"Telegram1","webhookId":"7e550628-194f-44ca-9c8e-4139dd6f7ffd","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"3f9f0131-bfd1-485f-bf5d-866e789a7b70"}],"combinator":"and"},"renameOutput":true,"outputKey":"store"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[340,-440],"id":"00091dec-3c2b-4bd2-9273-61ae08000b89","name":"Switch"},{"parameters":{"chatId":"7072233806","text":"Saved!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1300,-300],"id":"9cb3c428-f50b-47c5-9835-f0a1577e85eb","name":"Telegram3","webhookId":"392d0eb5-eeab-4295-8f3b-91ea0a94680d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[820,-300],"id":"abb9de09-4e76-405f-a1b0-50a459c0fef4","name":"Pinecone Vector Store","alwaysOutputData":true,"credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[800,-80],"id":"7fb3fb6f-fa29-4c42-9a51-3c342aaed11f","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[920,-80],"id":"c0300bbf-9360-45bd-b480-e4f6eb172b89","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1020,120],"id":"8165a760-56fb-407d-be2a-a6e7b5369ec0","name":"Recursive Character Text Splitter"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $('AI Agent1').first().json;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-300],"id":"b35ca81f-6f6c-4ebc-a5de-19e0802b692f","name":"Code"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-620,-300],"id":"7aef7588-c64c-4362-b540-2e2f3cbeba8e","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Code":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Was ist ein Spatial Shader?"}}]},"versionId":"cc2473c4-39f7-4f78-8f50-133f2da7fc2c","triggerCount":0,"tags":[{"createdAt":"2025-04-11T12:32:26.478Z","updatedAt":"2025-04-11T12:32:26.478Z","id":"4Nmc4u6DVw4kFmGU","name":"AI-Agents"}]}