telegram-test-ZVgChKHo1urRFpDV.json
{"createdAt":"2025-04-22T05:20:28.165Z","updatedAt":"2025-04-28T05:10:49.000Z","id":"ZVgChKHo1urRFpDV","name":"Telegram TesT","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-480,100],"id":"6ea39051-b730-49f0-9bb2-38f54c2f8ac1","name":"Telegram Trigger","webhookId":"3e426361-ea9b-47c9-abee-34d72c9cbf9c","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"operation":"sendAudio","chatId":"7072233806","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1500,-260],"id":"cc00698a-e59f-4512-bb6f-ee2dd170aee6","name":"Telegram1","webhookId":"9c372ce6-b2e2-4cfc-b588-e85246c86a19","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"audio","operator":{"type":"string","operation":"contains"},"id":"1c97709a-c1c8-4ccb-beb4-8835783425b0"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d7c7ba4-5611-43b4-b993-42eb5eee16e3","leftValue":"={{ $json.output }}","rightValue":"Bild","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[880,-20],"id":"a1f043bf-66b8-4784-b643-ebd2f000d558","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.text }}{{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"You are a helpful assistant\n\nYou can answer to the Telegram message you received by utilizing the OpenAI Tool\nSend you answer as a Voice Audio via the proper tool\n\nWhen asked use the SerpeAPI tool to make a request\n\nIf you receive a audio file transcribe it and send it back via text"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[540,-40],"id":"37aaca24-5f32-4cda-8dce-c4a9b316d689","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,280],"id":"8bb9a98f-57fb-4b10-b70a-dd0369ea7662","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message }} {{$('Telegram Trigger').item.json.message }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[660,320],"id":"0aa5db1a-3ef9-44e7-8388-6fd19bae8f4e","name":"Simple Memory"},{"parameters":{"chatId":"7072233806","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[960,520],"id":"256a28d3-cadd-48c3-ae37-1c3bbf7f8998","name":"Telegram","webhookId":"29ee9d65-1ab9-44b2-8641-29d5508026ed","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1220,-140],"id":"ae04e38f-4b92-4c79-bd44-9c8706c102ea","name":"OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"resource":"image","prompt":"={{ $('AI Agent').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1240,80],"id":"32dede75-aa30-474c-aec7-ba6758c87d32","name":"OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"chatId":"7072233806","text":"=Fehler {{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,160],"id":"815e9c20-b17f-4c45-a361-5e20f91638f5","name":"Telegram2","webhookId":"9c372ce6-b2e2-4cfc-b588-e85246c86a19","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"operation":"sendPhoto","chatId":"7072233806","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,100],"id":"7e92ead4-591a-491c-867d-2892626d1064","name":"Telegram3","webhookId":"9c372ce6-b2e2-4cfc-b588-e85246c86a19","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"58ca8aba-21cf-4b32-9958-16b9730cea69"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-260,100],"id":"12dfb7e4-afd7-48db-aeae-29cac7e6a188","name":"Switch1"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,0],"id":"10523c53-f634-4f53-82a6-165e19244450","name":"Telegram4","webhookId":"20c18225-11d0-4625-a100-699a7bee5a70","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,-160],"id":"f253484a-9470-4274-b613-711f11f317c3","name":"OpenAI2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[820,300],"id":"b6201226-f7da-4e41-87f0-e0651e9647e6","name":"SerpAPI","credentials":{"serpApi":{"id":"NN3JSBSLvg2udMzb","name":"SerpAPI account 4"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"OpenAI1","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram":{"ai_tool":[[]]},"OpenAI":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"531aabf5-1af7-43f0-a922-305fafc767c1","triggerCount":1,"tags":[]}