telegramvectorstore---super-Xf31PFfJrUDzp2PY.json
{"createdAt":"2025-04-30T12:38:16.754Z","updatedAt":"2025-04-30T13:11:59.000Z","id":"Xf31PFfJrUDzp2PY","name":"TelegramVectorStore - Super","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-520,-300],"id":"0e51f604-978b-4c2a-a875-3e26be0c044a","name":"Telegram Trigger","webhookId":"98211803-13bd-41e4-9dd1-6c913c906f8b","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}\n","hasOutputParser":true,"options":{"systemMessage":"You are an intelligent, concise AI assistant connected to Telegram via n8n. When a user sends a request via Telegram use either of the Workflows linked in the Tools section to process the request\n   \nFirst use the \"Get\"-Workflow to check wether the topic is already present in the Database, if this is not the case then use the \"Store\"-Workflow\n{{ $json.message }}\n\nONLY ANSWER QUESTIONS BASED ON THE SerpAPI RESULTS OR ON THE DATA RETREIVED FROM THE VECTOR STORE DATABASE \n\nDO NOT HALLUCINATE"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-260,-300],"id":"84b60ee1-0d97-4901-92e3-1819b16ff9f5","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,-80],"id":"ddada195-9413-4b0d-8a32-0bb6ace8b8ed","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.text }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-180,-20],"id":"9fd2ea63-dffb-4cc8-8703-ab3110c6b102","name":"Simple Memory1"},{"parameters":{"name":"StoreData","description":"Call this tool to anser a question based on a SerpAPI call, then store the answer in a Pinecone Vector Store database","workflowId":{"__rl":true,"value":"5AN9IofnlpHegeMV","mode":"list","cachedResultName":"Telegram2VectorStore-Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-60,40],"id":"23b9b5ba-32c0-43cd-a19b-217608c08897","name":"Store"},{"parameters":{"name":"GetData","description":"Call this tool to receive an answer to a question based on data stored in a Pinecone Vector Store database","workflowId":{"__rl":true,"value":"GkQTReJdtXWkenJs","mode":"list","cachedResultName":"Vector2Telegram-Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[60,40],"id":"ba105325-b69c-4e2b-9607-bbc5217a06f4","name":"Get"},{"parameters":{"chatId":"7072233806","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[100,-300],"id":"3df3ac49-d315-4062-95ea-502c404bcaf0","name":"Telegram","webhookId":"73a643e5-b4e2-4445-8f34-69c72e729d8a","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Store":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Get":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f4506e1-2f10-488a-a4a8-0ff0fdc51386","triggerCount":1,"tags":[{"createdAt":"2025-04-11T12:32:26.478Z","updatedAt":"2025-04-11T12:32:26.478Z","id":"4Nmc4u6DVw4kFmGU","name":"AI-Agents"}],"myNewField":1}