vec2-report-kAgBcQ84bTqu4nSS.json
{"createdAt":"2025-06-06T10:03:33.382Z","updatedAt":"2025-06-06T10:06:50.000Z","id":"kAgBcQ84bTqu4nSS","name":"Vec2 Report","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1380,200],"id":"61879e67-56d3-4850-9bd2-0088a18eacc8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"name":"Query_Writer_Agent","description":"Verwende dieses Tool immer dann wenn du Suchanfragen erstellen musst.","workflowId":{"__rl":true,"value":"yvEQOhT4M4vJQhzS","mode":"list","cachedResultName":"Query Writer"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-1220,300],"id":"a810430e-6e9d-4c52-a21f-4c62d7f84d39","name":"Query_Writer_Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,120],"id":"d516ef86-bd8f-4c9e-ae7d-a51f2c99aa90","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Rechercheplan: {{ $json.output }}\n\nFeedback: {{ $('Text Classifier').item.json.output }}","options":{"systemMessage":"=Du bist ein Revisor Agent. Du bist Experte im verbessern von Rechercheplänen. Deine Aufgabe ist es, den Rechercheplan auf Basis des Feedbacks zu verbessern und korrekt anzupassen.\n\nFÜGEN SIE KEINE FÜLLER EIN, wie z. B. „Hier sind die wichtigsten Daten, die aus den bereitgestellten Informationen extrahiert wurden:“\n\nVerbessere Ausschließlich des Kapitel in dem eine Änderung vorgenommen werden muss.\n\n# Tool\nQuery_Writer_Agent = Verwende dieses Tool immer dann, wenn du Folgesuchanfragen generieren musst.\n\nJede Sektion sollte so aufgebaut sein:\n**Name**: Name der Sektion\n**Beschreibung**: Kurze Übersicht des Sektionsthemas (1-2 Sätze)\n**Suchanfragen**: Hier befinden die Suchanfragen pro Sektion für eine gezielte Recherche. Verwende das Tool 'Query_Writer_Agent1', um die Folgesuchanfrage/-n auf Basis des Feedbacks zu generieren. Erstelle KEINE EIGENEN Suchanfragen. Übernehme die Suchanfragen 1 zu 1 aus dem Tool.\n\nBevor du diesen Bericht ausgibst, überprüfe ihn auf korrektheit.Halt die Regeln für den Aufbau der Sektion und die Überschriften IMMER ein!\nBeispiel:\n1. Name: Unternehmensidentifikation\n   Beschreibung: Diese Sektion umfasst die grundlegende Identifikation von Porsche als Unternehmen mit Fokus auf rechtliche und regulatorische Informationen.\n   Suchanfragen: - Porsche + Unternehmensidentität OR Markenidentität + Werte OR Vision + Mission\\n - Porsche AG + Geschichte OR Meilensteine + Unternehmensstruktur + 2023"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[280,-80],"id":"d56a8235-e6da-48de-b6de-e02632bb9b19","name":"Revisor"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Hallo,\ndas ist der Rechercheplan für den Lead {{ $('APPLICANT').item.json.name }}, tätig im Unternehmen {{ $('APPLICANT').item.json.unternehmen }} mit dem Sitz in {{ $('APPLICANT').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('APPLICANT').item.json.notizen }}\nEmail Adresse des Leads: {{ $('APPLICANT').item.json.email }}\n\n**Rechercheplan**\n{{ $json.output }}\n\nIst er so in Ordnung oder soll noch explizit was anderes in der Recherche recherchiert werden?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1100,-260],"id":"5939f419-bbf7-4297-82f1-17b73ffdc832","name":"Human_in_the_loop_Report","webhookId":"90778467-2c99-4d1b-aca1-26fe77c22a1d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"inputText":"={{ $json.output }}","categories":{"categories":[{"category":"Angenommen","description":"Der Rechercheplan wurde vom Menschen akzeptiert und es müssen KEINE Änderungen vorgenommen werden. Der Rechercheplan darf so weitergegeben werden.\n\nBeispiel Sätze für das akzeptieren:\n\n\"Sehr gut.\"\n\"Sieht gut aus\"\n\"Weiter\"\n\"Das passt\"\n\"Gut so\"\n\"Keine Änderung nötig\""},{"category":"Abgelehnt","description":"Der Rechercheplan wurde vom Menschen abgelehnt und es müssen Änderungen vorgenommen werden. Der Rechercheplan darf NICHT weitergegeben werden.  Beispiel Sätze für das Ablehnen:\n\n\"Bitte ändere folgendes Kapitel\" \n\"Der Umsatz der letzten 3 Jahre soll auch recherchiert werden\" \n\"Passe das Kapitel an\" \n\"Nehme folgende Änderungen vor\" \n\"Es muss auch nach den Standort gesucht werden\" "}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-340,-260],"id":"5571d600-5fed-40fe-a751-6065e13229f0","name":"Text Classifier"},{"parameters":{"name":"Query_Writer_Agent","description":"Verwende dieses Tool immer dann wenn du Suchanfragen erstellen musst.","workflowId":{"__rl":true,"value":"QHtMu9wW9uNsNyBX","mode":"list","cachedResultName":"Query Writer1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[440,140],"id":"079ae984-372f-4c73-aea7-063973e3bc00","name":"Query_Writer_Agent1"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[1240,-80],"id":"276a3575-1f7b-40f5-9a8c-8da3e1736660","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1220,160],"id":"8c0559c3-d5b4-417c-baa1-391da07f4395","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1360,120],"id":"21d01d5a-0d61-4445-9357-a34853b89324","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1400,240],"id":"6817afda-09a2-40fd-a1df-be8bc9b91bb5","name":"Token Splitter"},{"parameters":{"assignments":{"assignments":[{"id":"6bf6a3df-169c-4743-a831-64584286d8b9","name":"feedback","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,-80],"id":"3a18d939-d858-4d65-9f33-4b08c7756e29","name":"Edit Fields"},{"parameters":{"mode":"retrieve-as-tool","toolName":"key_learnings_report","toolDescription":"Verwende dieses Tool immer dann, wenn du die Key Learnings abrufen möchtest bevor du den Rechercheplan erstellst","pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"topK":30,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[-1100,240],"id":"a65f47dc-568a-4097-ba7f-f7914ed65c91","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1040,460],"id":"fa208a05-3e92-4e7f-ae00-f58f9ad5453a","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=Feedback: {{ $json.feedback }}","messages":{"messageValues":[{"message":"Du bist ein Feedback Refine Agent. Deine Aufgabe ist es, Feedback von Menschen in Key Learnings umzuwandeln / umzuformulieren.\nZiel ist es, das Feedback in ein Key Learning in 1-3 Sätzen umzuschreiben.\nDas Key Learning soll Präzise und Prägnant sein.\nEs dürfen dabei keine Wichtigen Learnings verloren gehen.\n\nMerkliste:\n- Ersetze vollständige Namen z.B. Heinrich Schmidt, durch \"Lead\"\n- Ersetze Unternehmensnamen z.B. \"Porsche AG\", durch \"Unternehmen\"\n- Namen sollen verallgemeinert werden. \n- Gebe einfach das Key Learning aus, OHNE weitere Erklärungen.\n- Behalte Jahreszahlen, Maße, Mengeneinheiten immer bei! Beispiel: \"Es soll auch nach dem Umsatz der letzten 3 Jahre gesucht werden\" -> \"Key Learning: Es ist wichtig, nach dem Umsatz der letzten 3 Jahre zu suchen\"\n\nWichtig: Halte dich an die Merkliste! "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[860,-80],"id":"b888ed8a-ac38-4bfa-a0fc-ee2e490676a6","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-320,-60],"id":"06c261ec-c1b9-4bbf-b933-ca291d5c4d98","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,140],"id":"d9eb2e74-793b-4b1b-909d-7cbeae8d3fd4","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 =  $('revReport').first().json.report_var;\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Report_Planer_original').first()?.json?.output;\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,-280],"id":"7b530f9b-8e0d-4d55-82b1-f3a975e11dc8","name":"Code"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Hallo,\ndas ist der Rechercheplan für den Lead {{ $('APPLICANT').item.json.name }}, tätig im Unternehmen {{ $('APPLICANT').item.json.unternehmen }} mit dem Sitz in {{ $('APPLICANT').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('APPLICANT').item.json.notizen }}\nEmail Adresse des Leads: {{ $('APPLICANT').item.json.email }}\n\n**Rechercheplan**\n{{ $json.report_var }}\n\nIst er so in Ordnung oder soll noch explizit was anderes in der Recherche recherchiert werden?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,440],"id":"b8ae86b8-a787-49fb-9f12-314f9661a272","name":"Human_in_the_loop_Report1","webhookId":"90778467-2c99-4d1b-aca1-26fe77c22a1d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"jsCode":"let ai1;\n\ntry {\n  ai1 = $('GET_REPORT').first().json.output\n} catch (e) {\n  ai1 = null;\n}\n\nconst chosenOutput = ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,440],"id":"7c7d818b-d0c1-4486-a6d2-20d1cd9a260f","name":"Get inital Prompt"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $input.first().json.output_a0 || \"\";\n} catch {\n  ai1 = \"\";\n}\n\ntry {\n  ai2 = $input.first().json.output_rev || \"\";\n} catch {\n  ai2 = \"\";\n}\n\n// If there's nothing new, just return the original\nif (!ai2.trim()) {\n  return [{ json: { output: ai1.trim() } }];\n}\n\n// 1) Figure out ai2’s section number\nconst m = ai2.match(/^\\s*(\\d+)\\./);\nconst ai2Num = m ? parseInt(m[1], 10) : null;\n\n// 2) Split ai1 into chunks at each \"X. **Name**:\"  \n//    Any leading intro text will be chunk[0] without a number\nconst chunks = ai1\n  .split(/(?=\\d+\\. \\*\\*Name\\*\\*: )/g)\n  .map(s => s.trim())\n  .filter(s => s.length);\n\n// 3) Replace matching section or mark for append\nlet replaced = false;\nconst updated = chunks.map(chunk => {\n  const numMatch = chunk.match(/^\\s*(\\d+)\\./);\n  const num = numMatch ? parseInt(numMatch[1], 10) : null;\n\n  if (num !== null && num === ai2Num) {\n    replaced = true;\n    return ai2.trim();\n  }\n  return chunk;\n});\n\n// 4) If no replace happened and ai2Num is valid, append it\nif (!replaced && ai2Num !== null) {\n  updated.push(ai2.trim());\n}\n\n// 5) Sort all numbered chunks by their section number; keep any non-numbered intro at front\nfunction chunkKey(chunk) {\n  const m = chunk.match(/^\\s*(\\d+)\\./);\n  return m ? parseInt(m[1], 10) : -1;  // intro text gets -1 and stays first\n}\n\nupdated.sort((a, b) => chunkKey(a) - chunkKey(b));\n\n// 6) Join with two line breaks\nconst merged = updated.join(\"\\n\\n\").trim();\n\nreturn [\n  {\n    json: {\n      output: merged\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,440],"id":"18de922e-eb7b-41b3-ab43-40057ed00148","name":"Merger"},{"parameters":{"assignments":{"assignments":[{"id":"e53064c3-93d6-44dc-9329-26d6b55a8e0d","name":"Prompt4revise","value":"={{ $json.data.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,-260],"id":"9d8a23cd-1f7f-43a8-b79e-f63e80f36c77","name":"Prompt4revise"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 =  $input.first().json.data.text;//('Prompt4revise1').first().json.Prompt4revise\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Prompt4revise').first().json.Prompt4revise;\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,-260],"id":"0ccd6bdd-992d-4759-8d3f-d1ba9538220e","name":"PROMPT_GLOBAL"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $('revReport').first().json.report_var\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Report_Planer_original').first().json.output\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,-200],"id":"7c44dd6a-f859-4124-be7e-f7891467d7d3","name":"GET_REPORT"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4180,280],"id":"6bcebf6f-4774-4437-888f-104e3125a1bc","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"http://37.27.214.147:5001/emailCheck","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3800,280],"id":"019ee519-27f9-4e95-a703-80ede9efd588","name":"emailCheck"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"name\": \"Ada\",\n  \"vorname\": \"Borysiewicz\",\n  \"unternehmen\": \"Aoming GmBH & Co. KGaA\",\n  \"postleitzahl\": \"66713\",\n  \"email\": \"nsych@stowarzyszenie.com\",\n  \"notizen\": \"d\",\n  \"phone\": \"+48 2506130950\",\n  \"chatid\": 7072233806\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4020,280],"id":"08d61965-08ec-4e53-9147-c14e774a4004","name":"APPLICANT"},{"parameters":{"assignments":{"assignments":[{"id":"9f398bc6-40bf-457d-a63a-2f4e3dae174a","name":"report_var","value":"={{ $('Report_Planer_original').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,-260],"id":"072e4db0-1830-4216-8eae-05b4852d3df1","name":"initalReport"},{"parameters":{"assignments":{"assignments":[{"id":"9f398bc6-40bf-457d-a63a-2f4e3dae174a","name":"report_var","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,440],"id":"7aa57028-a4aa-4648-8779-075b5e06ccc7","name":"revReport"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Sorry but I didn't quite get that\n-------------------------\nDies ist der Rechercheplan für den Lead {{ $('APPLICANT').item.json.name }}, tätig im Unternehmen {{ $('APPLICANT').item.json.unternehmen }} mit dem Sitz in {{ $('APPLICANT').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('APPLICANT').item.json.notizen }}\nEmail Adresse des Leads: {{ $('APPLICANT').item.json.email }}\n\n**Rechercheplan**\n{{ $json.output }}\n\nIst er so in Ordnung oder soll noch explizit was anderes in der Rechercherecherchiert werden?","responseType":"freeText","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[20,0],"id":"df188516-9c7e-4ea6-b838-06a031c0b7f4","name":"nonsensicalInput","webhookId":"b1d2890b-e852-43e4-ab71-be6e914d1742","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"191d54a7-503c-4b90-a95d-9fc92694693b","name":"output_a0","value":"={{ $json.output }}","type":"string"},{"id":"13d91e61-2675-48ad-9e87-c4c8d0f82dd0","name":"output_rev","value":"={{ $('Revisor').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,440],"id":"ff6dc0b0-d7ed-4341-8dfb-cc23e125984a","name":"getReports"},{"parameters":{"jsCode":"let ai1, ai2;\n\ntry {\n  ai1 = $('revReport').first().json.report_var\n} catch (e) {\n  ai1 = null;\n}\n\ntry {\n  ai2 = $('Report_Planer_original').first().json.output\n} catch (e) {\n  ai2 = null;\n}\n\nconst chosenOutput = (ai1 == null) ? ai2 : ai1;\n\nreturn [\n  {\n    json: {\n      output: chosenOutput ?? 'No output available from either agent'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,0],"id":"c7a18124-02b7-4edb-961c-290ac3f266f9","name":"GET_REPORT1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96067c14-2680-4c00-bcda-3df26d2f7ffc","leftValue":"={{ $json.valid }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3600,280],"id":"fe5c1cd7-4268-403d-b6f6-89dd1e60c33c","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ca4bc5f-5fd3-43d1-842e-313686de0960","leftValue":"={{ $json.data.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3220,300],"id":"7abeda13-fc26-4fc1-8dca-0126f6ba7b86","name":"If1"},{"parameters":{"jsCode":"return {\n  json: {\n    name: $('APPLICANT').first().json.name,\n    vorname: $('APPLICANT').first().json.vorname,\n    unternehmen: $('APPLICANT').first().json.unternehmen,\n    postleitzahl: $('APPLICANT').first().json.postleitzahl,\n    email: $('APPLICANT').first().json.email,\n    phone: $('APPLICANT').first().json.phone\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2580,420],"id":"e0ca5e56-23ce-4865-8628-6d5905f15e3b","name":"dataAssemble"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*)\nFROM bewerber;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2160,0],"id":"7cf79ea3-828c-464c-8e5b-a91b4864b454","name":"Postgres1","alwaysOutputData":true,"credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"var anzahl = parseInt($input.first().json.count);\n\nif (isNaN(anzahl)) {\n  anzahl = 0;\n}\n\nfor (const item of $input.all()) {\n  item.json.myNewField = anzahl + 1;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,0],"id":"e37f171c-4c3c-42c6-a5f2-2c1d7e95cc63","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"8162f374-553e-49f1-b276-c7e7c954415b","name":"myNewField","value":"={{ $json.myNewField }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1820,0],"id":"fe65a6df-a967-4968-bad3-dcd8468e705a","name":"Edit Fields1"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=Email matches \"Spammail\"-Dataset:\n\n {{ $('APPLICANT').item.json.email }}\n\nDo you want to continue?","approvalOptions":{"values":{"approvalType":"double","disapproveLabel":"❌BAN USER"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3400,300],"id":"912c118f-62e8-4427-9fef-961ef0948acb","name":"Telegram","webhookId":"d0d8c5db-cd7b-4f04-8c2e-69df3338fe1a","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"workflowId":{"__rl":true,"value":"UxxSkcUA83AeoxrQ","mode":"list","cachedResultName":"Research_Agent_Final"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[420,-280],"id":"7ce0fe2c-980f-4c46-ae55-ca5ca7851a0c","name":"Research_Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"iD0V0RqhWk1Lzgh7","mode":"list","cachedResultName":"Sektion_Prüfer_Final"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[580,-280],"id":"1fa30706-a05f-4bf3-9892-d79c622f173f","name":"Prüfer_Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"td1LtY1KiNzUN2qM","mode":"list","cachedResultName":"Final_Email_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[740,-280],"id":"8842f649-4efe-4cf2-b70b-648ca6776df7","name":"Email_Agent"},{"parameters":{"promptType":"define","text":"=Name des Leads: {{ $('APPLICANT').item.json.name}}\nDas Unternehmen des Leads: {{ $('APPLICANT').item.json.unternehmen }}\nDie Postleitzahl: {{ $('APPLICANT').item.json.postleitzahl }}\nDie Email-Adresse: {{ $('APPLICANT').item.json.email }}\nNotizen: {{ $('APPLICANT').item.json.notizen }}\n\nThis is the Vector Tool Database content:\n {{ $json.pageContent }}","options":{"systemMessage":"=You are a helpful assistant\n\n\nBase your reasoning on the entries in the Vector Store Database. Look for patterns in names, company names, postleitzahl, email, phone number. \nAlso factor in that the applicant could be slightly changed, e.g. by changing the First name or the Phone number\n\nTake a look at the \"banned\"-property for this.\nif a similar or exact user exists that is set to \"Banned\" (aka. Banned = true) Point this out\n\n\n\nKEEP IN MIND: A person having the same name as a already present entry does not mean they are an exact match as some people have same last and / or first names \n\nreturn a crediblity analysis in the form of the following pattern:\n1. exact matches found: [list ONLY EXACT MATCHES HERE]\n2. similar matches found: [list matches here that appear to be similar]\n3. Harmfull patterns:\n4. Suspicious patterns:\n5. Similarity: [compare how similar the Applicant is to users in the \"banned\"-category and how similar he is to users in the \"not banned\"-category (0 for \"not similar at all\", 100 for exact matches) the score rangs from 0 to 100]\n6. Should the user be set to banned? Yes or no\n\n\nALSO: keep in mind: the abscene of similar entries or matches SHOULD NOT cause concern\n\nDO NOT HALLUCINATE\nBASE YOUR REASONING ON THE DATA PROVIDED\n\nWrite your reasoning down and pass it along\nKEEP IN MIND: not every entry in the database is credible, some are set to \"banned\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-2960,-160],"id":"57f317a1-97f1-47e5-ae60-019ab2f901be","name":"credCheck"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"bewerber","mode":"list","cachedResultName":"bewerber"},"columns":{"mappingMode":"defineBelow","value":{"leadnr":"={{ $('Code2').item.json.myNewField }}","vorname":"={{ $('APPLICANT').item.json.vorname }}","name":"={{ $('APPLICANT').item.json.name }}","firma":"={{ $('APPLICANT').item.json.unternehmen }}","email":"={{ $('APPLICANT').item.json.email }}","plz":"={{ $('APPLICANT').item.json.postleitzahl }}","phone":"={{ $('APPLICANT').item.json.phone }}","banned":true},"matchingColumns":["leadnr"],"schema":[{"id":"leadnr","displayName":"leadnr","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"vorname","displayName":"vorname","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"firma","displayName":"firma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"plz","displayName":"plz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"banned","displayName":"banned","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1780,420],"id":"d41ba031-f909-45c8-a1e4-1ee654100750","name":"Postgres2","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2940,60],"id":"2a61bea2-a767-4f8c-92ba-c165b2cd9706","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ca4bc5f-5fd3-43d1-842e-313686de0960","leftValue":"={{ $json.data.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2340,20],"id":"7aec80b8-202f-4872-a8fd-4030e05c6684","name":"If4"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"bewerber","mode":"list","cachedResultName":"bewerber"},"columns":{"mappingMode":"defineBelow","value":{"leadnr":"={{ $json.myNewField }}","vorname":"={{ $('APPLICANT').item.json.vorname }}","name":"={{ $('APPLICANT').item.json.name }}","firma":"={{ $('APPLICANT').item.json.unternehmen }}","email":"={{ $('APPLICANT').item.json.email }}","plz":"={{ $('APPLICANT').item.json.postleitzahl }}","phone":"={{ $('APPLICANT').item.json.phone }}","banned":false},"matchingColumns":["leadnr"],"schema":[{"id":"leadnr","displayName":"leadnr","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"vorname","displayName":"vorname","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"firma","displayName":"firma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"plz","displayName":"plz","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"banned","displayName":"banned","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1600,0],"id":"a51d8fc1-19f9-45f2-a03c-732deae9551f","name":"Postgres","credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*)\nFROM bewerber;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2400,420],"id":"4b474684-3b3c-42a6-8f50-5784e82d2e3f","name":"Postgres3","alwaysOutputData":true,"credentials":{"postgres":{"id":"G2tEQddYhLD6YJ3c","name":"Postgres account 3"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"var anzahl = parseInt($input.first().json.count);\n\nif (isNaN(anzahl)) {\n  anzahl = 0;\n}\n\nfor (const item of $input.all()) {\n  item.json.myNewField = anzahl + 1;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2220,420],"id":"9f3f5726-7312-4055-80f7-8f74fcca175f","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"8162f374-553e-49f1-b276-c7e7c954415b","name":"myNewField","value":"={{ $json.myNewField }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2020,420],"id":"1555988d-2273-406c-915c-104768ffcfa7","name":"Edit Fields2"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('APPLICANT').item.json.chatid }}","message":"=!ACHTUNG!\n\nHallo,\ndas ist das Ergebnis des CrediblityCheckers für den Lead {{ $('APPLICANT').item.json.name }}, tätig im Unternehmen {{ $('APPLICANT').item.json.unternehmen }} mit dem Sitz in {{ $('APPLICANT').item.json.postleitzahl }}.\nZusätzlich gab er folgende Notizen an:\n{{ $('APPLICANT').item.json.notizen }}\nEmail Adresse des Leads: {{ $('APPLICANT').item.json.email }}\n\n**Sanktionscheck Ergenis**\n{{ $json.output }}\n\nSoll der Prozess fortgeführt werden?","approvalOptions":{"values":{"approvalType":"double","approveLabel":"✅ CONTINUE","disapproveLabel":"❌ BAN USER"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2540,20],"id":"0d13465c-a068-49c5-a94c-55488cfffcd8","name":"HITL_cred","webhookId":"90778467-2c99-4d1b-aca1-26fe77c22a1d","credentials":{"telegramApi":{"id":"wzDtcjspHh2M75nq","name":"Telegram account 2"}}},{"parameters":{"promptType":"define","text":"=Name des Leads: {{ $('APPLICANT').item.json.name}}\nDas Unternehmen des Leads: {{ $('APPLICANT').item.json.unternehmen }}\nDie Postleitzahl: {{ $('APPLICANT').item.json.postleitzahl }}\nDie Email-Adresse: {{ $('APPLICANT').item.json.email }}\nNotizen: {{ $('APPLICANT').item.json.notizen }}\n\n\nchatid: {{ $('APPLICANT').item.json.chatid }}","options":{"systemMessage":"=Du bist ein Lead Agent und Experte im Erstellen von Rechercheplänen. Ziel ist es einen gut Strukturierten Rechercheplan zu erstellen. Halte dabei alle bereits vorgegeben Suchanfragen ein.\n\n<Task>\nErstelle eine Liste von Sektionen, die in der Recherche abgearbeitet werden sollen.\n\nBevor du den Rechercheplan erstellst, werde dir der Key Learnings bewusst und beziehe diese in den Rechercheplan mit ein. Um die Key Learnings abzurufen, verwende das Tool 'Pinecone Vector Store'.\nFahre dann mit dem erstellen des Rechercheplans fort.\n\n<Aufbau Sektionen>\nDas sind die Themen für die eine Recherche durchgeführt werden muss:\n1/ Das Unternehmen {{ $('APPLICANT').item.json.unternehmen }}\n• Unternehmenswebsite\n• CEO / Geschäftsführer / Geschäftsleitung\n• Allgemeine Informationen\n-> 1 Gezielte Suchanfrage für die Unternehmenswebsite: {{ $('APPLICANT').item.json.unternehmen }} AND {{ $('APPLICANT').item.json.postleitzahl }}\n\n2/ Finanzielle Kennzahlen\n• Handelsregisternummer\n• Finanzielle Kennzahlen\n• Historie\n• Rechtsform\n-> NUR eine gezielte Suchanfrage für diese Sektion: site:northdata.de ({{ $('APPLICANT').item.json.unternehmen }} AND {{ $('APPLICANT').item.json.postleitzahl }})\n\n3/ Lead: Social Media Profile und Allgemeines\n• Allgemeine Informationen über {{ $('APPLICANT').item.json.name }} aus {{ $('APPLICANT').item.json.postleitzahl }}\n• Social Media Profile\n-> 4 gezielte Suchanfragen für die Social Media Profile:\nsite:de.linkedin.com ({{ $('APPLICANT').item.json.name }} AND {{ $('APPLICANT').item.json.postleitzahl }})\nsite:de.xing.com ({{ $('APPLICANT').item.json.name }} AND {{ $('APPLICANT').item.json.postleitzahl }})\nsite:instagram.com ({{ $('APPLICANT').item.json.name }} AND {{ $('APPLICANT').item.json.postleitzahl }})\nsite:x.com ({{ $('APPLICANT').item.json.name }} AND {{ $('APPLICANT').item.json.postleitzahl }})\n\n4/ News\n• Insolvenzverfahren / Mahnverfahren\n• Gerichtsverhandlungen / Skandale\n• Kooperationen / Partnerschaften\n• Akquisition / Investement\n• Geschäftsführerwechsel\n\n5/ Reviews\n• Google Reviews, Trustpilot Reviews, Kununu Reviews\n-> 3 Gezielte Suchanfragen für die Reviews:\n\"{ \\\"q\\\": \\\"={{ $('APPLICANT').item.json.unternehmen }}\\\" } -> (Für Google Reviews)\nsite:de.trustpilot.com/review/{{ $('APPLICANT').item.json.unternehmen }}\nsite:kununu.com/de/{{ $('APPLICANT').item.json.unternehmen }}\n<Aufbau Sektionen>\n\nJede Sektion sollte so aufgebaut sein:\n**Name**: Name der Sektion\n**Beschreibung**: Kurze Übersicht des Sektionsthemas (1-2 Sätze)\n**Suchanfragen**: Hier befinden sich die Suchanfragen der Sektionen. Verwende das Tool 'Query_Writer_Agent', um diese Suchanfragen zu generieren.\n\nHalt die Regeln für den Aufbau der Sektion und die Überschriften IMMER ein!\nBeispiel:\n1. Name: Unternehmensidentifikation\n   Beschreibung: Diese Sektion umfasst die grundlegende Identifikation von Porsche als Unternehmen mit Fokus auf rechtliche und regulatorische Informationen.\n   Suchanfragen: Die Suchanfragen\n</Task>\n\nWICHTIG: Behalte die vorgefertigten Suchanfragen bei den Sektionen Das Unternehmen, Finanzielle Kennzahlen, Lead und Reviews IMMER bei!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1400,0],"id":"a299ba83-fd8d-4fcf-9d89-affd0b41538c","name":"Report_Planer_original"},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"aitrain001","mode":"list","cachedResultName":"aitrain001"},"prompt":"You can retreive data from a Vector Store  the data is structuresd as follows: [full name] from [plz] at [companyname] who has the contact info [email] and [phone] is [banned / notbanned].   Your task is to find patterns to determine a connection between the banned bool and the other values","topK":300,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[-3480,-160],"id":"632ae417-6d11-42e7-a6cd-efcfe4312193","name":"Pinecone Vector Store3","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3460,40],"id":"a0ed132b-3c37-4c07-a67c-b5ffe0b63e54","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"document.pageContent"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3160,-160],"id":"7bdd4fa7-66fb-47ad-942b-1c5cd188e6d3","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1340,980],"id":"47ce9263-878e-4340-98fc-07b3269224bb","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1200,940],"id":"74f74b58-188f-4278-9e38-b6d8df28a68f","name":"Default Data Loader1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[-1160,1060],"id":"5df024ba-76d9-4c7a-bf09-7f4bee722fd5","name":"Token Splitter1"},{"parameters":{"promptType":"define","text":"=Feedback: {{ $json.name }}{{ $json.unternehmen }}{{ $json.postleitzahl }}{{ $json.email }}{{ $json.phone }}{{ $json.banned }}","messages":{"messageValues":[{"message":"Transfrom the provided data into one sentence that contains the important info. [full name] from [plz] at [companyname] who has the contact info [email] and [phone] is banned."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-1700,740],"id":"bd165960-5c5b-44fa-8f13-e440bc0b9ed2","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1680,960],"id":"25e351fd-34b2-46c1-9a5b-81402a0f07ea","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"assignments":{"assignments":[{"id":"bfa23b3d-291a-4dfe-b8fa-db7e31e71976","name":"name","value":"={{ $('dataAssemble').item.json.name }}{{ $('dataAssemble').item.json.vorname }}","type":"string"},{"id":"8d3fd4b1-d21e-4b31-b18c-245f4cd33e5c","name":"unternehmen","value":"={{ $('dataAssemble').item.json.unternehmen }}","type":"string"},{"id":"bdd31876-fcce-4a93-8d97-9caaef681785","name":"postleitzahl","value":"={{ $('dataAssemble').item.json.postleitzahl }}","type":"string"},{"id":"9b136686-e0a2-429f-8891-9ead1f0526cc","name":"email","value":"={{ $('dataAssemble').item.json.email }}","type":"string"},{"id":"7ffb85f1-4fac-454c-ba2d-02037a5d641f","name":"phone","value":"={{ $('dataAssemble').item.json.phone }}","type":"string"},{"id":"8d99c4c2-c980-4148-89fc-d707cd124eb4","name":"banned","value":"true","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,740],"id":"e513e1c7-66b7-4cde-8ce7-c2f9ff93f858","name":"Edit Fields3"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"susapplicant","mode":"list","cachedResultName":"susapplicant"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[-1320,740],"id":"897990fd-5277-4596-9215-668eeb9bcca9","name":"susApplicant","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1660,-340],"id":"92825939-9bb5-489b-97fa-4225908d2da9","name":"Embeddings OpenAI4","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1520,-380],"id":"ec0b15fc-3e32-4087-a761-2cfab67b682e","name":"Default Data Loader2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[-1500,-200],"id":"d2065a71-9227-4b4d-9c92-fb941ac905a3","name":"Token Splitter2"},{"parameters":{"promptType":"define","text":"=Feedback: {{ $json.name }}{{ $json.unternehmen }}{{ $json.postleitzahl }}{{ $json.email }}{{ $json.phone }}{{ $json.banned }}","messages":{"messageValues":[{"message":"Transfrom the provided data into one sentence that contains the important info. [full name] from [plz] at [companyname] who has the contact info [email] and [phone] is NOT banned."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-2020,-580],"id":"c49948d1-aeb7-4fdf-ba8f-9ea21da2a78f","name":"Basic LLM Chain2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2000,-360],"id":"5a4e7129-e036-48bc-b4d8-c8f5384a491d","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"assignments":{"assignments":[{"id":"bfa23b3d-291a-4dfe-b8fa-db7e31e71976","name":"name","value":"={{ $('APPLICANT').item.json.name }}{{ $('APPLICANT').item.json.vorname }}","type":"string"},{"id":"8d3fd4b1-d21e-4b31-b18c-245f4cd33e5c","name":"unternehmen","value":"={{ $('APPLICANT').item.json.unternehmen }}","type":"string"},{"id":"bdd31876-fcce-4a93-8d97-9caaef681785","name":"postleitzahl","value":"={{ $('APPLICANT').item.json.postleitzahl }}","type":"string"},{"id":"9b136686-e0a2-429f-8891-9ead1f0526cc","name":"email","value":"={{ $('APPLICANT').item.json.email }}","type":"string"},{"id":"7ffb85f1-4fac-454c-ba2d-02037a5d641f","name":"phone","value":"={{ $('APPLICANT').item.json.phone }}","type":"string"},{"id":"8d99c4c2-c980-4148-89fc-d707cd124eb4","name":"banned","value":"false","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2200,-580],"id":"a40d7c8d-f58e-4d4c-96ee-e49a016bad06","name":"Edit Fields4"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"susapplicant","mode":"list","cachedResultName":"susapplicant"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[-1640,-580],"id":"eb189394-53f5-4647-bd2b-c54b24cb26e0","name":"susApplicant1","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Report_Planer_original","type":"ai_languageModel","index":0}]]},"Query_Writer_Agent":{"ai_tool":[[{"node":"Report_Planer_original","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Revisor","type":"ai_languageModel","index":0}]]},"Revisor":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Get inital Prompt","type":"main","index":0}]]},"Human_in_the_loop_Report":{"main":[[{"node":"Prompt4revise","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"GET_REPORT","type":"main","index":0}],[{"node":"GET_REPORT1","type":"main","index":0}]]},"Query_Writer_Agent1":{"ai_tool":[[{"node":"Revisor","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"Report_Planer_original","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Human_in_the_loop_Report1":{"main":[[{"node":"PROMPT_GLOBAL","type":"main","index":0}]]},"Get inital Prompt":{"main":[[{"node":"getReports","type":"main","index":0}]]},"Merger":{"main":[[{"node":"revReport","type":"main","index":0}]]},"Prompt4revise":{"main":[[{"node":"initalReport","type":"main","index":0}]]},"PROMPT_GLOBAL":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"GET_REPORT":{"main":[[{"node":"Revisor","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"APPLICANT","type":"main","index":0}]]},"emailCheck":{"main":[[{"node":"If","type":"main","index":0}]]},"APPLICANT":{"main":[[{"node":"emailCheck","type":"main","index":0}]]},"initalReport":{"main":[[{"node":"PROMPT_GLOBAL","type":"main","index":0}]]},"revReport":{"main":[[{"node":"Human_in_the_loop_Report1","type":"main","index":0}]]},"nonsensicalInput":{"main":[[{"node":"PROMPT_GLOBAL","type":"main","index":0}]]},"getReports":{"main":[[{"node":"Merger","type":"main","index":0}]]},"GET_REPORT1":{"main":[[{"node":"nonsensicalInput","type":"main","index":0}]]},"If":{"main":[[{"node":"Pinecone Vector Store3","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"If1":{"main":[[{"node":"credCheck","type":"main","index":0}],[{"node":"dataAssemble","type":"main","index":0}]]},"dataAssemble":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"If1","type":"main","index":0}]]},"Research_Agent":{"main":[[{"node":"Prüfer_Agent","type":"main","index":0}]]},"Prüfer_Agent":{"main":[[{"node":"Email_Agent","type":"main","index":0}]]},"Code":{"main":[[{"node":"Research_Agent","type":"main","index":0}]]},"credCheck":{"main":[[{"node":"HITL_cred","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"credCheck","type":"ai_languageModel","index":0}]]},"If4":{"main":[[{"node":"Postgres1","type":"main","index":0},{"node":"Edit Fields4","type":"main","index":0}],[{"node":"dataAssemble","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Report_Planer_original","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Postgres2","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}]]},"HITL_cred":{"main":[[{"node":"If4","type":"main","index":0}]]},"Report_Planer_original":{"main":[[{"node":"Human_in_the_loop_Report","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Pinecone Vector Store3":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"credCheck","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"susApplicant","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"susApplicant","type":"ai_document","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"susApplicant","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Edit Fields3":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"susApplicant1","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"susApplicant1","type":"ai_document","index":0}]]},"Token Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"susApplicant1","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Edit Fields4":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bbf59042-507c-4316-b147-6cb5887a6838","triggerCount":0,"shared":[{"createdAt":"2025-06-06T10:03:33.393Z","updatedAt":"2025-06-06T10:03:33.393Z","role":"workflow:owner","workflowId":"kAgBcQ84bTqu4nSS","projectId":"NrQd9r8oMpFtZnHg","project":{"createdAt":"2025-03-27T22:05:44.195Z","updatedAt":"2025-03-28T11:50:14.003Z","id":"NrQd9r8oMpFtZnHg","name":"Lukas Lindner <lindner20356@hs-ansbach.de>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T22:05:44.214Z","updatedAt":"2025-03-27T22:05:44.214Z","role":"project:personalOwner","userId":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","projectId":"NrQd9r8oMpFtZnHg","user":{"createdAt":"2025-03-27T22:05:44.182Z","updatedAt":"2025-04-25T10:38:49.888Z","id":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","email":"lindner20356@hs-ansbach.de","firstName":"Lukas","lastName":"Lindner","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-28T11:50:51.570Z","personalization_survey_n8n_version":"1.82.3","companyType":"personal","reportedSource":"other","reportedSourceOther":"I was invited "},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZVgChKHo1urRFpDV","userActivated":true,"userActivatedAt":1745299771787,"npsSurvey":{"responded":true,"lastShownAt":1745577527257}},"role":"global:member","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":false}}]}}],"tags":[{"createdAt":"2025-05-26T14:49:19.860Z","updatedAt":"2025-05-26T14:49:19.860Z","id":"eWj7CxPYDLbyRWwy","name":"GrenkeWeek2"}]}