vector2telegram-agent-GkQTReJdtXWkenJs.json
{"createdAt":"2025-04-30T12:37:27.622Z","updatedAt":"2025-05-02T15:03:33.000Z","id":"GkQTReJdtXWkenJs","name":"Vector2Telegram-Agent","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a helpful assistant\n\nAnswer the questions asked only based on the information you can know about based on the vector store\n\ndo not halluciante if you do not know something say so\n\nONLY ANSWER QUESTIONS BASED O THE DATA RETREIVED FROM THE VECTOR STORE DATABASE \n\nDO NOT HALLUCINATE"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[300,280],"id":"fdc09437-1f6f-4295-b5e3-64ff8c8af4b9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[180,560],"id":"0a17332e-3318-4e3c-a5b0-a308e17031e5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[300,560],"id":"4e5ceecf-d15c-4220-ba89-63c811cc66c4","name":"Simple Memory"},{"parameters":{"name":"text","description":"Rufe dieses Tool auf, um auf die Datenbank zuzugreifen und die\nFragen des Nutzers zu beantworten."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[420,560],"id":"936302f2-4a5a-4d57-84ff-c2cb758fd207","name":"Answer questions with a vector store"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[620,760],"id":"f6c9b968-f635-4d96-8bea-4780af16700f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[420,960],"id":"a1bdc4cd-27cb-48d9-9145-3291e8d4822f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wopwnpWR6PadHIgT","name":"OpenAi account 11"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"telegram-test","mode":"list","cachedResultName":"telegram-test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[320,760],"id":"4ce92b0e-7787-4c99-8fe3-692fe2856343","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"g9lENA5C2WnMM8Xs","name":"PineconeApi account 4"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-120,280],"id":"fd56e7c7-c984-4955-a0b5-bc689091b568","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3890a4be-2a66-4000-a04e-899052b811e7","triggerCount":3,"tags":[{"createdAt":"2025-04-11T12:32:26.478Z","updatedAt":"2025-04-11T12:32:26.478Z","id":"4Nmc4u6DVw4kFmGU","name":"AI-Agents"}],"myNewField":1}